<!-- CONTENT PARAM -->
<fieldset class="x_content">
    <form action="javascript:void(0)" name="param" novalidate>

        <!-- PARAGRAPHE -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="idParagraphe">Paragraphe</label>
            <select class="form-control" name="idParagraphe" id="idParagraphe" required>
                <option value="" hidden></option>
            </select>
            <span class="valid-nebula"></span>
        </div>

        <!-- BUTTONS -->
        <div class="col-xs-offset-8">
            <button type="button" class="btn-nebula-default" id="reset_form_param">annuler</button>
            <button type="button" class="btn-nebula" id="valid_form_param" disabled>valider</button>
        </div>

        <!-- TYPE DOCUMENT -->
        <input type="hidden" name="idTypeDocument" value="{{ typeDocument?? '' }}">

    </form>
</fieldset>

{% include '@admin/document/panneau/blocks/paragraphe/element/list.html.twig' %}


