<div class="col-xs-12" id="nebula_content">
    <button type="button" class="btn-nebula" data-dismiss="modal" id="addProcess">Nouveau</button>
    <div class="x_panel">
        <div class="x_title">
            <h2>Processus</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="x_content">
                <div class="table-responsive">
                    <table id='datatable-process' data-table-process="{{ listProcess is defined and listProcess is not null ? listProcess|json_encode : '' }}" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Libellé</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <!-- CONTENT PROCESS -->
                        <!-- Regardez le fichier admin.js pour travailler sur le contenu du tableau -->
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>