<!-- MENU ACTION -->
<nav class="navbar navbar-fixed-right navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate menu-pendant">

        <!-- FUNCTION TO PAGE DETAIL -->
        {% if app.request.requestUri matches '/salaries\\/detail/' %}

            <li>
                <a href="javascript:void(0)" class="btn-imprimer">
                    <span class="desc animate">Imprimer</span>
                    <span class="fa fa-print"></span>
                </a>
            </li>

            <li>
                <a href="javascript:void(0)" class="btn-perte-site">
                    <span class="desc animate">Perte de site</span>
                    <span class="fa fa-hand-o-right"></span>
                </a>
            </li>

            <li>
                <a href="javascript:void(0)" class="btn-email">
                    <span class="desc animate">Envoyer e-mail</span>
                    <span class="fa fa-envelope"></span>
                </a>
            </li>

            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_SALARIE_ADMIN']) %}
                <li>
                    <a href="javascript:void(0)" class="btn-supprimer">
                        <span class="desc animate">Supprimer</span>
                        <span class="fa fa-trash"></span>
                    </a>
                </li>
            {% endif %}

        {% endif %}

        {% if app.request.requestUri matches '/salaries\\/inactif\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_SALARIE_ADMIN']) %}
            <li>
                <a href="javascript:void(0)" class="btn-reactiver">
                    <span class="desc animate">Réactiver</span>
                    <span class="fa fa-recycle" style="font-size: 16px"></span>
                </a>
            </li>
        {% endif %}

        <!-- LIST OF CONTRACT SAVED -->
        <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">
                <span class="desc animate">Contrats</span>
                <span class="fa fa-folder-open"></span>
            </a>
            <ul class="dropdown-menu animated slideInRight" role="menu" id="list_contrat_saved"></ul>
        </li>
    </ul>
</nav>