{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block page_content %}

    {% include '@salarie/gestion/breadcrumb.html.twig' %}
<!-- CONTENT -->
<div class="row">

<!-- TITLE PANEL -->
<div class="col-xs-12">
    <div class="block-nebula-title">
        <h1>{{ page_title }}</h1>
    </div>
</div>

</div>

{% endblock  %}

{% block modals %}

    <!-- MODAL NIR -->
    {% include '@salarie/gestion/modal/nir/index.html.twig' %}

{% endblock %}

{% block javascripts %} {% endblock javascripts %}