<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('mosaic_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('salarie_index') }}">Gestion des salariés</a></li>
        {% if app.request.requestUri matches '/salaries\\/cartepro\\/liste/'  %}
            <li class="breadcrumb-item"><a href="{{ path('salarie_detail', {idMatricule : salarie.idMatricule}) }}">Fiche salarié</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>