{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@cartepro/breadcrumb.html.twig' %}
    {% endblock %}


    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula">

                {% if app.request.requestUri matches '/salaries\\/cartepro\\/liste/'  %}
                    {% include "@cartepro/gestion/blocks/block_info.html.twig" %}
                {% endif %}

                {% include '@cartepro/list.html.twig' %}

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- /CONTENT -->

{% endblock %}


{% block modals %} {% endblock %}


{% block javascripts %}{% endblock javascripts %}