<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des cartes professionnelles </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {% if app.request.requestUri matches '/salaries\\/cartepro\\/liste/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CARTEPRO_ADMIN']) %}

                <!-- BUTTON ADD -->
                <div class="col-xs-12">
                    <button id="create_cartepro" class="btn-nebula alignright">
                        Créer une carte pro
                    </button>
                </div>

            {% endif %}

            <!-- LIST OF CARTE PRO -->
            <table id="datatable-cartepro" data-table-cartepro="{{ listCartepro|json_encode }}" class="table table-striped table-bordered table-responsive nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Matricule</th>
                    <th>Nom Complet</th>
                    <th>Numéro de carte</th>
                    <th>Agence</th>
                    <th>Date début validité</th>
                    <th>Date fin validité</th>
                    <th>Date dernier contrôle</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
                <!-- CONTENT CARTEPRO -->
                <!-- Regardez le fichier table_cartepro.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>