<!DOCTYPE html>
<html lang="fr|en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page_title }} </title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Animate.css -->
    <link href="{{ asset('assets/vendors/animate.css/animate.min.css') }}" rel="stylesheet">

    <!-- Bootstrap Progressbar -->
    <link href="{{ asset('assets/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">

    <!-- NProgress -->
    <link href="{{ asset('assets/vendors/nprogress/nprogress.css') }}" rel="stylesheet">

    <!-- iCheck -->
    <link href="{{ asset('assets/vendors/iCheck/skins/flat/green.css') }}" rel="stylesheet">

    <!-- PNotify -->
    <link href="{{ asset('assets/vendors/pnotify/dist/pnotify.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/pnotify/dist/pnotify.nonblock.css') }}" rel="stylesheet">

    <!-- Select2 -->
    <link href="{{ asset('assets/vendors/select2/dist/css/select2.min.css') }}" rel="stylesheet">

    <!-- Switchery -->
    <link href="{{ asset('assets/vendors/switchery/dist/switchery.min.css') }}" rel="stylesheet">

    <!-- Crop Image -->
    <link href="{{ asset('assets/js/cropImage/css/cropImage.css') }}" rel="stylesheet">

    <!-- Datatables -->
    <link href="{{ asset('assets/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('dist/css/custom.min.css') }}" rel="stylesheet">
    <link href="{{ asset('dist/css/nebula.min.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock stylesheets %}


</head>

<body class="nav-sm">
    <div class="container body">
        <div class="main_container">

            <!-- SIDEBAR -->
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        {% block site_title %}{% endblock %}
                    </div>

                    <div class="clearfix"></div>

                    <!-- INFO PROFILE -->
                    {% include 'app/sidebar/info.html.twig' %}

                    <div class="clearfix"></div>

                    <!-- SIDEBAR MENU -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                {% block sidebar_menu %} {% endblock %}
                            </ul>
                        </div>

                    </div>

                    <!-- menu footer buttons -->
                    {% include 'app/sidebar/footer.html.twig' %}

                </div>
            </div>


            <!-- TOP NAV -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-left" id="menu_modules">
                            {% block top_nav_menu_left %}{% endblock %}
                        </ul>

                        <!-- NAV MENU RIGHT -->
                        {% include 'app/topnav/nav_menu_right.html.twig' %}

                    </nav>
                </div>
            </div>

            <!-- PAGE CONTENT-->
            <div class="right_col" role="main">

                {% block page_content %}{% endblock %}

            </div>

            <!-- PAGE FOOTER-->
            {% include 'app/footer.html.twig' %}


        </div>

        <!-- MODAL SWITCH REMOTE USER -->
        {% if app.environment != 'prod' %}
            {% include 'app/modal/switch_user/index.html.twig' %}
        {% endif %}

        <!-- MODAL CONFIRM -->
        {% include 'app/modal/confirm/index.html.twig' %}

        {% block modals %}{% endblock %}

    </div>


    <!-- jQuery -->
    <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- bootstrap-progressbar -->
    <script src="{{ asset('assets/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>

    <!-- NProgress -->
    <script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>

    <!-- PNotify -->
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.confirm.js') }}"></script>
    <script src="{{ asset('assets/vendors/pnotify/dist/pnotify.nonblock.js') }}"></script>

    <!-- Select2 -->
    <script src="{{ asset('assets/vendors/select2/dist/js/select2.min.js') }}"></script>

    <!-- moment -->
    <script src="{{ asset('assets/vendors/moment/min/moment.min.js') }}"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('assets/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>

    <!-- inputmask -->
    <script src="{{ asset('assets/vendors/jquery.inputmask/dist/inputmask/inputmask.js') }}"></script>
    <script src="{{ asset('assets/vendors/jquery.inputmask/dist/inputmask/jquery.inputmask.js') }}"></script>

    <!-- iCheck -->
    <script src="{{ asset('assets/vendors/iCheck/icheck.min.js') }}"></script>

    <!-- Crop Image -->
    <script src="{{ asset('assets/js/cropImage/js/cropImage.js') }}"></script>

    <!-- Switchery -->
    <script src="{{ asset('assets/vendors/switchery/dist/switchery.min.js') }}"></script>

    <!-- Lodash -->
    <script src="{{ asset('assets/js/lodash/lodash.min.js') }}"></script>

    <!-- Custom Scripts -->
    <script src="{{ asset('dist/js/datatables.min.js') }}"></script>
    <script src="{{ asset('dist/js/custom.min.js') }}"></script>
    <script src="{{ asset('dist/js/nebula.min.js') }}"></script>

    {% block javascripts %}{% endblock javascripts %}

    <!-- Notification via Controller -->
    {% if app.flashes is defined %}

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <script>
                    notifyNebula('{{ message }}', null, '{{ label }}');
                </script>
            {% endfor %}
        {% endfor %}

    {% endif %}

    <!-- APP USER INFO -->
    <script>
        window.AppUserMosaic = {

            idUser: {{ app.user.idUser }},
            idMatricule: {{ app.user.idMatricule }},
            login: '{{ app.user.username }}',
            name: '{{ app.user.name }}',
            roles: JSON.parse('{{ app.user.roles|json_encode }}'.replace(/&quot;/g, '"')),
            token: '{{ app.user.token }}'

        }
    </script>

</body>
</html>
