{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            Project Meteor - [ Mosaïc 2018 - {{ "now"|date('Y') }} ]
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}

