<form action="javascript:void(0)" name="entretien_form">

    <div class="form-group col-xs-12">
        <label for="idTypeDocModal">Type d'entretien</label>
        <select class="form-control" name="idTypeDoc" id="idTypeDocModal" required>
            <option value="" hidden></option>
            {% if entretien.idTypeDoc is defined and entretien.idTypeDoc is not null %}
                <option value="{{ entretien.idTypeDoc }}" selected>{{ entretien.liTypeDoc }}</option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>

    <div class="form-group col-xs-12">
            <label for="idMatriculeModalEntretien">Salarié concerné</label>
            <select class="form-control" name="idMatricule" id="idMatriculeModalEntretien" required>
                {%  if salarie.idMatricule is defined and salarie.idMatricule is not null %}
                    <option value="{{ salarie.idMatricule }}" selected>{{ salarie.liPrenom }} {{ salarie.liNomUsage }}
                        {{ salarie.liNom and salarie.liNom != salarie.liNomUsage ? '(' ~ salarie.liNomUsage ~ ')' : '' }}
                        - {{ salarie.idMatricule }}</option>
                {% endif %}
            </select>
            <span class="valid-nebula"></span>
    </div>

   <div class="form-group col-xs-12">
       <label for="dtRealisationModal">Date réalisation</label>
       <input type="text" class="form-control" id="dtRealisationModal" name="dtRealisation" pattern="\d{2}\/\d{2}\/\d{4}" required>
       <i class="fa fa-calendar"></i>
       <span class="valid-nebula"></span>
   </div>

    <div class="form-group col-xs-12">
        <label for="idMotifDefautModal">Motif en cas de non réalisation</label>
        <select class="form-control" id="idMotifDefautModal" name="idMotifDefaut">
            <option value="" hidden></option>
            {% if entretien.idMotifDefaut is defined and entretien.idMotifDefaut is not null %}
                <option value="{{ entretien.idMotifDefaut }}" selected>{{ entretien.liMotifDefaut }}</option>
            {% endif %}
        </select>
    </div>

</form>
