<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalEntretien">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="titleModalEntretien">Fiche Entretien</h4>

            </div>

            <div class="modal-body">

               <fieldset>

                   <!-- CONTENT FORM ENTRETIEN -->
                   <div class="col-md-6 col-sm-8 col-xs-12" id="content-form-entretien">
                       {% include '@entretien/gestion/modal/entretien/content.html.twig' %}
                   </div>

                   <!-- CONTENT FORM FILE UPLOAD -->
                   <div class="col-md-6 col-sm-8 col-xs-12">
                       {% include '@files/gestion/file_upload.html.twig' %}
                   </div>

               </fieldset>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="button" class="btn-nebula" id="modify_entretien" disabled>enregistrer</button>
            </div>

        </div>
    </div>
</div>

