<div class="modal fade" role="dialog" id="confirmation_date">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>Nebula - Confirmation</strong></h4>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                <div class="x_panel">
                    <div class="col-xs-12">

                        <!-- DATE DéBUT DE VALIDITé -->
                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="dtDebutvaliditeConf">Date début de validité</label>
                            <input type="text" class="form-control" id="dtDebutvaliditeConf" name="dtDebutvaliditeConf"
                                   value="{{ (cartepro.dtDebutvalidite is defined and cartepro.dtDebutvalidite is not null) ? cartepro.dtDebutvalidite|date('d/m/Y') : '' }}"
                                   maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                            <i class="fa fa-calendar"></i>
                            <span class="valid-nebula"></span>
                        </div>

                        <!-- DATE FIN DE VALIDITé -->
                        <div class="form-group col-sm-6 col-xs-12">
                            <label for="dtFinvaliditeConf">Date fin de validité</label>
                            <input type="text" class="form-control" id="dtFinvaliditeConf" name="dtFinvaliditeConf"
                                   value="{{ (cartepro.dtFinvalidite is defined and cartepro.dtFinvalidite is not null) ? cartepro.dtFinvalidite|date('d/m/Y') : '' }}"
                                   maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                            <i class="fa fa-calendar"></i>
                            <span class="valid-nebula"></span>
                        </div>

                    </div>
                </div>
            </div>

            <!-- PIED DE PAGE DO MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula" data-dismiss="modal" id="confirm_yes">OK</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->