<div class="modal fade" role="dialog" aria-hidden="true" id="modalCarteproDownload">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Téléchargement</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_add_download">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <form action="javascript:void(0)" name="download_cartepro" novalidate>

                    <!-- SELECT CONTRAT -->
                    <div class="form-group col-xs-12">
                        <label for="idContrat">Contrat</label>
                        <select class="form-control" name="idContrat" id="idContrat" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                </form>


            </div>

            <!-- BUTTONS -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="download_standard" disabled>standard</button>
                <button type="button" class="btn-nebula-purple" data-dismiss="modal" id="download_distribution" disabled>distribution</button>
            </div>

        </div>
    </div>
</div>