<!-- CONTENT TRANSFERT AGENCE -->
<form action="javascript:void(0)" name="transfert_contrat" novalidate>

     <!-- DATE DéBUT D'AFFECTATION -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="dtApplicationTransfert">Date d'application du transfert</label>
        <input type="text" class="form-control" id="dtApplicationTransfert" name="dtApplicationTransfert" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
        <i class="fa fa-calendar"></i>
        <span class="valid-nebula"></span>
    </div>

    <!-- AGENCE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="idAgence">Agence</label>
        <select class="form-control" name="idAgence" id="idAgence" required>
            <option value="" hidden></option>
        </select>
        <span class="valid-nebula"></span>
    </div>

    <!-- MANAGER -->
    {#<div class="col-xs-2">#}
        {#<input type="checkbox" class="flat" name="isManager" id="isManager">#}
        {#<label for="isManager">Manager</label>#}
    {#</div>#}

    <!-- TYPE DE TRANSFERT -->
    <input type="hidden" name="idTypeTransfert" value="1">

    <!-- CONTRAT -->
    <input type="hidden" name="idContrat" value="{{ salarie.idContrat }}">

    <!-- MATRICULE -->
    <input type="hidden" name="idMatricule" value="{{ salarie.idMatricule }}">

    <!-- IDENTIFIANT UTILISATEUR -->
    <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

</form>



