<div class="modal fade" role="dialog" id="transfertContrat">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"><strong id="title_transfert"></strong></h3>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                <div class="col-md-offset-1" id="content_transfert"></div>
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Retourner</button>
                <button type="button" class="btn-nebula" id="transfert_contrat" data-dismiss="modal" disabled>Transferer</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->