<!-- CONTENT TRANSFERT REGION -->
<h2>Pour le transfert de région il faut créer un avenant.</h2>
<h2><strong><a id="cloturerContratFromTransfert" href="{{ path('avenant_new', { idMatricule : salarie.idMatricule , idContrat : salarie.idContrat,}) }}">Ajouter un avenant</a></strong></h2>


