<!-- CONTENT TRANSFERT SOCIETE -->
<h2>Pour le transfert de société il faut suivre 2 étapes:</h2>
1 - <a href="javascript:void(0)" onclick="$('.btn-cloturer').click()" data-dismiss="modal"><strong>Clôturer le contrat.</strong></a><br>
2 - Créer un nouveau contrat.

