{% if app.request.requestUri matches '/salaries\\/(new|detail)/' %}

    <div class="x_panel">
        <div class="x_title">
            <h2>Personne à charge</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        {% if salarie.enfants is defined and salarie.enfants|length > 0 %}
            {% set enfants = salarie.enfants %}
        {% endif %}

        <fieldset class="x_content" id="liste_enfants">
            {% include '@salarie/gestion/blocks/enfants/list.html.twig' %}
        </fieldset>
    </div>

{% endif %}