{% if enfants is defined and enfants|length > 0 %}

    {% if app.request.requestUri matches '/salaries\\/(enfants|detail)/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_SALARIE_ADMIN']) %}
        <!-- BUTTONS REMOVE AND ADD ENFANT -->
        <div class="toolbar-nebula col-xs-12">
            <button class="btn-nebula-tool" data-toggle="modal" data-target="#myModalEnfant">
                <i class="fa fa-user-plus" data-toggle="tooltip" data-html="true" title="Ajouter une personne à la liste"></i>
            </button>

            <button class="btn-nebula-tool" id="remove_enfant">
                <i class="fa fa-trash" data-toggle="tooltip" data-html="true" title="Supprimer" ></i>
            </button>

        </div>
    {% endif %}

    <div class="clearfix"></div>

    <!-- LIST OF ENFANT -->
    {% for enfant in  enfants %}
        <div id="elementEnfant">
            <div class="col-xs-1" style="margin-top: 12px; margin-right: -12px;">
                <input type="checkbox" class="flat" name="idEnfant" value="{{ enfant.idEnfant is defined and enfant.idEnfant is not null ? enfant.idEnfant : '' }}" >
            </div>

            <div class="col-xs-11 accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                    <a class="panel-heading" role="tab" id="heading{{ loop.index }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                        <h4 class="panel-title"> {{ loop.index }} - Personne</h4>
                    </a>
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                        {% include '@salarie/gestion/blocks/enfants.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% else %}

    {%  if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_SALARIE_ADMIN']) %}
        <!-- NUMBRE OF ENFANT -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="nbEnfant">Nombre de personnes</label>
            <input type="text" class="form-control" id="nbEnfant" name="nbEnfant" maxlength="2">
        </div>

        <!-- BUTTON -->
        <div class="col-xs-12">
            <button type="button" class="btn-nebula" id="save_enfant" onclick="verifyNumberEnfant()">Enregistrer</button>
        </div>
    {% endif %}

{% endif %}
