<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mosaïc - Erreur {{ status_code }}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/nebula.min.css') }}" rel="stylesheet">
</head>

<body class="nav-md">
<div class="container body">
    <div class="block-nebula-error">

            <!-- page content -->
            <div class="col-md-12">

                <div class="col-middle">
                    <div class="text-center">
                        <h1><i class="fa fa-modx fa-3x"> Mosaïc</i></h1>

                        {% block page_content %}
                            <span class="error-number">{{ status_code }}</span>
                            <h1>{{ status_text }}</h1>
                        {% endblock %}

                        <p>Nous suivons ces erreurs automatiquement, mais si le problème persiste, n'hésitez pas à nous contacter. En attendant, essayez de la recharger. <br>
                            <a href="javascript:void(0)"><strong>Je voudrais reporter ça!</strong></a>
                        </p>
                    </div>
                </div>

            </div>

    </div>
</div>

<!-- jQuery -->
<script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
<!-- Bootstrap -->
<script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('assets/vendors/fastclick/lib/fastclick.js') }}"></script>
<!-- NProgress -->
<script src="{{ asset('assets/vendors/nprogress/nprogress.js') }}"></script>

</body>
</html>