{% if app.request.requestUri matches '/salaries\\/detail/' and is_granted(['ROLE_MOSAIC_USER', 'ROLE_CARTEPRO_USER']) %}

    <div class="x_panel" id="block_autorisation_salarie">
        <div class="x_title">
            <h2>Autorisation</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">
            <ul class="quick-list">
                {% if  salarie.idMatricule is defined %}
                    <li  id="content_list_cartepro">
                        <a href="{{ path('cartepro_list', { idMatricule : salarie.idMatricule }) }}" class="cartepro-list">
                            <span class="badge bg-orange" id="count_cartepro"></span> Carte professionnelle
                        </a>
                    </li>
                {% endif %}

                {#<li><a href="javascript:void(0)"><span class="nb-permis-conduire">0</span> Habilitation</a></li>#}
            </ul>

        </fieldset>

    </div>

{% endif %}