{% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_CONTRAT_USER']) %}

    <div class="x_panel" id="block_contrat_salarie">
        <div class="x_title">
            <h2>Contrat</h2><span id="count_contrat"></span>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">

            <div class="list-folder-nebula">

                <!-- LIST OF CONTRACT -->
                <ul id="content_list_contrat"></ul>

            </div>

            {% if app.request.requestUri matches '/salaries\\/detail/' and salarie.idMatricule is defined and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}
                <a href="{{ path('contrat_new', { idMatricule : salarie.idMatricule }) }}" class="btn-add-contrat" data-toggle="tooltip" data-html="true" title="Ajouter un contrat">
                    <i class="fa fa-plus-circle m-1-2"></i> Ajouter
                </a>
            {% endif %}

        </fieldset>

    </div>

{% endif %}