{% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_SALARIE_USER']) %}

    <div class="x_panel" id="block_dematis_salarie">
        <div class="x_title">
            <h2>Documents</h2><span id="count_dematis"></span>
            <ul class="nav navbar-right panel_toolbox">
                <li data-toggle="tooltip" data-html="true" title="Ouvrir en grand écran">
                    <a class="btn-dematis-full-screen"><i class="fa fa-arrows-alt"></i></a>
                </li>
                <li data-toggle="tooltip" data-html="true" title="Télécharger tous les documents en zip">
                    <a class="btn-dematis-doc-zip"><i class="fa fa-file-archive-o"></i></a>
                </li>
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">

            <!-- LIST OF DOCUMENTS NUXEO -->
            <div id="nuxeoMenu" class="list-folder-tree"></div>

        </fieldset>

    </div>

{% endif %}
