{% if app.request.requestUri matches '/salaries\\/detail/' and is_granted(['ROLE_MOSAIC_USER', 'ROLE_SALARIE_USER']) %}
<div class="x_panel">
    <div class="x_title">
        <h2>Historique</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset id="histo-salarie" class="x_content">
        <!-- Check file histo_salarie.js to have the content -->
    </fieldset>

</div>

{% endif %}