{% if app.request.requestUri matches '/salaries\\/detail/' and is_granted(['ROLE_MOSAIC_USER', 'ROLE_IRP_USER']) %}
    <div class="x_panel" id="block_protection_mandat_salarie">

        <div class="x_title">
            <h2>Protection ou Mandat</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">
            {%  if salarie.idMatricule is defined %}
                <div>
                    <ul class="quick-list">
                        <li>
                            <a href="{{ path('irp_list_index', { idMatricule: salarie.idMatricule, irpTable: 'mandat'}) }}" class="mandats-list">
                                <span class="badge bg-orange" id="count_mandat"></span> Mandats
                            </a>
                        </li>
                    </ul>
                    <ul class="quick-list">
                        <li>
                            <a href="{{ path('irp_list_index', { idMatricule: salarie.idMatricule}) }}" class="protections-list">
                                <span class="badge bg-orange" id="count_protection"></span> Protections
                            </a>
                        </li>
                    </ul>
                </div>
                {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_IRP_ADMIN']) %}
                    <a href="{{ path('irp_creation_index', { idMatricule: salarie.idMatricule}) }}" class="btn-add-irp" data-toggle="tooltip" data-html="true" title="" data-original-title="Ajouter une protection ou un mandat">
                        <i class="fa fa-plus-circle m-1-2"></i> Ajouter
                    </a>
                {% endif %}
            {% endif %}
        </fieldset>

    </div>
{% endif %}