{% if app.request.requestUri matches '/salaries\\/detail/' and is_granted(['ROLE_MOSAIC_USER', 'ROLE_ACOMPTE_USER', 'ROLE_MUTUELLE_USER']) %}
    <div class="x_panel" id="block_paie_salarie">
        <div class="x_title">
            <h2>Gestion Paie</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">
            <ul class="quick-list">
{#                <li><a href="javascript:void(0)"><span class="badge bg-green" id="count_permis">0</span> Indemnité transport</a></li>#}

                <!-- LINK LIST OF ACOMPTES -->
                {% if salarie.idMatricule is defined and is_granted(['ROLE_MOSAIC_USER', 'ROLE_ACOMPTE_USER']) %}
                    <li>
                        <a href="{{ path('acomptes_list', { idMatricule: salarie.idMatricule}) }}" class="acomptes-list">
                            <span class="badge bg-orange" id="count_acomptes"></span> Acomptes
                        </a>
                    </li>
                {% endif %}

                {#<li><a href="javascript:void(0)"><span class="nb_permis_conduire">0</span> Avance sur salaire</a></li>
                <li><a href="javascript:void(0)"><span class="nb_permis_conduire">0</span> Saisies - arrêt</a></li>#}

                <!-- LINK LIST OF MUTUELLES -->
                {#{% if salarie.idMatricule is defined and is_granted(['ROLE_MOSAIC_USER', 'ROLE_MUTUELLE_USER']) %}#}
                    {#<li>#}
                        {#<a href="{{ path('mutuelle_list', { idMatricule : salarie.idMatricule}) }}" class="mutuelle-list">#}
                            {#<span id="count_mutuelle"></span> Mutuelle & Exonération#}
                        {#</a>#}
                    {#</li>#}
                {#{% endif %}#}

            </ul>
        </fieldset>

    </div>
{% endif %}