{% if app.request.requestUri matches '/salaries\\/detail/' and is_granted(['ROLE_MOSAIC_USER', 'ROLE_SALARIE_USER']) %}

<div class="x_panel">
    <div class="x_title">
        <h2>Papiers administratifs</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <ul class="quick-list">
            <li><a href="javascript:void(0)"><span class="nb_permis_conduire">0</span> Permis de conduire</a></li>
        </ul>

    </fieldset>

</div>

{% endif %}