{% if app.request.requestUri matches '/salaries\\/detail/' and is_granted(['ROLE_MOSAIC_USER', 'ROLE_SALARIE_USER']) %}

<div class="x_panel">
    <div class="x_title">
        <h2>Entretiens Professionnels</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>


        <!-- LIST OF DOCUMENTS ENTRETIEN -->
        <div id="entretienMenu" class="list-folder-tree"></div>


        <div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="javascript:void(0);"
                   id="upload_document"
                   class="btn-upload-document"
                   data-toggle="tooltip"
                   data-html="true"
                   title="Ajouter un document">
                    <i class="fa fa-plus-circle m-1-2"></i> Entretien
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="javascript:void(0);"
                   id="create_planification"
                   class="btn-add-planification"
                   data-toggle="tooltip"
                   data-html="true"
                   title="Ajouter une planification">
                    <i class="fa fa-plus-circle m-1-2"></i> Planifier
                    <span class="hide count-planif" data-text="(%d en cours)" style="display: block"></span>
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="javascript:void(0)"
                   id="create_absence"
                   class="btn-add-absence"
                   data-toggle="tooltip"
                   data-html="true"
                   title="Ajouter une absence">
                    <i class="fa fa-plus-circle m-1-2"></i> Absence
                    <span class="hide count-absence" data-text="(%d en cours)" style="display: block"></span>
                </a>

            </div>
        </div>
    </fieldset>
</div>
{% endif %}