<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste de groupe</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF GROUPS -->
            <table id="datatable-groupe" data-table-groupe="{{ groupes|json_encode }}" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Libellé</th>
                    <th>Groupe précédent</th>
                    <th>Commentaire</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <!-- CONTENT SALARIES -->
                <!-- Regardez le fichier table_groupe.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>
