<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">

    <div class="x_panel" id="content_filter_rapport_dashbord">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>

        </div>

        <fieldset class="x_content">

            <form action="javascript:void(0)" name="form_filter_rapport_dashboard">

                <!-- PROFIL DASHBOARD -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="">Profil</label>
                    <select class="form-control" name="idProfil" id="idProfil">
                        <option value="" hidden></option>
                    </select>
                </div>

                <!-- PERIMETRE -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <label for="idAgence">Périmètre</label>
                    <select class="form-control" name="idAgence" id="idAgence" multiple>
                        <option value="" hidden></option>
                    </select>
                </div>

                <!-- BUTTONS -->
                <div class="pull-right">
                    <button type="button" class="btn-nebula" id="send_form_rapport_dashboard_filtrer" >afficher</button>
                </div>

            </form>

        </fieldset>

    </div>
</div>