<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalConvocation">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="titleModalConvocation">Documents téléchargeables</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <p>Cliquer sur le document à télécharger:</p>

                <div class="text-center">

                    <!-- CONVOCATION -->
                    <button type="button" class="btn-nebula" id="download_convocation">Convocation</button>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

