{#<div class="form-group hidden">#}
{#    <label for="idEtapeDate" >idEtapeDate</label>#}
{#    <input type="text" class="form-control" id="idEtapeDate" name="idEtapeDate" value="{{ (etapeDate.idEtapeDate is defined and etapeDate.idEtapeDate is not null) ? etapeDate.idEtapeDate : '' }}" readonly>#}
{#</div>#}

</form>