<p>Bonjour, </p>

<p>L'utilisateur <strong>{{ app.user.name }}</strong> a clôturé le contrat : <br />
    <a href="{{ url('contrat_detail', { idMatricule: contrat.idMatricule.idMatricule, idContrat: contrat.idContrat }) }}">
        <strong>
            {{ contrat.idMatricule.liNomUsage ~ ' ' ~ contrat.idMatricule.liPrenom }} - {{ contrat.idAgence.liAgence }} - {{ contrat.idTypecontrat.liTypecontrat }} - {{ contrat.dtDebutcontrat|date('d/m/Y') }}
        </strong>
    </a>
</p>

<p>
    Date de fin réelle : <strong>{{ contrat.dtFincontrat is defined ? contrat.dtFincontrat|date('d/m/Y') : '' }}</strong><br />
    Motif de fin de contrat : <strong>{{ contrat.idMotiffincontrat.liMotiffincontrat is defined ? contrat.idMotiffincontrat.liMotiffincontrat : '' }}</strong>
</p>

<p>
    {% if contrat.calendarAlert.dtEtapeDate is defined and contrat.calendarAlert.dtEtapeDate is not null %}
        La date d'échéance du prochain traitement <strong>STC</strong> est le <strong style="color: red">{{ contrat.calendarAlert.dtEtapeDate|date('d/m/Y') }}</strong>.<br />
    {% endif %}
    La date de fin de contrat sera mise à jour dans <strong>COMETE</strong> dans une heure au plus tard.
</p>

