<p>Bonjour {{ signataire.liNomComplet }}, </p>

<p>Votre validation est attendue pour le contrat de travail : <br>
<strong>{{ contrat.idMatricule.liNom ~ ' ' ~ contrat.idMatricule.liPrenom }} - {{ contrat.idAgence.liAgence }} - {{ contrat.idTypecontrat.liTypecontrat }} - {{ contrat.dtDebutcontrat|date('d/m/Y') }}</strong></p>

<p>Vous trouverez, ci-joint, le contrat de travail à valider.</p>

<p>Cordialement.</p>