<p>Bonjour, </p>

<p>L'utilisateur <strong>{{ app.user.name }}</strong> a fait une demande pour <strong style="color: red">DÉCLÔTURER</strong> le contrat : <br />
    <a href="{{ url('contrat_detail', { idMatricule: contrat.idMatricule.idMatricule, idContrat: contrat.idContrat }) }}">
        <strong>
            {{ contrat.idMatricule.liNomUsage ~ ' ' ~ contrat.idMatricule.liPrenom }} - {{ contrat.idAgence.liAgence }} - {{ contrat.idTypecontrat.liTypecontrat }} - {{ contrat.dtDebutcontrat|date('d/m/Y') }}
        </strong>
    </a>
</p>

<p>
    Date de fin réelle : <strong>{{ contrat.dtFincontrat is defined ? contrat.dtFincontrat|date('d/m/Y') : '' }}</strong><br />
    Motif de fin de contrat : <strong>{{ contrat.idMotiffincontrat.liMotiffincontrat is defined ? contrat.idMotiffincontrat.liMotiffincontrat : '' }}</strong>
</p>


