#list_user_right {
  border-left: 1px dotted $color-gris4;

  & ul {
    margin-top: 20px;
  }


}

#add_app_right .fa-plus-circle {
  font-size: 1.4em;
  margin-left: 40px;
}


#remove_app_right {
  margin-top: -10px;
  font-size: 1.4em;

}