<!-- Tab Content -->
<div class="col-xs-10">
    <div class="tab-content">

        <!-- CONTENT GROUPE -->
        <div class="tab-pane active" id="groupe">
            <!-- FORM GROUPE -->
            {% include '@admin/document/panneau/blocks/groupe.html.twig' %}

            <!-- LIST GROUPE -->
            {% include '@admin/document/panneau/blocks/groupe/list.html.twig' %}

        </div>

        <!-- CONTENT PARAGRAPHE -->
        <div class="tab-pane" id="paragraphe">
            <!-- FORM PARAGRAPHE -->
            {% include '@admin/document/panneau/blocks/paragraphe.html.twig' %}

            <!-- EDITOR -->
            {% include '@admin/document/panneau/blocks/editor/index.html.twig' %}

            <!-- LIST PARAGRAPHE -->
            {% include '@admin/document/panneau/blocks/paragraphe/list.html.twig' %}

        </div>

        <!-- CONTENT ELEMENTS -->
        <div class="tab-pane" id="elements">
            <!-- FORM ELEMENT -->
            {% include '@admin/document/panneau/blocks/paragraphe/element.html.twig' %}

        </div>

    </div>
</div>

<div class="clearfix"></div>