<!-- Nav tabs -->
<div class="col-xs-2">
    <ul class="nav nav-tabs tabs-left" id="menu-document">
        <li class="active">
            <a href="#groupe" data-toggle="tab">
                Groupes
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
        <li>
            <a href="#paragraphe" data-toggle="tab">
                Paragraphes
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
        <li>
            <a href="#elements" data-toggle="tab">
                Elements
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
    </ul>
</div>
