<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form name="filter_contrat">

                <!-- MOIS -->
                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                    <label for="idMonth">Mois</label>
                    <select class="form-control" name="idMonth" id="idMonth" required>
                        <option value="" hidden></option>
                        <option value="1">Janvier</option>
                        <option value="2">Février</option>
                        <option value="3">Mars</option>
                        <option value="4">Avril</option>
                        <option value="5">Mai</option>
                        <option value="6">Juin</option>
                        <option value="7">Juillet</option>
                        <option value="8">Août</option>
                        <option value="9">Septembre</option>
                        <option value="10">Octobre</option>
                        <option value="11">Novembre</option>
                        <option value="12">Décembre</option>
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- ANNEE -->
                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                    <label for="idYear">Année</label>
                    <select class="form-control" name="idYear" id="idYear" required>
                        <option value="" hidden></option>
                    </select>
                    <span class="valid-nebula"></span>
                </div>

            </form>

            <!-- BUTTON FILTER -->
            <button id="filter-contrat" class="btn-nebula" disabled>filtrer</button>

        </div>
    </div>
</div>