{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@contrat/cloture/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula">

                <!-- FILTER -->
                {% include "@contrat/cloture/filter.html.twig" %}

                <!-- LIST OF CONTRAT -->
                {% include '@contrat/cloture/list.html.twig' %}

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}


{% block modals %}
    <!-- MODAL CONTRAT INACTIF -->
    {% include "@contrat/gestion/modal/inactif/index.html.twig" with {'type': 'Contrat'} %}
{% endblock %}


{% block javascripts %}{% endblock javascripts %}