<div class="col-xs-12" id="content_nebula">

    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des contrats cloturés</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF CONTRATS CLOTURES -->
            <table id="datatable-contrat" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Contrat</th>
                    <th>Code Agence</th>
                    <th>Agence</th>
                    <th>Nom complet</th>
                    <th>Motif Départ</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Cloturé dans Comete</th>
                </tr>
                </thead>
                <!-- CONTENT CONTRAT -->
                <!-- Regardez le fichier table_contrat_cloture.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>

