{% if contrat.repartition is defined and contrat.repartition|length > 0 %}

    <div class="col-xs-12" id="listRepartition">

        <h2>Répartition horaire</h2>

        {% for repartition in contrat.repartition %}
            {% include '@contrat/gestion/blocks/repartition/list.html.twig' %}
        {% endfor %}

    </div>
{% endif %}