{% if repartition is defined %}
    <hr>

    <form action="javascript:void(0)" name="repartition_{{ loop.index }}" novalidate>

        <!-- SEMAINE -->
        <div class="col-md-2 col-sm-4 col-xs-4">
            <label for="nbSemaine">Semaine :</label>
            <input type="text" class="form-control" id="nbSemaine" name="nbSemaine" value="{{ (repartition.nbSemaine is defined) ? repartition.nbSemaine : loop.index }}" readonly>
        </div>

        <!-- LUNDI -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbLundi" data-toggle="tooltip" data-html="true" title="Compléter le nombre d'heures en centièmes">Lundi</label>
            <input type="number" class="form-control" id="nbLundi" name="nbLundi" value="{{ (repartition.nbLundi is defined) ? repartition.nbLundi : '' }}" max="24">
        </div>

        <!-- MARDI -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbMardi" data-toggle="tooltip" data-html="true" title="Compléter le nombre d'heures en centièmes">Mardi</label>
            <input type="number" class="form-control" id="nbMardi" name="nbMardi" value="{{ (repartition.nbMardi is defined) ? repartition.nbMardi : '' }}" max="24">
        </div>

        <!-- MERCREDI -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbMercredi" data-toggle="tooltip" data-html="true" title="Compléter le nombre d'heures en centièmes">Mercredi</label>
            <input type="number" class="form-control" id="nbMercredi" name="nbMercredi" value="{{ (repartition.nbMercredi is defined) ? repartition.nbMercredi : '' }}" max="24">
        </div>

        <!-- JEUDI -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbJeudi" data-toggle="tooltip" data-html="true" title="Compléter le nombre d'heures en centièmes">Jeudi</label>
            <input type="number" class="form-control" id="nbJeudi" name="nbJeudi" value="{{ (repartition.nbJeudi is defined) ? repartition.nbJeudi : '' }}" max="24">
        </div>

        <!-- VENDREDI -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbVendredi" data-toggle="tooltip" data-html="true" title="Compléter le nombre d'heures en centièmes">Vendredi</label>
            <input type="number" class="form-control" id="nbVendredi" name="nbVendredi" value="{{ (repartition.nbVendredi is defined) ? repartition.nbVendredi : '' }}" max="24">
        </div>

        <!-- SAMEDI -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbSamedi" data-toggle="tooltip" data-html="true" title="Compléter le nombre d'heures en centièmes">Samedi</label>
            <input type="number" class="form-control" id="nbSamedi" name="nbSamedi" value="{{ (repartition.nbSamedi is defined) ? repartition.nbSamedi : '' }}" max="24">
        </div>

        <!-- DIMANCHE -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbDimanche" data-toggle="tooltip" data-html="true" title="Compléter le nombre d'heures en centièmes">Dimanche</label>
            <input type="number" class="form-control" id="nbDimanche" name="nbDimanche" value="{{ (repartition.nbDimanche is defined) ? repartition.nbDimanche : '' }}" max="24">
        </div>

        <!-- TOTAL D'HEURES -->
        <div class="form-group col-md-1 col-sm-4 col-xs-4">
            <label for="nbTotalHeures">Total</label>
            <input type="number" class="form-control" id="nbTotalHeures" name="nbTotalHeures" step="0.01" value="{{ (repartition.nbTotalHeures is defined) ? repartition.nbTotalHeures : '' }}" max="99999.99"  required>
            <span class="valid-nebula"></span>
        </div>

    </form>

{% endif %}