<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('mosaic_index') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('salarie_index') }}">Gestion des salariés</a></li>
        <li class="breadcrumb-item"><a href="{{ path('salarie_detail', { idMatricule: salarie.idMatricule }) }}">Fiche Salarié</a></li>
        <li class="breadcrumb-item"><a href="{{ path('contrat_detail', { idMatricule: salarie.idMatricule, idContrat: contrat.idContratOrigine.idContrat?? contrat.idContrat }) }}">Fiche Contrat</a></li>

        {% if app.request.requestUri matches '/avenants\\/validate/' %}
            <li class="breadcrumb-item"><a href="{{ path('avenant_index') }}">Gestion des avenants</a></li>
        {% endif %}

        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>