<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        <!-- BLOCKS LEFT -->
        {{ (app.request.requestUri matches '/avenants\\/detail/') ?
            '<div class="col-md-8 col-sm-8 col-xs-12" id="blocks_left">' :
            '<div class="col-xs-12">'
        }}
            {% include "@avenant/gestion/blocks/block_info.html.twig" %}
            {% include "@avenant/gestion/blocks/avenant.html.twig" %}

            <!-- CONTRAT BLOCKS -->
            <div class="contrat-blocks {{ (app.request.requestUri matches '/avenants\\/new/') ? 'hide' : '' }}">

                {% include "@contrat/gestion/blocks/affectation.html.twig" %}
                {% include "@contrat/gestion/blocks/motif.html.twig" %}
                {% include "@contrat/gestion/blocks/classification.html.twig" %}
                {% include "@contrat/gestion/blocks/remuneration.html.twig" %}
                {% include "@contrat/gestion/blocks/anciennete.html.twig" %}
                {% include "@contrat/gestion/blocks/periode_des.html.twig" %}
                {% include "@avenant/gestion/blocks/periode_prob.html.twig" %}
                {% include "@contrat/gestion/blocks/clause_add.html.twig" %}
                {% include "@contrat/gestion/blocks/clause_opt/index.html.twig" %}
                {% include "@contrat/gestion/blocks/primes/index.html.twig" %}
                {% include "@contrat/gestion/blocks/validation.html.twig" %}

            </div>

    </div>

    <!-- PAGE DETAIL -->
    {% if app.request.requestUri matches '/avenants\\/detail/' %}
        <!-- BLOCKS RIGHT -->
        <div class="col-md-4 col-sm-4 col-xs-12" id="blocks_right">
            {% include "@avenant/gestion/blocks/menuannexe/avertissement.html.twig" %}
            {% include "@avenant/gestion/blocks/menuannexe/histo.html.twig" %}
        </div>

        <!-- MENU ACTION -->
        {% include '@avenant/gestion/extra/menu_action.html.twig' %}

    {% endif %}

    <!-- PAGE NEW AND VALIDATE -->
    {% if app.request.requestUri matches '/avenants\\/(new|validate)/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_AVENANT_ADMIN']) %}

        <!-- BUTTONS NEW -->
        <div class="col-xs-12">
            {{ app.request.requestUri matches '/avenants\\/new/'  ?
            '<button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>' :
            '<button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>
                    <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>'
            }}
            <button type="button" class="btn-nebula" id="prev_form" data-toggle="modal" disabled>Pré-visualiser</button>
        </div>


    {% endif %}

    <!-- PAGE DETAIL -->
    {% if app.request.requestUri matches '/avenants\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_AVENANT_ADMIN']) %}
        <!-- BUTTON REMOVE -->
        <div class="col-xs-12">
            <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
        </div>
    {% endif %}


     </div>
</div>
