{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include "@avenant/gestion/breadcrumb.html.twig" %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">

        <!-- TITLE PANEL -->
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        {% include "@avenant/gestion/form.html.twig" %}

    </div>

{% endblock  %}


{% block modals %}

    {% if app.request.requestUri matches '/avenants\\/(new|validate)/' %}
        <!-- MODAL PREVIEW -->
        {% include "@contrat/gestion/modal/preview/index.html.twig" %}
    {% endif %}

{% endblock %}


{% block javascripts %}{% endblock javascripts %}