<!-- MODAL LOGS -->
<div class="modal fade" id="myModalLogsRhpi" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Interface RHPI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@salarie/gestion/blocks/logs/rhpi/index.html.twig' %}
            </div>

        </div>
    </div>
</div>