<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form action="javascript:void(0)" name="filter_entretien" novalidate>

                <!-- STATUT -->
                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                    <label for="idStatutEntretien">Statut entretien</label>
                    <select class="form-control" name="idStatutEntretien" id="idStatutEntretien" required>
                        <option value="" hidden></option>
                        <option value="ALL" selected>Tous les statuts</option>
                        <option value="A jour">A jour</option>
                        <option value="A réaliser">A réaliser</option>
                    </select>
                    <span class="valid-nebula hidden"></span>
                </div>
                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                    <label for="idStatutDetails">Statut détails</label>
                    <select class="form-control" name="idStatutDetails" id="idStatutDetails" required>
                        <option value="" hidden></option>
                        <option value="ALL" selected>Tous les statuts</option>
                        <option value="A faire">A faire</option>
                        <option value="Incomplet">Incomplet</option>
                        <option value="Dépassé">Dépassé</option>
                    </select>
                    <span class="valid-nebula hidden"></span>
                </div>
                <div class="form-group col-md-3 col-sm-4 col-xs-12 hidden">
                    <input type="text" class="form-control" id="isRetourAbsence" name="isRetourAbsence"/>
                </div>
            </form>

        </div>
    </div>
</div>