{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@entretien/breadcrumb-help.html.twig' %}
    {% endblock %}


    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula">
                <div class="col-xs-12" id="content_nebula">
                    <div class="x_panel help-body" style="display: none;">
                        {% include '@salarie/entretien/help/body.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}


{% block modals %}{% endblock %}
{% block javascripts %}{% endblock javascripts %}