{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@entretien/breadcrumb.html.twig' %}
    {% endblock %}


    {% block indicators %}
        {% include '@entretien/indicators.html.twig' %}
    {% endblock %}


    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula">
                {% include "@entretien/kpis.html.twig" %}
                {% include "@entretien/filter.html.twig" %}
                {% include '@entretien/list.html.twig' %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}


{% block modals %}
    {% include '@entretien/gestion/modal/entretien/index.html.twig' %}
    {% include '@entretien/gestion/modal/absence/index.html.twig' %}
    {% include '@entretien/gestion/modal/planification/index.html.twig' %}
    {% include '@entretien/gestion/modal/convocation/index.html.twig' %}
{% endblock %}


{% block javascripts %}
    <!-- ECharts -->
    <script src="{{ asset('assets/vendors/echarts/dist/echarts.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/echarts/map/js/world.js') }}"></script>
{% endblock javascripts %}