<div class="col-md-12 col-sm-12 col-xs-12" style="display: flex">
    <div class="x_panel">
        <div class="x_title">
            <h2>Indicateurs</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right fa-chevron-up fa-chevron-down"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            </div>
        <div class="x_content"  data-kpis="{{ kpis|json_encode }}" id ="kpis-wrapper" >
        </div>
    </div>
</div>