<div class="col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des entretiens professionnels</h2>

            <ul class="nav navbar-right panel_toolbox">

                <!-- MENU BLOCK ACTION -->
                <li class="content-block-action">
                    <!-- ICON HELP -->
                    <a href="{{ path('entretien_help') }}" class="btn-modal-entretien-help" target="_blank">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>
                <!-- ARROW BLOCK -->
                <li>
                    <a class="collapse-link">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="col-xs-12">

                <button id="create_absence" class="btn-nebula alignright">
                    <i class="fa fa-calendar"></i> Déclarer une absence
                </button>
                <button id="create_planification" class="btn-nebula alignright">
                    <i class="fa fa-calendar"></i> Planifier un entretien
                </button>
                <button id="upload_document" class="btn-nebula alignright">
                    <i class="glyphicon glyphicon-save-file"></i> Déposer un document
                </button>
            </div>
            <div class="col-xs-12">

                <table id="datatable-entretien" class="table table-striped table-bordered table-responsive nowrap">
                    <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Société</th>
                        <th>Région</th>
                        <th>Agence</th>
                        <th>Nom Usage</th>
                        <th>Prénom</th>
                        <th>Qualification</th>
                        <th>Type de contrat</th>
                        <th>Positionnement</th>
                        <th>Catégorie</th>
                        <th>Date début contrat</th>
                        <th>Date ancienneté branche</th>
                        <th>Statut entretien</th>
                        <th>Statut détails</th>
                        <th>Date planifiée</th>
                        <th>Date échéance entretien</th>
                        <th>Date dernier entretien</th>
                        <th>Date échéance récap</th>
                        <th>Date dernier récap</th>
                        <th>Entretien non réalisable</th>
                        <th>Retour absence</th>
                        <th>Entretien en défaut</th>
                    </tr>
                    </thead>
                    <!-- CONTENT CONTRAT -->
                    <!-- Regardez le fichier table_entretien.js pour travailler sur le contenu du tableau -->
                </table>

            </div>
        </div>
    </div>
</div>