<fieldset class="x_content">

    <!-- PREVENT EMAIL -->
    <div class="col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" id="isPreventEmailUser" name="isPreventEmailUser">
        <label for="isPreventEmailUser" data-toggle="tooltip" data-html="true" title="Cochez cette case si vous voullez prévenir un collaborateur par mail">Prévenir un collaborateur</label>
    </div>

    <div class="col-md-6 hide" id="form_send_email">
        <form action="javascript:void(0)" name="send_email" novalidate>

            <!-- DESTINATAIRES -->
            <div class="col-xs-12">
                <label for="idDestinataire">Destinataires</label>
                <select name="idDestinataire" id="idDestinataire" multiple required>
                    <option value="" hidden></option>
                </select>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </div>

</fieldset>

{% if contrat is defined  %}
<script>
    // Create variable global to stock contrat's data in the page detail
    window.OBJ_CONTRAT_DETAIL = JSON.parse('{{ contrat|json_encode }}'.replace(/&quot;/g, '"'))
</script>
{% endif %}