<!-- MODAL SEND MAIL -->
<div class="modal fade" role="dialog" aria-hidden="true" id="sendEmail">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Send Email</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <!-- CONTENT -->
                {% include '@email/modal/content.html.twig' %}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="cancel_reactive">annuler</button>
                <button type="button" class="btn-nebula-purple" data-dismiss="modal" id="detail_salarie_inactif" disabled>voir détail</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="reactive_salarie" disabled>réactiver</button>

            </div>
        </div>
    </div>

</div>

