<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('mosaic_index') }}">Accueil</a></li>
        {% if isListAll is not defined or not isListAll %}
            <li class="breadcrumb-item"><a href="{{ path('salarie_index') }}">Gestion des salariés</a></li>
            <li class="breadcrumb-item"><a href="{{ path('salarie_detail', { idMatricule : salarie.idMatricule }) }}">Fiche Salarié</a></li>
        {% endif %}
        {%  if typeIrp is defined and typeIrp == 'MANDAT' %}
            <li class="breadcrumb-item"><a href="{{ path('irp_list_index', {idMatricule: salarie.idMatricule, irpTable: 'mandat'}) }}">Liste des Mandats</a></li>
        {% else %}
            <li class="breadcrumb-item"><a href="{{ path('irp_list_index', {idMatricule: salarie.idMatricule}) }}">Liste des Protections</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>