<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        {% if app.request.requestUri matches '/salaries\\/irp\\/detail/' %}
            <!-- BLOCKS LEFT -->
            <div class="col-md-8 col-sm-8 col-xs-12" id="blocks_left">
        {% endif %}

            <div class="col-xs-12">

                {%  if typeIrp is defined and typeIrp == 'MANDAT' %}

                    {% if irp.mandats is defined and irp.mandats|length > 0 %}
                        {% set mandat = irp.mandats[0] %}
                    {% elseif irp.idMandat is defined %}
                        {% set mandat = irp.idMandat %}
                    {% endif %}

                {% endif %}

                {% include "@irp/gestion/blocks/block_info.html.twig" %}

                {%  if typeIrp is defined and typeIrp == 'MANDAT' %}

                    {% include "@irp/gestion/blocks/mandat.html.twig" %}

                {% endif %}

                {% include "@irp/gestion/blocks/protection.html.twig" %}

            </div>

        {% if app.request.requestUri matches '/salaries\\/irp\\/detail/' %}
            </div>
        {% endif %}

        <!-- BLOCKS RIGHT -->
        {% if app.request.requestUri matches '/salaries\\/irp\\/detail/' %}
            <div class="col-md-4 col-sm-4 col-xs-12" id="blocks_right">
                {% include "@irp/gestion/blocks//menuannexe/avertissement.html.twig" %}
                {%  if typeIrp is defined and typeIrp == 'MANDAT' %}
                    {% include "@irp/gestion/blocks/menuannexe/histo.html.twig" with {'typeHisto': 'mandat'} %}
                {% endif %}
                {% include "@irp/gestion/blocks/menuannexe/histo.html.twig" with {'typeHisto': 'protection'} %}
            </div>
        {% endif %}

        <!-- BUTTON -->
        <div class="col-xs-12">

            {% if isInactif is not defined or (isInactif is defined and not isInactif) %}
                <button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>
            {% endif %}

            <!-- PAGE NEW -->
            {% if app.request.requestUri matches '/irp\\/new/' %}
                <button type="button" class="btn-nebula" id="send_form" disabled>Envoyer</button>
            {% endif %}

            <!-- PAGE DETAIL & UPDATE -->
            {% if app.request.requestUri matches '/salaries\\/irp\\/detail/' and isInactif is defined and not isInactif and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_IRP_ADMIN']) %}
                    <button type="button" class="btn-nebula" id="update_form">Modifier</button>
                    <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
            {% endif %}


        </div>

    </div>

</div>
