{% extends "@admin/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@irp/gestion/breadcrumb.html.twig' %}
    {% endblock %}


<!-- CONTENT -->
<div class="row">

    <!-- TITLE PANEL -->
    <div class="col-xs-12">
        <div class="block-nebula-title">
            <h1>{{ page_title }}</h1>
        </div>
    </div>


    {% if typeIrp is defined and typeIrp is not null %}
        <!-- CONTENT PANEL -->
        {% include "@irp/gestion/form.html.twig" %}
    {% else %}
            <!-- MATRICULE SALARIE -->
            <input type="hidden" name="idMatricule" value="{{ salarie.idMatricule }}">
    {% endif %}


</div>

{% endblock  %}


{% block modals %}

    {% if typeIrp is not defined or typeIrp is null %}
        <!-- MODAL TYPE DOCUMENT -->
        {% include '@irp/gestion/modal/choice/index.html.twig' %}
    {% endif %}

{% endblock %}


{% block javascripts %} {% endblock javascripts %}