<div class="x_panel hide" id="block-chien">
    <div class="x_title">
        <h2>Chiens</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- CONTENT -->
    {% if cartepro.chiens is defined and cartepro.chiens|length > 0 %}
        {% set chiens = cartepro.chiens %}
    {% endif %}

    <fieldset class="x_content" id="liste_chiens">
        {% include '@salarie/cartepro/gestion/blocks/chien/list.html.twig' %}
    </fieldset>
</div>