
{% if app.request.requestUri matches '/cartepro\\/(chien|detail|new)/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CARTEPRO_ADMIN']) %}

    <!-- BUTTONS REMOVE AND ADD CHIEN -->
    <div class="toolbar-nebula col-xs-12">
        <button id="modal-form-chien" class="btn-nebula-tool" data-toggle="modal" data-target="#myModalChien">
            <i class="fa fa-plus" data-toggle="tooltip" data-html="true" title="Ajouter un chien à la liste"></i>
        </button>

        <button class="btn-nebula-tool" id="remove_chien">
            <i class="fa fa-trash" data-toggle="tooltip" data-html="true" title="Supprimer" ></i>
        </button>

    </div>

{% endif %}

<div class="clearfix"></div>

{% if chiens is defined and chiens|length > 0 %}

    <!-- LIST OF CHIEN -->
    <div id="listElementChien">
        {% for chien in chiens %}
            <div id="elementChien">
                <div class="col-xs-1" style="margin-top: 12px; margin-right: -12px;">
                    <input type="checkbox" class="flat" name="idChien"
                           value="{{ chien.idCarteproChien is defined and chien.idCarteproChien is not null ? chien.idCarteproChien : '' }}" >
                </div>

                <div class="col-xs-11 accordion" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="heading{{ loop.index }}" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                            <h4 class="panel-title"> {{ loop.index }} - Chien</h4>
                        </a>
                        <div id="collapse{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                            {% include '@salarie/cartepro/gestion/blocks/chien.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}
