<!-- CONTENT -->
<div class="col-md-2 col-sm-2">
    <!-- FORM IMAGE -->
    <form action="javascript:void(0)" name="block_info" enctype="multipart/form-data">

        <!-- PHOTO -->
        <div class="photo-salarie">
            {% include '@salarie/gestion/blocks/photo/index.html.twig' %}
        </div>

        <!-- IDENTIFIANT UTILISATEUR -->
        <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

        <!-- AGENCE -->
        <input type="hidden" name="idAgence" id="idAgence" value="{{ salarie.idAgence.idAgence ?? '' }}">

    </form>

    <!-- IMAGE -->
    <input type="file" name="imageSalarie" id="imageSalarie">

    <!-- SHOW AGE -->
    <input type="text" class="form-control" id="age" readonly>


</div>

{% if app.request.requestUri matches '/salaries(\\/inactif)?\\/detail/' or app.request.requestUri == path('mosaic_index') %}

    <!-- INFO -->
    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-6 col-xs-12" id="block_info_right">

        <!-- MATRICULE -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="idMatriculeInfo">Matricule</label>
            <input type="text" class="form-control" name="idMatricule"  id="idMatriculeInfo" value="{{ salarie.idMatricule ?? '' }}" readonly>
        </div>

        <!-- NOM COMPLET -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="liNomCompletInfo">Nom complet</label>
            <input type="text" class="form-control" name="liNomComplet" id="liNomCompletInfo" value="{{
            (
            salarie.liPrenom is defined
            and salarie.liNom is defined
            and salarie.liNomUsage is defined
            ) ? salarie.liNomUsage|upper ~ ' ' ~ salarie.liPrenom|capitalize ~ ' (' ~ salarie.liNom ~ ')' : '' }}" readonly>
        </div>

        <!-- AGENCE -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="liAgenceInfo">Agence</label>
            <input type="text" class="form-control"  name="liAgence"  id="liAgenceInfo" value="{{ salarie.idAgence.liAgence ?? '' }}" readonly>
        </div>

        {#<!-- QUALIFICATION -->#}
        {#<div class="form-group col-md-6 col-sm-6 col-xs-12">#}
            {#<label for="idQualification">Qualification</label>#}
            {#<input type="text" class="form-control" name="idQualification" id="idQualification" value="{{ contrat.liQualifcontrat ?? '' }}" readonly>#}
        {#</div>#}

        <!-- TéLéPHONE -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="liTelephone1Info">Téléphone</label>
            <input type="tel" class="form-control" name="liTelephone1" id="liTelephone1Info" value="{{ salarie.liTelephone1 ?? '' }}" readonly>
        </div>

        {#<!-- ADRESSE E-MAIL -->#}
        {#<div class="form-group col-md-6 col-sm-6 col-xs-12">#}
            {#<label for="liMail">Adresse e-mail</label>#}
            {#<input type="text" class="form-control" name="liMail" id="liMail" value="{{ salarie.liMail ?? '' }}" readonly>#}
        {#</div>#}

    </div>

{% endif %}


<!-- STATUS -->
{% if app.request.requestUri matches '/salaries\\/detail/' %}
    {% include '@salarie/status_info.html.twig' %}
{% endif %}