<div class="x_panel col-md-4">
    <div class="x_title">
        <h2>Coordonnées</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="btn-preview-block"><i class="fa fa-eye"></i></a></li>
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="coordonnees" novalidate>

            <!-- ADRESSE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liNomVoie">Adresse</label>
                <input type="text" class="form-control" id="liNomVoie" name="liNomVoie" value="{{ (salarie.liNomVoie is defined ) ? salarie.liNomVoie : '' }}" maxlength="40" pattern=".{3,40}" required>
                <span class="valid-nebula"></span>
            </div>

            <!-- COMPLéMENT D'ADRESSE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liAdresse2">Complément d'adresse</label>
                <input type="text" class="form-control" id="liAdresse2" name="liAdresse2" value="{{ (salarie.liAdresse2 is defined ) ? salarie.liAdresse2 : '' }}" maxlength="40">
            </div>

            <!-- PAYS -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idPays">Pays</label>
                <select class="form-control" id="idPays" name="idPays" required>
                    <option value="" hidden></option>
                    {% if salarie.idPays.idPays is defined and salarie.idPays.idPays is not null %}
                        <option value="{{  salarie.idPays.idPays }}" selected>{{ salarie.idPays.liPays }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- CODE POSTAL -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="idCodepostal">Code postal</label>
                <select class="form-control" id="idCodepostal" name="idCodepostal">
                    <option value="" hidden></option>
                    {% if salarie.idCodepostal.idCodepostal is defined and salarie.idCodepostal.idCodepostal is not null %}
                        <option value="{{  salarie.idCodepostal.idCodepostal }}" selected>{{ salarie.idCodepostal.liCodepostal }}</option>
                    {% endif %}
                </select>
                <span class="select-copy-text" data-toggle="tooltip" data-html="true" title="Copie texte"></span>
            </div>

            <!-- VILLE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="idVille">Ville</label>
                <select class="form-control" id="idVille" name="idVille">
                    <option value="" hidden></option>
                    {% if salarie.idVille.idVille is defined and salarie.idVille.idVille is not null %}
                        <option value="{{  salarie.idVille.idVille }}" selected>{{ salarie.idVille.liVille }}</option>
                    {% endif %}
                </select>
                <span class="select-copy-text" data-toggle="tooltip" data-html="true" title="Copie texte"></span>
            </div>

            <!-- CODE POSTAL (éTRANGER) -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="liCodepostalEtranger">Code postal</label>
                <input type="text" class="form-control" id="liCodepostalEtranger" name="liCodepostalEtranger" value="{{ (salarie.liCodepostalEtranger is defined and salarie.liCodepostalEtranger is not null) ? salarie.liCodepostalEtranger : '' }}" maxlength="6">
            </div>

            <!-- VILLE (éTRANGER) -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="liVilleEtranger">Ville</label>
                <input type="text" class="form-control" id="liVilleEtranger" name="liVilleEtranger" value="{{ (salarie.liVilleEtranger is defined and salarie.liVilleEtranger is not null) ? salarie.liVilleEtranger : '' }}" maxlength="40">
            </div>

            <!-- TéLéPHONE 1 -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liTelephone1">Téléphone 1</label>
                <input type="tel" class="form-control" id="liTelephone1" name="liTelephone1" value="{{ (salarie.liTelephone1 is defined ) ? salarie.liTelephone1 : '' }}" maxlength="15" pattern="(\d{2}\s{1}){4}\d{2}$">
            </div>

            <!-- TéLéPHONE 2 -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liTelephone2">Téléphone 2</label>
                <input type="tel" class="form-control" id="liTelephone2" name="liTelephone2" value="{{ (salarie.liTelephone2 is defined ) ? salarie.liTelephone2 : '' }}" maxlength="15" pattern="(\d{2}\s{1}){4}\d{2}$">
            </div>

            <!-- ADRESSE E-MAIL -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liMail">Adresse e-mail</label>
                <input type="text" class="form-control" id="liMail" name="liMail" value="{{ (salarie.liMail is defined ) ? salarie.liMail : '' }}" maxlength="50" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]{2,6})*$">
            </div>

            <!-- ENVOI E-MAIL -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isEnvoiMail" id="isEnvoiMail" {{ (salarie.isEnvoiMail is defined and salarie.isEnvoiMail == 1) ? 'checked' : '' }}>
                <label for="isEnvoiMail" data-toggle="tooltip" data-html="true" title="Le salarié autorise d'être communiqué via e-mail">Autoriser l'envoi de l'e-mail</label>
            </div>

        </form>
    </fieldset>

</div>
