{%  set enfant_index = loop.index is defined ? loop.index : '' %}

<!-- CONTENT -->
<form action="javascript:void(0)" name="enfants_{{ enfant_index }}" novalidate>

    <!-- SITUATION FAMILIALE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="idTypePriseCharge_{{ enfant_index }}">Type de prise en charge</label>
        <select class="form-control" name="idTypePriseCharge" id="idTypePriseCharge_{{ enfant_index }}" required>
            <option value="" hidden ></option>
            {% if enfant.idTypePriseCharge is defined and enfant.idTypePriseCharge is not null  %}
                <option value="{{ enfant.idTypePriseCharge.idTypePriseCharge }}" selected>{{ enfant.idTypePriseCharge.liTypePriseCharge }}</option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>

    <!-- NOM -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liNomEnfant_{{ enfant_index }}">Nom</label>
        <input type="text" class="form-control" id="liNomEnfant_{{ enfant_index }}" name="liNomEnfant" value="{{ (enfant.liNomEnfant is defined and enfant.liNomEnfant is not null) ? enfant.liNomEnfant : '' }}" maxlength="30">
    </div>

    <!-- PRéNOM -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liPrenomEnfant_{{ enfant_index }}">Prénom</label>
        <input type="text" class="form-control" id="liPrenomEnfant_{{ enfant_index }}" name="liPrenomEnfant" value="{{ (enfant.liPrenomEnfant is defined and enfant.liPrenomEnfant is not null) ? enfant.liPrenomEnfant : '' }}" maxlength="20">
    </div>

    <!-- SEXE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="idSexe_{{ enfant_index }}">Sexe</label>
        <select class="form-control" name="idSexe" id="idSexe_{{ enfant_index }}">
            <option value="" hidden></option>
            <option value="1" {{ (enfant.idSexe.idSexe is defined and enfant.idSexe.idSexe == 1) ? 'selected' : '' }}>Homme</option>
            <option value="2" {{ (enfant.idSexe.idSexe is defined and enfant.idSexe.idSexe == 2) ? 'selected' : '' }}>Femme</option>
        </select>
    </div>

    <!-- LIEU DE NAISSANCE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liLieuNaissance_{{ enfant_index }}">Lieu de naissance</label>
        <input type="text" class="form-control" id="liLieuNaissance_{{ enfant_index }}" name="liLieuNaissance" value="{{ (enfant.liLieuNaissance is defined and enfant.liLieuNaissance is not null) ? enfant.liLieuNaissance : '' }}" maxlength="50">
    </div>

    <!-- DATE DE NAISSANCE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="dtNaissance_{{ enfant_index }}">Date de naissance</label>
        <input type="text" class="form-control" id="dtNaissance_{{ enfant_index }}" name="dtNaissance" value="{{ (enfant.dtNaissance is defined and enfant.dtNaissance is not null) ? enfant.dtNaissance|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" >
        <i class="fa fa-calendar"></i>
    </div>

    <!-- DATE DéCèS -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="dtDeces_{{ enfant_index }}">Date décès de l'enfant</label>
        <input type="text" class="form-control" id="dtDeces_{{ enfant_index }}" name="dtDeces" value="{{ (enfant.dtDeces is defined and enfant.dtDeces is not null) ? enfant.dtDeces|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
        <i class="fa fa-calendar"></i>
    </div>

</form>

