<div class="x_panel">
    <div class="x_title">
        <h2>Identité</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="btn-preview-block"><i class="fa fa-eye"></i></a></li>
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="identite" novalidate>

            <!-- CIVILITé -->
            <div class="row first-option" aria-required="true">
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <input type="radio" class="flat" name="idCivilite" id="idCiviliteM" value="1" {{ (salarie.idCivilite is defined and salarie.idCivilite.idCivilite == 1) ? 'checked' : '' }}>
                    <label for="idCiviliteM">M</label>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <input type="radio" class="flat" name="idCivilite" id="idCiviliteMme" value="2" {{ (salarie.idCivilite is defined and salarie.idCivilite.idCivilite == 2) ? 'checked' : '' }}>
                    <label for="idCiviliteMme">Mme</label>
                </div>
            </div>

            <!-- SITUATION FAMILIALE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idSituationFamille">Situation familiale</label>
                <select class="form-control" name="idSituationFamille" id="idSituationFamille" required>
                    <option value="" hidden></option>
                    {% if salarie.idSituationFamille.idSituationFamille is defined and salarie.idSituationFamille.idSituationFamille is not null %}
                        <option value="{{ salarie.idSituationFamille.idSituationFamille }}" selected>{{ salarie.idSituationFamille.liSituationFamille }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- NOM DE NAISSANCE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liNom">Nom de naissance</label>
                <input type="text" class="form-control" id="liNom" name="liNom" data-toggle="tooltip" data-html="true" title="Nom de jeune fille pour une femme mariée"
                       value="{{ (salarie.liNom is defined) ? salarie.liNom|upper : '' }}" maxlength="30" pattern=".{3,30}" required>
                <span class="valid-nebula"></span>
            </div>

            <!-- NOM D'USAGE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liNomUsage">Nom d'usage</label>
                <input type="text" class="form-control" id="liNomUsage" name="liNomUsage" data-toggle="tooltip" data-html="true" title="Modifiable uniquement sur présentation d'un justificatif"
                       value="{{ (salarie.liNomUsage is defined) ? salarie.liNomUsage|upper : '' }}" required>
                <span class="valid-nebula"></span>
            </div>

            <!-- PRéNOM -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liPrenom">Prénom</label>
                <input type="text" class="form-control" id="liPrenom" name="liPrenom" value="{{ (salarie.liPrenom is defined ) ? salarie.liPrenom|capitalize : '' }}" maxlength="30" pattern=".{3,30}" required>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE NAISSANCE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtNaissance">Date naissance</label>
                <input type="text" class="form-control" id="dtNaissance" name="dtNaissance" value="{{ (salarie.dtNaissance is defined and salarie.dtNaissance is not null) ? salarie.dtNaissance|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i><span class="valid-nebula"></span>
            </div>

            <!-- PAYS DE NAISSANCE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idPaysNaissance">Pays de naissance</label>
                <select class="form-control" id="idPaysNaissance" name="idPaysNaissance" required>
                    <option value="" hidden></option>
                    {% if salarie.idPaysNaissance.idPays is defined and salarie.idPaysNaissance.idPays is not null %}
                        <option value="{{  salarie.idPaysNaissance.idPays }}" selected>{{ salarie.idPaysNaissance.liPays }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- NATIONALITé -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idPaysNationalite" data-toggle="tooltip" data-html="true" title="Seule une nationalité peut être saisie">Nationalité</label>
                <select class="form-control" id="idPaysNationalite" name="idPaysNationalite" required>
                    <option value="" hidden></option>
                    {% if salarie.idPaysNationalite.idPays is defined and salarie.idPaysNationalite.idPays is not null %}
                        <option value="{{  salarie.idPaysNationalite.idPays }}" selected>{{ salarie.idPaysNationalite.liNationalite }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- DéPARTEMENT DE NAISSANCE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liDepNaissance">Département de naissance</label>
                <input type="text" class="form-control" id="liDepNaissance" name="liDepNaissance" data-toggle="tooltip" data-html="true" title="Pour les salariés nés à l'étranger saisir 99"
                       value="{{ (salarie.liDepNaissance is defined ) ? salarie.liDepNaissance : '' }}" maxlength="2" pattern="[0-9]{2}|[2]{1}[B,A]{1}" required>
                <span class="valid-nebula"></span>
            </div>

            <!-- VILLE DE NAISSANCE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liVilleNaissance">Ville de naissance</label>
                <input type="text" class="form-control" id="liVilleNaissance" name="liVilleNaissance" value="{{ (salarie.liVilleNaissance is defined ) ? salarie.liVilleNaissance : '' }}" maxlength="30" pattern=".{2,30}" required>
                <span class="valid-nebula"></span>
            </div>

            <!-- NUMéRO NIR PROVISOIRE -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isNirProv" id="isNirProv" {{ (salarie.isNirProv is defined and salarie.isNirProv == 1) ? 'checked' : '' }}>
                <label for="isNirProv" data-toggle="tooltip" data-html="true" title="Cocher cette case si le salarié ne possède pas son NIR">Numéro NIR provisoire</label>
            </div>

            <!-- NUMéRO DE SéCURITé SOCIALE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idNirDef">Numéro de sécurité sociale</label>
                <input type="text" name="idNirDef" id="idNirDef" class="form-control" value="{{ (salarie.idNirDef is defined ) ? salarie.idNirDef : '' }}" maxlength="21" pattern="[0-9AB\s]{15,21}" required>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
