<div class="x_panel">
    <div class="x_title">
        <h2>Informations additionnelles</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="info_add" novalidate>

            <!-- BDD PLANNET -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idBddPlannet" data-toggle="tooltip" data-html="true" title="Base de données Plannet">
                    Base de données Pl@n.Net
                </label>
                <select class="form-control" id="idBddPlannet" name="idBddPlannet">
                    <option value="" hidden></option>
                    {% if salarie.idBddPlannet.idBddPlannet is defined and salarie.idBddPlannet.idBddPlannet is not null %}
                        <option value="{{  salarie.idBddPlannet.idBddPlannet }}" selected>{{ salarie.idBddPlannet.liBddPlannet }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
