<div class="x_panel">
    <div class="x_title">
        <h2>Justificatif d'identité</h2>

        {% if salarie.dtFinValidite is defined and salarie.dtFinValidite|date('Y-m-d') < "now"|date('Y-m-d') %}
            <span style="color: white; font-weight: normal; margin-left: 5%" class="label label-danger">Expiré</span>
        {% endif %}

        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="justificatif" novalidate>

            <!-- TYPE PIèCE IDENTITé -->
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="idTypePiece">Type pièce identité</label>
                <select class="form-control" name="idTypePiece" id="idTypePiece">
                    <option value="" hidden></option>
                    {% if salarie.idTypePiece.idTypePiece is defined and salarie.idTypePiece.idTypePiece is not null %}
                        <option value="{{ salarie.idTypePiece.idTypePiece }}" selected>{{ salarie.idTypePiece.liTypePiece }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- NUMéRO PIèCE IDENTITé -->
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="liNumeroPiece">Numéro pièce identité</label>
                <input type="text" class="form-control" id="liNumeroPiece" name="liNumeroPiece" value="{{ (salarie.liNumeroPiece is defined ) ? salarie.liNumeroPiece : '' }}" maxlength="20" pattern="[a-zA-z0-9]{3,20}">
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DéBUT VALIDITé -->
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="dtDebutValidite">Date début validité</label>
                <input type="text" class="form-control" id="dtDebutValidite" name="dtDebutValidite" value="{{ (salarie.dtDebutValidite is defined and salarie.dtDebutValidite is not null) ? salarie.dtDebutValidite|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                <i class="fa fa-calendar"></i><span class="valid-nebula"></span>
            </div>

            <!-- DATE FIN VALIDITé -->
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="dtFinValidite">Date fin validité</label>
                <input type="text" class="form-control" id="dtFinValidite" name="dtFinValidite" value="{{ (salarie.dtFinValidite is defined and salarie.dtFinValidite is not null) ? salarie.dtFinValidite|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                <i class="fa fa-calendar"></i><span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
