{% set personne_index = loop.index is defined ? loop.index : '' %}

<form action="javascript:void(0)" name="personnes_{{ personne_index }}" novalidate>

    <!-- CIVILITé -->
    <div class="row first-option">
        <div class="col-md-2 col-sm-2 col-xs-4">
            <input type="radio" class="flat" name="idCivilite" id="idCivilite_{{ personne_index }}" value="1" {{ (personne.idCivilite.idCivilite is defined and personne.idCivilite.idCivilite == 1) ? 'checked' : '' }}>
            <label for="idCivilitePersonneContacter_{{ personne_index }}">M</label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-4">
            <input type="radio" class="flat" name="idCivilite" id="idCivilitePersonneContacter_{{ personne_index }}" value="2" {{ (personne.idCivilite.idCivilite is defined and personne.idCivilite.idCivilite == 2) ? 'checked' : '' }}>
            <label for="idCivilite_{{ personne_index }}">Mme</label>
        </div>
    </div>

    <!-- CONTENT PERSONNES -->
    <div class="content-personnes hide">

        <!-- NOM -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liNomPersonneContacter_{{ personne_index }}">Nom</label>
            <input type="text" class="form-control" id="liNomPersonneContacter_{{ personne_index }}" name="liNomPersonneContacter" value="{{ (personne.liNomPersonneContacter is defined and personne.liNomPersonneContacter is not null) ? personne.liNomPersonneContacter : '' }}" maxlength="30">
            <span class="valid-nebula"></span>
        </div>

        <!-- PRéNOM -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liPrenomPersonneContacter_{{ personne_index }}">Prénom</label>
            <input type="text" class="form-control" id="liPrenomPersonneContacter_{{ personne_index }}" name="liPrenomPersonneContacter" value="{{ (personne.liPrenomPersonneContacter is defined and personne.liPrenomPersonneContacter is not null) ? personne.liPrenomPersonneContacter : '' }}" maxlength="20">
            <span class="valid-nebula"></span>
        </div>

        <!-- LIEN AVEC LE SALARIé -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liRelationSalariePac_{{ personne_index }}">Lien avec le salarié</label>
            <input type="text" class="form-control" id="liRelationSalariePac_{{ personne_index }}" name="liRelationSalariePac" value="{{ (personne.liRelationSalariePac is defined ) ? personne.liRelationSalariePac : '' }}" maxlength="20">
            <span class="valid-nebula"></span>
        </div>

        <!-- TéLéPHONE 1 -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liTelephone1PersonneContacter_{{ personne_index }}">Téléphone 1</label>
            <input type="tel" class="form-control" id="liTelephone1PersonneContacter_{{ personne_index }}" name="liTelephone1" value="{{ (personne.liTelephone1 is defined ) ? personne.liTelephone1 : '' }}" maxlength="15" pattern="(\d{2}\s{1}){4}\d{2}$">
            <span class="valid-nebula"></span>
        </div>

        <!-- TéLéPHONE 2 -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liTelephone2PersonneContacter_{{ personne_index }}">Téléphone 2</label>
            <input type="tel" class="form-control" id="liTelephone2PersonneContacter_{{ personne_index }}" name="liTelephone2" value="{{ (personne.liTelephone2 is defined ) ? personne.liTelephone2 : '' }}" maxlength="15" pattern="(\d{2}\s{1}){4}\d{2}$">
        </div>

    </div>

</form>

