<div class="x_panel">
    <div class="x_title">
        <h2>RIB</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="rib" novalidate>

            <!-- PAIEMENT PAR VIREMENT -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isPaiementVirement" {{ (salarie.isPaiementVirement is defined and salarie.isPaiementVirement == 1) ? 'checked' : '' }}>
                <label for="isPaiementVirement" data-toggle="tooltip" data-html="true" title="Type de règlement">Paiement par virement</label>
            </div>

            <div class="isVirement hide">
                <!-- TITULAIRE DU COMPTE -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="liTitulaireCompte">Titulaire du compte</label>
                    <input type="text" class="form-control" id="liTitulaireCompte" name="liTitulaireCompte" data-toggle="tooltip" data-html="true" title="Le salarié doit être le titulaire/co-titulaire du compte"
                           value="{{ (salarie.liTitulaireCompte is defined ) ? salarie.liTitulaireCompte : '' }}" maxlength="30" pattern=".{3,30}">
                </div>

                <!-- BIC -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="liBic">BIC</label>
                    <input type="text" class="form-control" id="liBic" name="liBic" value="{{ (salarie.liBic is defined ) ? salarie.liBic : '' }}" maxlength="11" pattern="^[A-Z]{6}[A-Z2-9][A-NP-Z1-9](X{3}|[A-WY-Z0-9][A-Z0-9]{2})?$">
                </div>

                <!-- IBAN -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="liIban">IBAN</label>
                    <input type="text" class="form-control" id="liIban" name="liIban" value="{{ (salarie.liIban is defined ) ? salarie.liIban : '' }}" maxlength="33">
                </div>

                <!-- DOMICILIATION -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="liDomiciliationBancaire">Domiciliation</label>
                    <input type="text" class="form-control" id="liDomiciliationBancaire" name="liDomiciliationBancaire" value="{{ (salarie.liDomiciliationBancaire is defined ) ? salarie.liDomiciliationBancaire : '' }}" maxlength="30" pattern=".{3,30}">
                </div>
            </div>

        </form>
    </fieldset>

</div>
