{% extends "@admin/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@admin/document/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">

        <!-- TITLE PANEL -->
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>


        {% if typeDocument is defined and typeDocument is not null %}
            <!-- CONTENT PANEL -->
            {% include "@admin/document/form.html.twig" %}

        {% endif %}


    </div>


{% endblock  %}


{% block modals %}

    <!-- MODAL COMMENTAIRE -->
    {% include "@admin/document/panneau/modal/commentaire/index.html.twig" %}

    {% if typeDocument is not defined or typeDocument is null %}
        <!-- MODAL TYPE DOCUMENT -->
        {% include '@admin/document/modal/index.html.twig' %}
    {% endif %}

{% endblock %}


{% block javascripts %}

    <!-- ckeditor -->
    <script src="{{ asset('assets/js/ckeditor/document/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/js/ckeditor/document/translations/fr.js') }}"></script>


{% endblock javascripts %}