<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form method="POST" action="{{ path("analytique_index") }}" name="filter" novalidate>

                {% if analytiques is defined and analytiques|length > 0 %}
                    {% set analytique = analytiques[0] %}
                {% endif %}

                <div class="row justify-content-around">
                <!-- DATE DE DéBUT DE LA PéRIODE RECHERCHéE -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="dtDebut">Date de début</label>
                    <input type="text" class="form-control" id="dtDebut" name="dtDebut" value="{{ (analytique.dtCreation is defined and analytique.dtCreation is not null) ? analytique.dtCreation|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                    <i class="fa fa-calendar"></i>
                    <span class="valid-nebula"></span>
                </div>

                <!-- DATE DE FIN DE LA PéRIODE RECHERCHéE -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="dtFin">Date de fin</label>
                    <input type="text" class="form-control" id="dtFin" name="dtFin" value="{{ (analytique.dtModification is defined and analytique.dtModification is not null) ? analytique.dtModification|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                    <i class="fa fa-calendar"></i>
                    <span class="valid-nebula"></span>
                </div>


                <div class="col-md-4 col-sm-6 col-xs-12">
                    <button type="submit" class="btn-nebula" id="send_filter">Filtrer</button>
                </div>
                </div>

            </form>
        </div>
    </div>
</div>