<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des contrats modifiés/créés</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF ANALYTIQUES -->
            <table id="datatable-analytique" data-table-analytiques="{{ analytiques|json_encode }}" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Nom</th>
                    <th>Code contrat</th>
                    <th>Société contrat</th>
                    <th>Agence contrat</th>
                    <th>Pourcentage</th>
                    <th>BU</th>
                    <th>DDR</th>
                    <th>Agence AX</th>
                    <th>Activité</th>
                    <th>Chantier</th>
                    <th>Metier</th>
                    <th>Date modification</th>
                </tr>
                </thead>
                <!-- CONTENT ANALYTIQUE -->
                <!-- Regardez le fichier table_analytique.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>