<label for="liCommentaireMaj">Commentaire :</label>
<textarea class="comment-modal" name="liCommentaireMaj" id="liCommentaireMaj" minlength="15" maxlength="200"></textarea>

<!-- STATUS -->
<div class="clearfix"></div>
<span class="comment-status"></span>
