<div class="modal fade" role="dialog" id="commentaireMaj">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Laissez votre commentaire.</h4>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                <form action="javascript:void(0)" novalidate>

                    <!-- COMMENTAIRE -->
                    <div class="col-xs-12">
                        {% include "@admin/document/panneau/modal/commentaire/content.html.twig" %}
                    </div>

                </form>
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="back_form">retourner</button>
                <button type="button" class="btn-nebula" id="send_form_document" data-dismiss="modal" disabled>envoyer</button>
                <button type="button" class="btn-nebula hide" id="modify_form_document" data-dismiss="modal" disabled>modifier</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->