<!-- MOTIF DE FIN DE CONTRAT -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="idMotiffincontrat">Motif de fin de contrat</label>
    <select class="form-control" name="idMotiffincontrat" id="idMotiffincontrat" required>
        <option value="" hidden></option>
        {% if contrat.idMotiffincontrat.idMotiffincontrat is defined and contrat.idMotiffincontrat.idMotiffincontrat is not null %}
            <option value="{{ contrat.idMotiffincontrat.idMotiffincontrat }}" selected>{{ contrat.idMotiffincontrat.liMotiffincontrat }}</option>
        {% endif %}
    </select>
    <span class="valid-nebula"></span>
</div>

<!-- DATE DE FIN RéELLE -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="dtFincontrat">Date de fin réelle</label>
    <input type="text" class="form-control" id="dtFincontrat" name="dtFincontrat" value="{{ (contrat.dtFincontrat is defined and contrat.dtFincontrat is not null) ? contrat.dtFincontrat|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
    <i class="fa fa-calendar"></i>
    <span class="valid-nebula"></span>
</div>

<!-- SALARIE SORTI -->
<div class="col-md-4 col-sm-6 col-xs-12 align-checkbox-with-input">
    <input type="checkbox" class="flat" id="isSalarieSorti" name="isSalarieSorti" {{ (contrat.isSalarieSorti is defined and contrat.isSalarieSorti == 1) ? 'checked' : '' }}>
    <label for="isSalarieSorti">Salarié sorti</label>
</div>
