<div class="modal fade" role="dialog" id="cloturerContrat">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"><strong>Clôturer le contrat</strong></h3>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">

                <div class="col-md-offset-1">

                    <form action="javascript:void(0)" name="cloture_contrat" novalidate>
                        <!-- CONTENT CLOSURE -->
                        {% include "@contrat/gestion/modal/cloture/content.html.twig" %}

                    </form>

                </div>

                <!-- CONTENT FORM SEND EMAIL -->
                <div class="clearfix"></div>

                <div class="x_panel">
                    <div class="x_title">
                        <h2>Envoyer mail</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <!-- CONTENT FORM SEND MAIL -->
                    {% include '@email/modal/content.html.twig' %}

                </div>

            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Annuler</button>
                <!-- BUTTON REMOVE CLOSURE -->
                {% if contrat.dtFincontrat is defined and contrat.dtFincontrat is not null %}
                    <button type="button" class="btn-nebula-red" data-dismiss="modal" id="open_contrat">déclôturer</button>
                {% endif %}
                <button type="button" class="btn-nebula" id="close_contrat" data-dismiss="modal" disabled>Clôturer</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->