<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalAdminfiles">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="titleModalAdminTables">Administration files</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- CONTENT FORM TABLES -->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="send_admin_table" disabled>envoyer</button>
                <button type="button" class="btn-nebula hide" data-dismiss="modal" id="modify_admin_table" disabled>modifier</button>
            </div>
        </div>
    </div>

</div>

