<!-- IDENTIFIANT UTILISATEUR -->
<input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

<!-- CONTRAT -->
<input type="hidden" id="idContrat" name="idContrat" value="{{ contrat.idContrat }}">

<!-- ANALYTIQUE -->
<input type="hidden" id="idContratAnalytique" name="idContratAnalytique" value="">

<!-- POURCENTAGE D'AFFECTATION -->
<div class="col-xs-12">
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="nbPourcent">Pourcentage d'affectation</label>
        <input type="text" class="form-control" id="nbPourcent" name="nbPourcent" value="" maxlength="3" pattern=".\d{1,3}" required>
        <span class="valid-nebula"></span>
    </div>
</div>

<!-- BU -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="idBu">BU</label>
    <select class="form-control" name="idBu" id="idBu" required>
        <option value="" hidden></option>
    </select>
    <span class="valid-nebula"></span>
</div>

<!-- DDR -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="idRegion">DDR</label>
    <select class="form-control" name="idRegion" id="idRegion" required>
        <option value="" hidden></option>
    </select>
    <span class="valid-nebula"></span>
</div>

<!-- AGENCE -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="idAgence">Agence</label>
    <select class="form-control" name="idAgence" id="idAgence" required>
        <option value="" hidden></option>
    </select>
    <span class="valid-nebula"></span>
</div>

<!-- ACTIVITé -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="idActivite">Activité</label>
    <select class="form-control" name="idActivite" id="idActivite" required>
        <option value="" hidden></option>
    </select>
    <span class="valid-nebula"></span>
</div>

<!-- CHANTIER -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="liChan">Chantier</label>
    <input type="text" class="form-control" id="liChan" name="liChan" maxlength="9" pattern="\d{9}">
</div>

<!-- MéTIER -->
<div class="form-group col-md-4 col-sm-6 col-xs-12">
    <label for="idMetier">Métier</label>
    <select class="form-control" name="idMetier" id="idMetier">
        <option value="" hidden></option>
    </select>
</div>