<div class="modal fade" role="dialog" id="modal-analytique">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"><strong>Modifier l'analytique</strong></h3>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                <div class="col-md-offset-1">

                    <!-- CONTENT ANALYTIQUE -->
                    <form action="javascript:void(0)" name="analytique" novalidate>
                        {% include "@contrat/gestion/modal/analytique/content.html.twig" %}

                    </form>
                </div>
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Retourner</button>
                {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_ANALYTIQUE_ADMIN']) %}
                    <button type="button" class="btn-nebula-red" id="btn-remove-analytique">Supprimer</button>
                    <button type="button" class="btn-nebula" id="btn-send-analytique" data-dismiss="modal" disabled>Enregistrer</button>
                {% endif %}
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->