<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        <!-- BLOCKS LEFT -->
        <div class="col-md-8 col-sm-8 col-xs-12" id="blocks_left">
            <div class="col-xs-12">

                {% include "@cartepro/gestion/blocks/block_info.html.twig" %}
                {% include "@cartepro/gestion/blocks/cartepro.html.twig" %}
                {% include "@cartepro/gestion/blocks/activites.html.twig" %}
                {% include "@cartepro/gestion/blocks/chien/index.html.twig" %}

            </div>
        </div>

        <!-- BLOCKS RIGHT -->
        <div class="col-md-4 col-sm-4 col-xs-12" id="blocks_right">
            {% include "@cartepro/gestion/blocks/menuannexe/avertissement.html.twig" %}
            {% include "@cartepro/gestion/blocks/menuannexe/histo.html.twig" %}
        </div>

        <!-- BUTTON -->
        <div class="col-xs-12">

            <button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>

            <!-- PAGE NEW -->
            {% if app.request.requestUri matches '/salaries\\/cartepro\\/new/' %}
                <button type="button" class="btn-nebula" id="send_form" disabled>Envoyer</button>

            {% endif %}

            <!-- PAGE DETAIL -->
            {% if app.request.requestUri matches '/salaries\\/cartepro\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CARTEPRO_ADMIN']) %}

                <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
                <button type="button" class="btn-nebula" id="update_form">Modifier</button>

            {% endif %}
        </div>

        <!-- MENU ACTIONS -->
        {% include '@cartepro/gestion/extra/menu_action.html.twig' %}

    </div>
</div>
