{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@cartepro/gestion/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        {% include "@cartepro/gestion/form.html.twig" %}
    </div>

{% endblock %}


{% block modals %}

    {% if app.request.requestUri matches '/salaries\\/cartepro\\/new/' %}
        <!-- MODAL REDIRECTION -->
        {% include "@cartepro/gestion/modal/redirection/index.html.twig" %}
    {% endif %}

    {% if app.request.requestUri matches '/salaries\\/cartepro\\/detail/' %}
        <!-- MODAL DOWNLOAD CONFIRMATION -->
        {% include "@cartepro/gestion/modal/downloadconfirmation.html.twig" %}
    {% endif %}

    <!-- MODAL CHIEN -->
    {% include "@cartepro/gestion/modal/chien/index.html.twig" %}

    <!-- MODAL CONFIRM DATE FIN VALIDITE-->
    {% include "@cartepro/gestion/modal/datevalidite.html.twig" %}


{% endblock %}


{% block javascripts %}{% endblock javascripts %}