<div class="col-xs-12" id="content_nebula">

    <div class="x_panel">
        <div class="x_title">
            <h2>{{ list_title }}</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF SALARIE -->
            <table id="datatable-salarie" class="table table-striped table-bordered table-responsive nowrap">
                <!-- CONTENT SALARIES -->
                <!-- Regardez le fichier table_salarie.js pour travailler sur le contenu du tableau -->
            </table>


        </div>
    </div>
</div>

