<!-- STATUS INFO -->
<div class="col-xs-8 content-status pull-right">

    <!-- IDENTITE SALARIE -->
    {% if  salarie.idPaysNationalite.isCee is defined or salarie.isCee is defined %}

        {% set isCee = { 'isCee' : salarie.idPaysNationalite.isCee is defined ? salarie.idPaysNationalite.isCee : salarie.isCee } %}
        {% set salarie_info = isCee|merge({ 'dtDebutValidite': salarie.dtDebutValidite, 'dtFinValidite': salarie.dtFinValidite}) %}

        <div class="col-xs-1 status-identite hide" data-status-identite="{{ salarie_info|json_encode }}">
            <i class="fa fa-id-card fa-2x" data-toggle="tooltip" data-html="true"></i>
        </div>

    {% endif %}

    <!-- STATUS CARTE PRO -->
    <div class="col-xs-1 status-cartepro hide">
        <i class="fa fa-credit-card fa-2x" data-toggle="tooltip" data-html="true"></i>
    </div>

    <!-- CONTRAT VALIDATE -->
    {% if app.request.requestUri matches '/contrats\\/(detail|validate)/' %}

        <div class="col-xs-1 status-contrat" data-status-contrat="{{ contrat.isValid|json_encode }}">
            <i class="fa fa-folder-open fa-2x" data-toggle="tooltip" data-html="true"></i>
        </div>

    {% endif %}

</div>