<!-- IMAGE PROFILE -->
<div id="photo_info">
    <img src="{{ salarie.liCheminPhoto is defined and salarie.liCheminPhoto is not null ? asset('uploads/images/salaries/' ~ salarie.liCheminPhoto) : asset('assets/images/user.png') }}" alt="Image Salarié">

    {%  if is_granted(['ROLE_SALARIE_ADMIN', 'ROLE_MOSAIC_ADMIN']) %}
        <span class="icon-photo-info"></span>
    {% endif %}
</div>

<!-- IMAGE NAME -->
<input type="hidden" name="liCheminPhoto" value="{{ salarie.liCheminPhoto is defined and salarie.liCheminPhoto is not null ? salarie.liCheminPhoto : '' }}">
