{% if app.request.requestUri matches '/salaries\\/(new|detail)/' %}
    <div class="x_panel">
        <div class="x_title">
            <h2>Personne à prévenir</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>


        <!-- CONTENT -->
        <fieldset class="x_content" id="liste_personne">
            <!-- LIST -->

            {% if salarie.personnes is defined and salarie.personnes|length > 0 %}
                {% set personne = salarie.personnes[0] %}
            {% endif %}

            <div id="elementPersonne">

                {%  if personne.idPersonneContacter is defined and personne.idPersonneContacter is not null %}
                    <input type="hidden" name="idPersonneContacter" id="idPersonneContacter" value="{{ personne.idPersonneContacter }}">

                    <!-- BUTTONS REMOVE AND ADD ENFANT -->
                    <div class="toolbar-nebula col-xs-12">

                        <button class="btn-nebula-tool" id="remove_personne">
                            <i class="fa fa-trash" data-toggle="tooltip" data-html="true" title="Supprimer" ></i>
                        </button>

                    </div>
                {% endif %}

                <!-- FORM PERSONNE -->
                {% include '@salarie/gestion/blocks/personne.html.twig' %}
            </div>



        </fieldset>

    </div>

{% endif %}