<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="cropImage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Couper l'image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@salarie/gestion/modal/photo/content.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="save_image">sauvegarder</button>
            </div>

        </div>
    </div>
</div>