{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}

{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@batch/indicateur/breadcrumb.html.twig' %}
    {% endblock %}


    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula">

                {% include '@batch/indicateur/list.html.twig' %}

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}

{% block modals %}

    <!-- MODAL LOGS RHPI -->
    {% include "@batch/gestion/modal/index.html.twig" %}

{% endblock %}


{% block javascripts %}

{% endblock javascripts %}