<div class="col-xs-12" id="content_nebula">

    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des demandes en cours</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- IDENTIFIANT UTILISATEUR -->
            <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

            <!-- LIST OF DEMANDES BATCH -->
            <table id="datatable-batch" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Nom Complet</th>
                    <th>Agence</th>
                    <th>Contrat</th>
                    <th>Date début contrat</th>
                    <th>Date fin contrat</th>
                    <th>Type contrat</th>
                    <th>Type traitement</th>
                    <th>Etat traitement</th>
                    <th>Message</th>
                    <th>Demandeur</th>
                    <th>Action</th>
                </tr>
                </thead>
                <!-- CONTENT BATCH -->
                <!-- Regardez le fichier table_batch.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>

