<form action="javascript:void(0)" name="absence_form">
    <div class="col-md-4 col-sm-6 col-xs-12"></div>
    <div class="col-md-4 col-sm-6 col-xs-12"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
    </div>

    <!-- SELECT TYPE ABSENCE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="idMatriculeAbsence">Salarié concerné</label>
        <select class="form-control" name="idMatricule" id="idMatriculeAbsence" required{%  if salarie.idMatricule is defined %} readonly{% endif %}>
            {%  if salarie.idMatricule is defined %}
                <option value="{{ salarie.idMatricule }}" selected>{{ salarie.liPrenom }} {{ salarie.liNomUsage }}
                    {{ salarie.liNom and salarie.liNom != salarie.liNomUsage ? '(' ~ salarie.liNomUsage ~ ')' : '' }}
                    - {{ salarie.idMatricule }}</option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>

    <!-- SELECT TYPE ABSENCE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="idTypeAbsence">Type d'absence</label>
        <select class="form-control" name="idTypeAbsence" id="idTypeAbsence" required>
            <option value="" hidden></option>
            {%  if absence.idTypeAbsence is defined %}
                <option value="{{ absence.idTypeAbsence }}" selected>{{ absence.liTypeAbsence }}</option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>

    <!-- DATE FIN RETOUR THEORIQUE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="dtAbsence">Date </label>
        <input type="text" class="form-control" id="dtAbsence" name="dtAbsence" maxlength="30"
               pattern="\d{2}\/\d{2}\/\d{4}"
               value="{{ (absence.dtAbsence is defined) ? absence.dtAbsence|date('dd/MM/yyyy') : '' }}"
               required
        >
        <i class="fa fa-calendar"></i>
        <span class="valid-nebula"></span>
    </div>

</form>

<!-- ID ABSENCE -->
<input
        type="hidden"
        id="idAbsence"
        name="idAbsence"
        value="{{ (absence.idAbsence is defined) ? absence.idAbsence : '' }}"
/>
