<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalAbsence">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="titleModalAbsence">Déclarer une absence</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <!-- FORM ABSENCE -->
                {% include '@entretien/gestion/modal/absence/content.html.twig' %}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn-nebula-red hide" data-dismiss="modal" id="remove_absence">Supprimer</button>
                <button type="button" class="btn-nebula" id="send_absence" data-dismiss="modal" disabled>Enregistrer</button>
            </div>

        </div>
    </div>
</div>

