<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalAdminQualifContrat">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="titleModalAdminQualifContrat">Administration Qualif Contrat</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- CONTENT FORM TABLES -->
                <form action="javascript:void(0)" name="qualifcontrat" novalidate>

                    <!-- ID QUALIF CONTRAT -->
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="idQualifcontrat">Qualif Contrat</label>
                        <select class="form-control" name="idQualifcontrat" id="idQualifcontrat" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                    <!-- LI QUALIF CONTRAT -->
                    <input type="hidden" id="liQualifcontrat" name="liQualifcontrat">

                    <!-- ID NIVEAU REF -->
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="idNiveauRef">Niveau Agence</label>
                        <select class="form-control" name="idNiveauRef" id="idNiveauRef" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                    <!-- IS DROIT VOIR STRUCTURE -->
                    <input type="hidden" id="isQualifcontratStructure" name="isQualifcontratStructure">

                    <!-- IS QUALIF CONTRAT STRUCTURE -->
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <input type="checkbox" class="flat" name="isDroitVoirStructure" id="isDroitVoirStructure" >
                        <label for="isDroitVoirStructure" data-toggle="tooltip" data-html="true" title="Droit voir structure">Voir droit structure</label>
                    </div>

                </form>

                <!-- APPLICATION AND RIGHT -->
                <div class="col-xs-12" id="content_nebula">
                    {% include '@admin/utilisateurs/panneau/blocks/application/index.html.twig' %}
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="send_admin_qualifcontrat" disabled>envoyer</button>
                <button type="button" class="btn-nebula hide" data-dismiss="modal" id="modify_admin_qualifcontrat" disabled>modifier</button>
            </div>
        </div>
    </div>

</div>

