<!-- CONTENT -->
<fieldset class="x_content">

    <!-- TABLES COMBI -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liTableCombi">Tables combis</label>
        <select class="form-control" name="liTableCombi" id="liTableCombi" required>
            <option value="" hidden></option>
        </select>
        <span class="valid-nebula"></span>
    </div>

</fieldset>

