<!-- CONTENT -->
<fieldset class="x_content">

    <!-- TABLES PARAM -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liTableParamGestionDroit">Tables Param Gestion Droit</label>
        <select class="form-control" name="liTableParamGestionDroit" id="liTableParamGestionDroit" required>
            <option value="" hidden></option>
            <option value="qualifcontrat">Qualif Contrat</option>
            <option value="combiniveauxelements">Combi Niveaux Element</option>
        </select>
        <span class="valid-nebula"></span>
    </div>

</fieldset>