<!-- CONTENT -->
<fieldset class="x_content">

    <!-- TABLES PARAM -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liTableParam">Tables param</label>
        <select class="form-control" name="liTableParam" id="liTableParam" required>
            <option value="" hidden></option>
        </select>
        <span class="valid-nebula"></span>
    </div>

</fieldset>

