<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalAdminUsers">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="titleModalAdminUsers">Administration users</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- CONTENT FORM USER -->
                {% include '@admin/utilisateurs/panneau/blocks/users.html.twig' %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="reset_form_user">annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="send_form_user" disabled>envoyer</button>
                <button type="button" class="btn-nebula hide" data-dismiss="modal" id="modify_form_user" disabled>modifier</button>
            </div>
        </div>
    </div>

</div>

