<!-- CONTENT PARAM -->
<fieldset class="col-xs-6">
    <form action="javascript:void(0)" name="user_access" novalidate>

        <!-- LOGIN -->
        <div class="form-group col-sm-6 col-xs-12">
            <label for="idUtilisateur">Utilisateur</label>
            <select class="form-control" name="idUtilisateur" id="idUtilisateur" required>
                <option value="" hidden></option>
            </select>
            <span class="valid-nebula"></span>
        </div>

        <!-- TOKEN -->
        <input type="hidden" name="liToken" value="user_modified">

    </form>
</fieldset>

{% include '@admin/utilisateurs/panneau/blocks/access/list.html.twig' %}