<!-- CONTENT -->
<form action="javascript:void(0)" name="utilisateur" novalidate>

    <!-- LOGIN -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liLoginLdap">Login</label>
        <input type="text" class="form-control" id="liLoginLdap" name="liLoginLdap" maxlength="80" pattern=".{2,80}" required>
        <span class="valid-nebula"></span>
    </div>

    <!-- NOM UTILISATEUR -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="liNomutilisateur">Nom utilisateur</label>
        <input type="text" class="form-control" id="liNomutilisateur" name="liNomutilisateur" maxlength="80" pattern=".{2,80}">
    </div>

    <!-- MATRICULE -->
    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="idMatricule">Matricule</label>
        <select class="form-control" name="idMatricule" id="idMatricule" required>
            <option value="" hidden></option>
        </select>
        <span class="valid-nebula"></span>
    </div>

    <!-- TOKEN -->
    <input type="hidden" name="liToken" value="user_modified">

</form>

<!-- APPLICATION AND RIGHT -->
<div class="col-xs-12" id="content_nebula">
    {% include '@admin/utilisateurs/panneau/blocks/application/index.html.twig' %}
</div>



