 <div class="x_panel hide" id="block_avertissement_cartepro">
    <div class="x_title block-warning">
        <h2><i class="fa fa-exclamation-circle"></i> Avertissement</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

    </fieldset>

 </div>

