<!-- MENU ACTION -->
<nav class="navbar navbar-fixed-right navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate menu-pendant">

        <li> <!-- BUTTON REMOVE -->
            <a href="javascript:void(0)" class="btn-supprimer">
                <span class="desc animate">Supprimer</span>
                <span class="fa fa-trash"></span>
            </a>
        </li>

        <!-- LIST OF CONTRACT SAVED -->
        <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">
                <span class="desc animate">Contrats</span>
                <span class="fa fa-folder-open"></span>
            </a>
            <ul class="dropdown-menu animated slideInRight" role="menu" id="list_contrat_saved"></ul>
        </li>
    </ul>
</nav>