<div class="modal fade" role="dialog" id="rapport_agenda" data-backdrop="false" style="position:absolute">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body" id="agenda">
                <!--CONTENT CHARGER PAR JS-->
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Fermer</button>
            </div>

        </div>
    </div>
</div>