<!-- CONTENT -->
<div class="col-md-2 col-sm-2">
    <form action="javascript:void(0)" name="block_info" enctype="multipart/form-data">

        <!-- IMAGE PROFILE -->
        <div id="photo_info">
            <img src="{{ salarie.liCheminPhoto is defined and salarie.liCheminPhoto is not null ? asset('uploads/images/salaries/' ~ salarie.liCheminPhoto ) : asset('assets/images/user.png') }}">
            <span class="icon-photo-info"></span>
        </div>

        <!-- IDENTIFIANT UTILISATEUR -->
        <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

        <!-- MATRICULE UTILISATEUR -->
        <input type="hidden" name="idMatricule" value="{{ salarie.idMatricule }}">

    </form>

    <!-- CALC YEAR OLD SALARIE -->
    {% if salarie.dtNaissance is defined and salarie.dtNaissance is not null %}
        {% set age_salarie = date(salarie.dtNaissance, 'Y').diff(date('Y')) %}
    {% endif %}

    <!-- SHOW AGE -->
    <input type="text" class="form-control" id="age" value="{{ age_salarie.y ~ ' ans' }}" readonly>

</div>

<!-- INFO -->
<div class="col-md-8 col-sm-push-2 col-sm-6 col-xs-12">

    <!-- MATRICULE -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="idMatricule">Matricule</label>
        <input type="text" class="form-control" id="idMatricule" name="idMatricule"
               value="{{ (salarie.idMatricule is defined) ? salarie.idMatricule : '' }}" readonly>
    </div>

    <!-- NOM COMPLET -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="liPrenom">Nom complet</label>
        <input type="text" class="form-control" id="liPrenom"
               value="{{
               (
               salarie.liPrenom is defined and salarie.liPrenom is not null
               and salarie.liNom is defined and salarie.liNom is not null
               and salarie.liNomUsage is defined and salarie.liNomUsage is not null
               ) ? salarie.liNomUsage|upper ~ ' ' ~ salarie.liPrenom|capitalize ~ ' (' ~ salarie.liNom ~ ')' : '' }}"
               name="liPrenom" readonly>
    </div>

    {%  if app.request.requestUri matches '/salaries\\/irp\\/detail/' %}

        {%  if typeIrp is defined and typeIrp == 'MANDAT' %}
            <!-- MANDAT -->
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="idMandat">Mandat</label>
                <input type="text" class="form-control" id="idMandat" name="idMandat"
                       value="{{ mandat.idMandat ?? '' }}" readonly>
            </div>
        {% endif %}

        <!-- PROTECTION -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="idProtection">Protection</label>
            <input type="text" class="form-control" id="idProtection" name="idProtection"
                   value="{{ irp.idProtection ?? '' }}" readonly>
        </div>

    {% endif %}

</div>

<!-- MENU ACTIONS -->
{% if app.request.requestUri matches '/irp\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_IRP_ADMIN']) and isInactif is defined and not isInactif %}
    {% include '@irp/gestion/extra/menu_action.html.twig' %}
{% endif %}