<div class="x_panel" id="coordonneeIrp">
    <div class="x_title">
        <h2>Coordonnées</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

            <div class="col-xs-12">

                <!-- TéLéPHONE 2 -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="liTelephone">Téléphone</label>
                    <input type="tel" class="form-control" id="liTelephone" name="liTelephone" value="{{ (mandat.liTelephone is defined and mandat.liTelephone is not null) ? mandat.liTelephone : '' }}" maxlength="15" pattern="(\d{2}\s{1}){4}\d{2}$" {% if isInactif is defined and isInactif %} disabled {% endif %}>
                </div>

                <!-- ADRESSE E-MAIL -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="liMail">Adresse e-mail</label>
                    <input type="email" class="form-control" id="liMail" name="liMail" value="{{ (mandat.liMail is defined ) ? mandat.liMail : '' }}" maxlength="50" pattern=".{3,40}" {% if isInactif is defined and isInactif %} disabled {% endif %}>
                </div>

            </div>

    </fieldset>


</div>
