<div class="x_panel" id="blockMandat">
    <div class="x_title">
        <h2>Mandats</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="mandats_{{ (loop.index is defined) ? loop.index : '' }}" novalidate>


            <!-- TYPE DE PROTECTION  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTypeMandat">Type de mandat </label>
                <select class="form-control" name="idTypeMandat" id="idTypeMandat" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                    <option value="" hidden></option>
                    {% if typeIrp is defined and typeIrp == 'MANDAT' and mandat.idTypeMandat.idTypeMandat is defined and mandat.idTypeMandat.idTypeMandat is not null %}
                        <option value="{{ mandat.idTypeMandat.idTypeMandat }}" selected>{{ mandat.idTypeMandat.liTypeMandat }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <div class="clearfix"></div>

            <!-- PERIMETRE ELECTORAL  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idPerimetreElectoral">Périmètre Electoral </label>
                <select class="form-control" name="idPerimetreElectoral" id="idPerimetreElectoral" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                    <option value="" hidden></option>
                    {% if typeIrp is defined and typeIrp == 'MANDAT' and mandat.idPerimetreElectoral.idPerimetreElectoral is defined and mandat.idPerimetreElectoral.idPerimetreElectoral is not null %}
                        <option value="{{ mandat.idPerimetreElectoral.idPerimetreElectoral }}" selected>{{ mandat.idPerimetreElectoral.liPerimetreElectoral }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- ORGANISATION SYNDICALE  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idOrgSyndicale">Liste Org Syndicale </label>
                <select class="form-control" name="idOrgSyndicale" id="idOrgSyndicale" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                    <option value="" hidden></option>
                    {% if typeIrp is defined and typeIrp == 'MANDAT' and mandat.idOrgSyndicale.idOrgSyndicale is defined and mandat.idOrgSyndicale.idOrgSyndicale is not null %}
                        <option value="{{ mandat.idOrgSyndicale.idOrgSyndicale }}" selected>{{ mandat.idOrgSyndicale.liOrgSyndicale }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- CSE  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCse">Instances</label>
                <select class="form-control" name="idCse" id="idCse" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                    <option value="" hidden></option>
                    {% if typeIrp is defined and typeIrp == 'MANDAT' and mandat.idCse.idCse is defined and mandat.idCse.idCse is not null %}
                        <option value="{{ mandat.idCse.idCse }}" selected>{{ mandat.idCse.liCse }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <div class="clearfix"></div>

            <!-- DATE DE DEBUT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtDateDebut" data-toggle="tooltip" data-html="true" title="La date de début de la protection">Date de Début</label>
                <input type="text" class="form-control" id="dtDateDebut" name="dtDateDebut" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}"
                       value="{%  if typeIrp is defined and typeIrp == 'MANDAT' %}{{ (mandat.dtDateDebut is defined and irp.dtDateDebut is not null) ? mandat.dtDateDebut|date('d/m/Y') : '' }}{% endif %}" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DE FIN THEORIQUE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtDateFinTheorique" data-toggle="tooltip" data-html="true" title="La date de fin théorique de la protection">Date de Fin Théorique</label>
                <input type="text" class="form-control" id="dtDateFinTheorique" name="dtDateFinTheorique" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}"
                       value="{%  if typeIrp is defined and typeIrp == 'MANDAT' %}{{ (mandat.dtDateFinTheorique is defined and mandat.dtDateFinTheorique is not null) ? mandat.dtDateFinTheorique|date('d/m/Y') : '' }}{% endif %}" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DE FIN REELLE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtDateFinReelle" data-toggle="tooltip" data-html="true" title="La date de fin théorique de la protection">Date de Fin Réelle</label>
                <input type="text" class="form-control" id="dtDateFinReelle" name="dtDateFinReelle" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}"
                       value="{%  if typeIrp is defined and typeIrp == 'MANDAT' %}{{ (mandat.dtDateFinReelle is defined and mandat.dtDateFinReelle is not null) ? mandat.dtDateFinReelle|date('d/m/Y') : '' }}{% endif %}" {% if isInactif is defined and isInactif %} disabled {% endif %}>
                <i class="fa fa-calendar"></i>
            </div>

            <!-- HEURE DE DELEGATION  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="nbHeureDelegation">Nombre d'heure de délégation mensuelles</label>
                <input type="number" class="form-control" id="nbHeureDelegation" name="nbHeureDelegation" min="0" max="999"
                       value="{%  if typeIrp is defined and typeIrp == 'MANDAT' %}{{ (mandat.nbHeureDelegation is defined and mandat.nbHeureDelegation is not null) ? mandat.nbHeureDelegation : '' }}{% endif %}" {% if isInactif is defined and isInactif %} disabled {% endif %}>
            </div>

            <!-- COMMISSION -->
            <div class="row col-xs-12" style="margin-bottom: 16px">
                <label for="liCommission">Commission(s) : <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Ce champ sera exporté dans le classeur social"></i></label>
                <textarea class="commission-mandat" name="liCommission" id="liCommission" minlength="0" maxlength="200" {% if isInactif is defined and isInactif %} disabled {% endif %}>{{ (mandat.liCommission is defined and mandat.liCommission is not null) ? mandat.liCommission : '' }}</textarea>

                <!-- STATUS -->
                <span class="comment-status"></span>
            </div>

            <!-- COMMENTAIRE -->
            <div class="row col-xs-12" style="margin-bottom: 16px">
                <label for="liCommentaire">Commentaire :</label>
                <textarea class="comment-mandat" name="liCommentaire" id="liCommentaire" minlength="0" maxlength="100" {% if isInactif is defined and isInactif %} disabled {% endif %}>{{ (mandat.liCommentaire is defined and mandat.liCommentaire is not null) ? mandat.liCommentaire : '' }}</textarea>

                <!-- STATUS -->
                <span class="comment-status"></span>
            </div>

            {% include "@irp/gestion/blocks/coordonnees.html.twig" %}

            <!-- IDENTIFIANT UTILISATEUR -->
            <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

            <!-- MATRICULE UTILISATEUR -->
            <input type="hidden" name="idMatricule" value="{{ salarie.idMatricule }}">

        </form>

    </fieldset>

</div>
