<div class="x_panel" id="blockProtection">
    <div class="x_title">
        <h2>Protection</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="protection" novalidate>

            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- TYPE DE PROTECTION  -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="idTypeProtection">Type de protection </label>
                    <select class="form-control" name="idTypeProtection" id="idTypeProtection" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                        <option value="" hidden></option>
                        {% if irp.idTypeProtection.idTypeProtection is defined and irp.idTypeProtection.idTypeProtection is not null %}
                            <option value="{{ irp.idTypeProtection.idTypeProtection }}" selected>{{ irp.idTypeProtection.liTypeProtection }}</option>
                        {% endif %}
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- PERIMETRE ELECTORAL  -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="idPerimetreElectoral">Périmètre Electoral </label>
                    <select class="form-control" name="idPerimetreElectoral" id="idPerimetreElectoral" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                        <option value="" hidden></option>
                        {% if irp.idPerimetreElectoral.idPerimetreElectoral is defined and irp.idPerimetreElectoral.idPerimetreElectoral is not null %}
                            <option value="{{ irp.idPerimetreElectoral.idPerimetreElectoral }}" selected>{{ irp.idPerimetreElectoral.liPerimetreElectoral }}</option>
                        {% endif %}
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- ORGANISATION SYNDICALE  -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="idOrgSyndicale">Liste Org Syndicale </label>
                    <select class="form-control" name="idOrgSyndicale" id="idOrgSyndicale" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                        <option value="" hidden></option>
                        {% if irp.idOrgSyndicale.idOrgSyndicale is defined and irp.idOrgSyndicale.idOrgSyndicale is not null %}
                            <option value="{{ irp.idOrgSyndicale.idOrgSyndicale }}" selected>{{ irp.idOrgSyndicale.liOrgSyndicale }}</option>
                        {% endif %}
                    </select>
                    <span class="valid-nebula"></span>
                </div>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">

                <!-- DATE DE DEBUT -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="dtDateDebut" data-toggle="tooltip" data-html="true" title="La date de début de la protection">Date de Début</label>
                    <input type="text" class="form-control" id="dtDateDebut" name="dtDateDebut" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}"
                           value="{{ (irp.dtDateDebut is defined and irp.dtDateDebut is not null) ? irp.dtDateDebut|date('d/m/Y') : '' }}" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                    <i class="fa fa-calendar"></i>
                    <span class="valid-nebula"></span>
                </div>

                <!-- DATE DE FIN THEORIQUE -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="dtDateFinTheorique" data-toggle="tooltip" data-html="true" title="La date de fin théorique de la protection">Date de Fin Théorique</label>
                    <input type="text" class="form-control" id="dtDateFinTheorique" name="dtDateFinTheorique" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}"
                           value="{{ (irp.dtDateFinTheorique is defined and irp.dtDateFinTheorique is not null) ? irp.dtDateFinTheorique|date('d/m/Y') : '' }}" required {% if isInactif is defined and isInactif %} disabled {% endif %}>
                    <i class="fa fa-calendar"></i>
                    <span class="valid-nebula"></span>
                </div>

                <!-- DATE DE FIN REELLE -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="dtDateFinReelle" data-toggle="tooltip" data-html="true" title="La date de fin théorique de la protection">Date de Fin Réelle</label>
                    <input type="text" class="form-control" id="dtDateFinReelle" name="dtDateFinReelle" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}"
                           value="{{ (irp.dtDateFinReelle is defined and irp.dtDateFinReelle is not null) ? irp.dtDateFinReelle|date('d/m/Y') : '' }}" {% if isInactif is defined and isInactif %} disabled {% endif %}>
                    <i class="fa fa-calendar"></i>
                </div>

                <!-- COMMENTAIRE -->
                <div class="row col-xs-12">
                    <label for="liCommentaire">Commentaire :</label>
                    <textarea class="comment-protection" name="liCommentaire" id="liCommentaire" minlength="0" maxlength="100" {% if isInactif is defined and isInactif %} disabled {% endif %}>{{ (irp.liCommentaire is defined and irp.liCommentaire is not null) ? irp.liCommentaire : '' }}</textarea>

                    <!-- STATUS -->
                    <span class="comment-status"></span>
                </div>

            </div>

        </form>
    </fieldset>

</div>
