<form action="javascript:void(0)" name="planification_form">

    <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="idMatriculePlanification">Salarié concerné</label>
            <select class="form-control" name="idMatricule" id="idMatriculePlanification" required>
                {%  if salarie.idMatricule is defined and salarie.idMatricule is not null %}
                    <option value="{{ salarie.idMatricule }}" selected>{{ salarie.liPrenom }} {{ salarie.liNomUsage }}
                        {{ salarie.liNom and salarie.liNom != salarie.liNomUsage ? '(' ~ salarie.liNomUsage ~ ')' : '' }}
                        - {{ salarie.idMatricule }}</option>
                {% endif %}
            </select>
            <span class="valid-nebula"></span>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="dtPlanification">Date et heure</label>
        <input type="text"
               class="form-control"
               id="dtPlanification"
               name="dtPlanification"
               maxlength="30"
               pattern="\d{2}\/\d{2}\/\d{4} (0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-4][0-9]|5[0-9]):(0[0-9]|[1-4][0-9]|5[0-9])"
               data-timepicker="true"
               value="{{ (planification.dtPlanification is defined) ? planification.dtPlanification|date('dd/MM/yyyy mm:HH:ss') : '' }}"
               required />
        <i class="fa fa-calendar"></i>
        <span class="valid-nebula"></span>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="liLieu">Lieu</label>

        <input type="text"
               class="form-control"
               id="liLieu"
               name="liLieu"
               maxlength=""
               value="{{ (planification.liLieu is defined) ? planification.liLieu : '' }}"
               required />
        <span class="valid-nebula"></span>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="liResponsable">Responsable</label>
        <input type="text"
               class="form-control"
               id="liResponsable"
               name="liResponsable"
               maxlength="30"
               value="{{ (planification.liResponsable is defined) ? planification.liResponsable : '' }}"
               required />
        <span class="valid-nebula"></span>
    </div>
</form>

<!-- ID PLANIFICATION -->
<input
        type="hidden"
        id="idPlanificationEp"
        name="idPlanificationEp"
        value="{{ (planification.idPlanificationEp is defined) ? planification.idPlanificationEp : '' }}"
/>

<!-- IS REALISE -->
<input type="hidden"
       id="isRealise"
       name="isRealise"
       value="{{ (planification.idPlanificationEp is defined) ? planification.idPlanificationEp : '' }}"
/>
