<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalPlanification">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="titleModalPlanification">Planifier un entretien</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <!-- CONTENT FORM PLANIFICATION -->
                {% include '@entretien/gestion/modal/planification/content.html.twig' %}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn-nebula-purple hide pull-left" data-dismiss="modal" id="entretien_realise">Entretien réalisé</button>
                <button type="button" class="btn-nebula-red hide" data-dismiss="modal" id="remove_planification">Supprimer</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="send_planification" disabled>Enregistrer</button>
            </div>

        </div>
    </div>
</div>

