<!-- CLAUSES OPTIONNELLES -->
<div class="col-xs-12" id="clausescontrat">
{% if params.clausescontrat is defined %}

    {% for clausescontrat in params.clausescontrat %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" class="flat" name="{{ clausescontrat.liClausescontrat }}" id="{{ clausescontrat.idClausescontrat }}"
                   value="{{ clausescontrat.isInfoSupp }}"
            {% if contrat.clause_opt is defined and contrat.clause_opt|length > 0 %}
                {% for clause_opt in contrat.clause_opt %}
                    {{ (clausescontrat.idClausescontrat == clause_opt.idClausescontrat.idClausescontrat) ? 'checked' : '' }}
                {% endfor %}
            {% endif %}
            >
            <label data-toggle="tooltip" data-html="true" title="{{ clausescontrat.liClausescontrat }}">{{ clausescontrat.liClausescontrat }}</label>
        </div>
    {% endfor %}

{% endif %}
</div>

<div class="clearfix"></div>
<br>
<div class="col-xs-12"  id="listClauseOpt">
    {% if contrat.clause_opt is defined and contrat.clause_opt|length > 0 %}
        {% for clause_opt in contrat.clause_opt %}
            {% include '@contrat/gestion/blocks/clause_opt.html.twig' %}
        {% endfor %}
    {% endif %}
</div>
