<div id="kpi-{{ kpi.idKpi }}" class="tile_count col-md-4 col-sm-12 col-xs-12" style="margin-top: 0;order: {{ kpi.nbOrdre }}">
    <div class="tile_stats_count">
        <span id="idKpi" class="count_top hidden">{{ kpi.idKpi }}</span>
        <div class="x_panel" style="border: none">
            <div class="x_title text-center" style="border: none;">
                <i  class="{{ kpi.liIconeKpi }}"></i>
                <strong>{{ kpi.liKpi }}</strong>
            </div>
            </hr class="my-4">
            <div id="camembert_dashboard-{{ kpi.idKpi }}" style="height:200px;width: 375px"></div>
        </div>
    </div>
</div>