<div id="kpi-{{ kpi.idKpi }}" class="tile_count col-md-4 col-sm-12 col-xs-12" style="margin: 0; text-align: center; order: {{ kpi.nbOrdre }}">
    <div class="tile_stats_count">
        <span id="idKpi" class="count_top hidden">{{ kpi.idKpi }}</span>
        <div class="x_panel" style="border: none">
            <div class="x_title text-center" style="border: none;">
                <i  class="{{ kpi.liIconeKpi }}"></i>
                <strong>{{ kpi.liKpi }}</strong>
            </div>

            <div class="count indicat_3 contentCount text-center" style="cursor: pointer;" data-view-filter="{{ kpi.liVueTable }}">
                <span id="nbSeuilAlerte" class="hidden">{{ kpi.nbSeuilAlerte }}</span>
                <button style="border: none; background: transparent;"></button> {{ kpi.idTypeValeurKpi.liTypeValeurKpi }}
                {% if kpi.liCommentaire is defined and kpi.liCommentaire is not null %}
                    <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="{{ kpi.liCommentaire }}" style="font-size: initial !important;"></i>
                {% endif %}
            </div>
            <div class="count" id="souskpi" >
                {% set i = 0 %}
                {% for sousKpi in kpi.idSousKpi %}
                    <span class="count_top" >
                {% if i > 0 %}
                    /
                {% endif %}
                {% if i%2 == 0 %}
                    </br>
                {% endif %}
                    <span id="{{ sousKpi.liSousKpi }}">
                        <span id="nbSeuilAlerteSousKpi" class="hidden">{{ sousKpi.nbAlerte }}</span>
                        <span id="sousCount">{{ kpi.idTypeValeurKpi.liTypeValeurKpi }}</span> {{ sousKpi.liSousKpi|replace({'_': " "}) }}
                    </span>
                    {% if sousKpi.liCommentaire is defined and sousKpi.liCommentaire is not null %}
                        <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="{{ sousKpi.liCommentaire }}" ></i>
                    {% endif %}
                </span>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>