<div class="form-group hidden">
    <label for="idEtape" >idEtape</label>
    <input type="text" class="form-control" id="idEtape" name="idEtape" value="{{ (etape.idEtape is defined and etape.idEtape is not null) ? etape.idEtape : '' }}">
</div>

<form action="javascript:void(0)" name="modal_etape" novalidate>

    <div class="form-group">
        <label for="liEtape" >libellé</label>
        <input type="text" class="form-control" id="liEtape" name="liEtape" value="{{ (etape.liEtape is defined and etape.liEtape is not null) ? etape.liEtape : '' }}">
    </div>

    <div class="form-group">
        <label for="liCommentaire" >Commentaire</label>
        <input type="text" class="form-control" id="liCommentaire" name="liCommentaire" maxlength="250" value="{{ (etape.liCommentaire is defined and etape.liCommentaire is not null) ? etape.liCommentaire : '' }}">
    </div>

    <div class="form-group">
        <div class="col-md-4 col-sm-4 col-xs-8">
            <label for="isPrive">Privé</label>
        </div>

        {% if etape.isPrive is defined and etape.isPrive is not null and etape.isPrive == 1  %}
            {% set checkedIsPrive = "checked" %}
        {% else %}
            {% set checkedIsPrive = "" %}
        {% endif %}

        <div class="col-md-4 col-sm-4 col-xs-8">
            <input id="isPrive" name="isPrive" type="checkbox" class="js-switch" {{ checkedIsPrive }} />
        </div>

    </div>

    <div class="form-group col-md-4 col-sm-6 col-xs-12">
        <label for="idProcess">Processus</label>
        <select class="form-control" id="idProcess" name="idProcess" required>
            <option value="" hidden></option>
            {% if etape.idProcess.idProcess is defined and etape.idProcess.idProcess is not null %}
                <option value="{{  etape.idProcess.idProcess }}" selected>{{ etape.idProcess.liProcess }}</option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>
</form>