<div class="col-xs-12" id="content_nebula">

    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des cartes pro arrivant à expiration dans {{ nb_jour }} jours</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF CARTE PRO -->
            <table id="datatable-cartepro" data-table-cartepro="{{ listCartepro|json_encode }}" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Matricule</th>
                    <th>Nom Complet (Nom de naissance)</th>
                    <th>Numéro de carte</th>
                    <th>Agence</th>
                    <th>Date début validité</th>
                    <th>Date fin validité</th>
                    <th>Date dernier contrôle</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <!-- CONTENT CARTEPRO -->
                <!-- Regardez le fichier table_cartepro.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>

