{% extends 'app/example-base.html.twig' %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block site_title %}
    <a href="" class="site_title">
        <i class="fa fa-bar-chart"></i> <span>Plannification des étapes</span>
    </a>
{% endblock %}

{% block top_nav_menu_left %}
    {% include '@calendrier/includes/top_nav_menu_left.html.twig' %}
{% endblock %}

{% block sidebar_menu %}
    {% include '@calendrier/includes/sidebar_menu.html.twig' %}
{% endblock %}

{% block page_content %}

    {% block breadcrumb %}
        {% include '@calendrier/includes/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>Plannification des étapes</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula page-accueil">
                {% include '@calendrier/admin/etapeDate/content.html.twig' %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}

{% block modals %}
    {% include '@calendrier/admin/etapeDate/modal/index.html.twig' %}
{% endblock %}


{% block javascripts %}

    <script src="{{ asset('dist/js/calendrier.min.js') }}"></script>

{% endblock javascripts %}