<!-- SALARIE -->
<div class="form-group col-md-8 col-sm-8 col-xs-12">
    <label for="idUtilisateur">Séléctionner Utilisateur</label>
    <select class="form-control" name="idUtilisateur" id="idUtilisateur">
        <option value="" hidden></option>
    </select>
    <span class="valid-nebula"></span>
</div>
