<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="switchRemoteUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Changer Utilisateur</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-offset-1">
                    <!-- CONTENT NIR -->
                    <form action="javascript:void(0)" name="switch_remote_user" novalidate>
                        {% include 'app/modal/switch_user/content.html.twig' %}

                    </form>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="submit" class="btn-nebula" id="switch_remote_user" data-dismiss="modal" disabled>changer</button>

            </div>
        </div>
    </div>

</div>

