<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des utilisateurs</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {% if is_granted(['ROLE_MOSAIC_ADMIN']) %}

                <!-- BUTTON ADD -->
                <div class="col-xs-12">
                    <button id="add_new_user" class="btn-nebula alignright">
                        Ajouter
                    </button>
                </div>

            {% endif %}

            <!-- LIST OF USERS -->
            <table id="datatable-user" class="table table-striped table-bordered dt-responsive nowrap">
                <!-- CONTENT USERS -->
                <!-- Regardez le fichier js/nebula/admin/users/table_users.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>
