<!-- MATRICULE SALARIE -->
<div class="form-group col-md-8 col-sm-8 col-xs-12">
    <label for="idMatricule">Choisir salarié</label>
    <select class="form-control" name="idMatricule" id="idMatricule">
    </select>
    <span class="valid-nebula"></span>
</div>

<!-- DATA DUPLICATED -->
<input type="hidden" name="dataSaved">

