<div class="modal fade" role="dialog" aria-hidden="true" id="duplicateSheet">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Dupliquer la fiche</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                <div class="col-md-offset-1">

                    <!-- CONTENT DUPLICATE -->
                    <form action="javascript:void(0)" name="duplicate_sheet" novalidate>
                        {% include "@contrat/gestion/modal/duplique/content.html.twig" %}
                    </form>

                </div>
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Retourner</button>
                <button type="button" class="btn-nebula" id="duplicate_sheet" data-dismiss="modal" disabled>Dupliquer</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->