<nav class="navbar navbar-fixed-right navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate menu-pendant">
        <li>
            <a href="javascript:void(0)" class="btn-telecharger">
                <span class="desc animate">Télécharger</span>
                <span class="fa fa-download"></span>
            </a>
        </li>
    </ul>
</nav>

