<form class="dropzone"  action="{{  path('files_upload_new') }}" name="file_upload_doc" id="file-upload-dropzone" novalidate>

    <input type="file" name="required-file" id="required-file" class="hide" multiple="" required>

    <!-- DEFAULT MESSAGE -->
    <div class="dz-default dz-message">
        <svg class="file_upload_icon" width="50" height="43" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>
        <p><strong>Sélectionnez un document</strong> ou déplacez-le ici.</p>
        <p style="font-size: 1.2rem">type de fichier : <strong style="color: red">PDF</strong><br> taille maximum : <strong style="color: red">2M</strong></p>
    </div>

</form>