<!-- FILE UPLOAD CONTENT -->
<div class="col-xs-12" id="file_upload_content">

    <!-- CONTENT -->
    <fieldset class="x_content">

        <!-- TYPE DOCUMENT -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="idTypeDoc">Type de Document</label>
            <select class="form-control" name="idTypeDoc" id="idTypeDoc" required>
                <option value="" hidden></option>
            </select>
            <span class="valid-nebula"></span>
        </div>

        <div class="clearfix"></div>

        <!-- CONTENT ELEMENTS FORM -->
        <div class="col-md-4 col-sm-6 col-xs-12" id="file_upload_form">
            <!-- For about that content take at look on nebula/files/params.js -->
        </div>

        <!-- UPLOAD FILE -->
        <div class="col-md-offset-1 col-md-7 col-sm-6 col-xs-12" id="file_upload_document">
            {% include '@files/gestion/file_upload.html.twig' %}
        </div>


    </fieldset>

    <!-- BUTTON -->
    <div class="col-xs-12" id="file_upload_button">
        <button type="button" class="btn-nebula pull-right" id="send_form_file" disabled>Enregistrer</button>
        <button type="button" class="btn-nebula-default pull-right" id="reset_form_file">Annuler</button>
    </div>

</div>


