<div class="x_panel">
    <div class="x_title">
       <h2>Enregistrer un document</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- CONTENT -->
        {% include '@files/gestion/form.html.twig' %}

    </div>
</div>