<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        <!-- BLOCKS LEFT -->
        <div class="col-md-8 col-sm-8 col-xs-12" id="blocks_left">
            <div class="col-xs-12">


            </div>
        </div>

        <!-- BLOCKS RIGHT -->
        <div class="col-md-4 col-sm-4 col-xs-12" id="blocks_right">

        </div>

        <!-- BUTTON -->
        <div class="col-xs-12">

            <button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>

            <!-- PAGE NEW -->
            {% if app.request.requestUri matches '/salaries\\/entretien\\/new/' %}
                <button type="button" class="btn-nebula" id="send_form" disabled>Envoyer</button>

            {% endif %}

            <!-- PAGE DETAIL -->
            {% if app.request.requestUri matches '/salaries\\/entretien\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CARTEPRO_ADMIN']) %}

                <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
                <button type="button" class="btn-nebula" id="update_form">Modifier</button>

            {% endif %}
        </div>

    </div>
</div>
