{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@entretien/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        {% include "@entretien/gestion/form.html.twig" %}
    </div>

{% endblock %}

{% block javascripts %}{% endblock javascripts %}