{% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_ANALYTIQUE_USER'])  %}

    <div class="x_panel" id="block_analytique_contrat">
        <div class="x_title">
            <h2>Analytique</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">

            <div class="list-folder-nebula">
                <ul id="list-analytiques" data-analytiques="{{ contrat.analytique|json_encode }}"></ul>
            </div>

            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_AVENANT_ADMIN']) %}
                <a href="javascript:void(0)" class="btn-add-analytique" data-toggle="tooltip" data-html="true" title="Ajouter un analytique">
                    <i class="fa fa-plus-circle m-1-3"></i> Ajouter
                </a>
            {% endif %}

        </fieldset>

    </div>

{% endif %}

