{% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_AVENANT_USER']) %}

    <div class="x_panel" id="block_avenant_contrat">
        <div class="x_title">
            <h2>Avenants</h2><span id="count_avenant"></span>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">

            <div class="list-folder-nebula">

                <!-- LIST OF AVENANT -->
                <ul id="content_list_avenant"></ul>

            </div>

            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_AVENANT_ADMIN']) %}
                <a href="{{ path('avenant_new', { idMatricule : contrat.idMatricule.idMatricule , idContrat : contrat.idContrat,}) }}" class="btn-add-avenant" data-toggle="tooltip" data-html="true" title="Ajouter un avenant">
                    <i class="fa fa-plus-circle m-1-2"></i> Ajouter
                </a>
            {% endif %}
        </fieldset>

    </div>

{% endif %}
