<!-- PREVIEW FORM CONTRAT -->
<section class="col-center" >
    <div class="row carousel slide" data-ride="carousel" data-interval="false" id="carousel-{{ salarie.idMatricule }}">

        <!-- INDICATORS -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-{{ salarie.idMatricule }}" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-{{ salarie.idMatricule }}" data-slide-to="1"></li>
            <li data-target="#carousel-{{ salarie.idMatricule }}" data-slide-to="2"></li>
        </ol>

        <!-- CONTENU DU PREVIEW -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
            </div>
            <div class="item">
            </div>
            <div class="item">
            </div>
        </div>

        <!-- CONTROLS -->
        <a class="left carousel-control" href="#carousel-{{ salarie.idMatricule }}" role="button" data-slide="prev">
            <span class="fa fa-chevron-left fa-2x" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-{{ salarie.idMatricule }}" role="button" data-slide="next">
            <span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>
        </a>
    </div>

    <!-- TEXTE INFORMATIF -->
    <div class="form-inline col-md-12">
        <p class="form-control-static"></p>
    </div>
</section>
