<div class="modal fade" role="dialog" id="prevFormContrat">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>Contrat :</strong> {{ salarie.liPrenom|capitalize ~ ' ' ~ salarie.liNom }}</h4>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                {% include "@contrat/gestion/modal/preview/content.html.twig" %}
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">retourner</button>
                <button type="button" class="btn-nebula-purple hide" id="valid_form" data-dismiss="modal" disabled>à valider</button>
                <button type="button" class="btn-nebula" id="send_form" data-dismiss="modal" disabled>envoyer</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->