<div class="modal fade modal-custom-dematis" role="dialog" id="dematisFullScreen">
    <div class="modal-dialog modal-dialog-custom-dematis" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Documents</h4>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">

                <!-- LIST OF DOCUMENTS NUXEO -->
                <div id="nuxeoModal" class="list-folder-tree"></div>

            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Retour</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->