<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des éléments</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_TABLE_ADMIN']) %}

                <!-- BUTTON ADD -->
                <div class="col-xs-12">
                    <button id="add_table_param_gestion_droit" class="btn-nebula alignright">
                        Ajouter
                    </button>
                </div>

            {% endif %}

            <!-- LIST OF TABLES PARAM -->
            <table id="datatable-tables-param-gestion-droit" class="table table-striped table-bordered table-responsive nowrap">
                <!-- CONTENT PARAM -->
                <!-- Regardez le fichier js/nebula/admin/tables/table_param_gestion_droit.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>

