<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalAdminCombiNiveauxElements">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="titleModalAdminCombiNiveauxElements">Administration Combi Niveaux Element</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- CONTENT FORM TABLES -->
                <form action="javascript:void(0)" name="combiniveauxelements" novalidate>

                    <!-- ID NIVEAU -->
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="idNiveau">Niveau</label>
                        <select class="form-control" name="idNiveau" id="idNiveau" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                    <!-- ID ELEMENT -->
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="idElement">Element</label>
                        <select class="form-control" name="idElement" id="idElement" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                    <!-- ID ELEMENT PARENT -->
                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                        <label for="idElementParent">Element Parent</label>
                        <select class="form-control" name="idElementParent" id="idElementParent" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="modify_admin_combiniveauxelements">modifier</button>
            </div>
        </div>
    </div>

</div>

