<!-- CONTENT -->
<table id="datatable-logs-rhpi" class="table table-striped table-bordered dt-responsive nowrap">
    {% include '@salarie/gestion/blocks/logs/table.html.twig' with {'type_view': 'rhpi'} %}
</table>