{% extends "app/base.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@mutuelle/breadcrumb.html.twig' %}
    {% endblock %}


    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula">

                {% if app.request.requestUri matches '/salaries\\/mutuelles\\/liste/'  %}
                    {% include "@mutuelle/gestion/blocks/block_info.html.twig" %}
                {% endif %}

                {% include '@mutuelle/gestion/list.html.twig' %}

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}


{% block modals %}{% endblock %}


{% block javascripts %}{% endblock javascripts %}