<!-- TYPE DOCUMENT -->
<div class="form-group col-md-8 col-sm-8 col-xs-12">
    <label for="idTypeDocument">Type document</label>
    <select name="idTypeDocument" id="idTypeDocument" class="form-control" required>
        <option value="" hidden></option>
        {% if listTypeDoc is defined and listTypeDoc is not null %}
            {% for typeDoc in listTypeDoc %}
                <option value="{{ typeDoc.idTypeDocument }}">{{ typeDoc.liTypeDocument }} </option>
            {% endfor %}
        {% endif %}
    </select>
    <span class="valid-nebula"></span>
</div>

<input type="hidden" name="title_doc" value="">