<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="typeDocument">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Choisir type de document</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-offset-1">
                    <!-- CONTENT TYPE DOCUMENT -->
                    <form action="{{ path('admin_document_index') }}" name="type_document" method="POST" novalidate>
                        {% include '@admin/document/modal/content.html.twig' %}

                    </form>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="cancel_type_document">annuler</button>
                <button type="submit" class="btn-nebula" id="valid_type_document" disabled>valider</button>
            </div>
        </div>
    </div>

</div>

