
<div class="form-group hidden">
    <label for="idEtapeDate" >idEtapeDate</label>
    <input type="text" class="form-control" id="idEtapeDate" name="idEtapeDate" value="{{ (etapeDate.idEtapeDate is defined and etapeDate.idEtapeDate is not null) ? etapeDate.idEtapeDate : '' }}" readonly>
</div>

<form action="javascript:void(0)" name="modal_etape_date" novalidate>

    <div class="form-group">
        <label for="dtEtapeDate">Date de réalisation</label>
        <input type="text" class="form-control" id="dtEtapeDate" name="dtEtapeDate" data-timepicker="true" value="{{ (etapeDate.dtEtapeDate is defined and etapeDate.dtEtapeDate is not null) ? etapeDate.dtEtapeDate|date('d/m/Y H:i:s') : '' }}" >
    </div>

    {% if etapeDate.idEtape.isPrive is defined and etapeDate.idEtape.isPrive is not null and etapeDate.idEtape.isPrive == 1  %}
        {% set hidden = "hidden" %}
    {% else %}
        {% set hidden = "" %}
    {% endif %}

    <div class="form-group {{ hidden }}">
        <label for="dtEtapeAlerte">Date d'alerte</label>
        <input type="text" class="form-control" id="dtEtapeAlerte" name="dtEtapeAlerte" data-timepicker="true" value="{{ (etapeDate.dtEtapeAlerte is defined and etapeDate.dtEtapeAlerte is not null) ? etapeDate.dtEtapeAlerte|date('d/m/Y H:i:s') : '' }}" >
    </div>

    <div class="form-group">
        <label for="liCommentaire" >Commentaire</label>
        <input type="text" class="form-control" id="liCommentaire" name="liCommentaire" value="{{ (etapeDate.liCommentaire is defined and etapeDate.liCommentaire is not null) ? etapeDate.liCommentaire : '' }}">
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label for="idEtape">Etape</label>
        <select class="form-control" id="idEtape" name="idEtape" required>
            <option value="" hidden></option>
            {% if etapeDate.idEtape.idEtape is defined and etapeDate.idEtape.idEtape is not null %}
                <option value="{{ etapeDate.idEtape.idEtape }}" selected>{{ etapeDate.idEtape.liEtape }}</option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>

</form>