<!-- calendar modal -->

<div class="modal fade" role="dialog" id="etapeDateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"><strong>Plannification d'étapes</strong></h3>
            </div>

            <div class="modal-body">
                <!--CONTENT CHARGER PAR JS-->
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn-nebula" id="send_etape_date" data-dismiss="modal" {{ (is_granted('ROLE_CALENDRIER_ADMIN')) ? 'readonly' : '' }}>Envoyer</button>
            </div>

        </div>
    </div>
</div>
