<nav class="navbar navbar-fixed-right navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate menu-pendant">

        {% if app.request.requestUri matches '/avenants\\/new/' %}

            {#<li>#}
                {#<a href="javascript:void(0)" class="btn-sauve" id="save_form">#}
                    {#<span class="desc animate">Sauvegarder</span>#}
                    {#<span class="fa fa-save"></span>#}
                {#</a>#}
            {#</li>#}

        {% endif %}

        <!-- FUNCTION TO PAGE DETAIL -->
        {% if app.request.requestUri matches '/avenants\\/(detail|validate)/' %}

            <li>
                <a href="javascript:void(0)" class="btn-telecharger" >
                    <span class="desc animate">Télécharger</span>
                    <span class="fa fa-download"></span>
                </a>
            </li>

            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_AVENANT_ADMIN']) %}

                <!-- BUTTON REMOVE -->
                <li>
                    <a href="javascript:void(0)" class="btn-supprimer" >
                        <span class="desc animate">Supprimer</span>
                        <span class="fa fa-trash"></span>
                    </a>
                </li>
            {% endif %}


        {% endif %}


        <!-- LIST OF AVENANT SAVED -->
        {#<li class="dropdown">#}
            {#<a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">#}
                {#<span class="desc animate">Avenants</span>#}
                {#<span class="fa fa-folder-open"></span>#}
            {#</a>#}

            {#<ul class="dropdown-menu animated slideInRight" role="menu" id="list_avenant_saved"></ul>#}
        {#</li>#}

    </ul>
</nav>

