#liste-prg-elements, #liste-nv-elements {
  & form {
    margin-bottom: 20px;
  }

  & label {
    color: $color-secondary2;
    font-size: 1.2em;
  }
}

input[id^="reset_form_element_"] {
  margin-left: 8px;
  width: 42%;
}

button[id^="select_all_element_"] {
  width: 42%;
}