#liste-variables {
  position: relative;
  display: inline-block;
  border: 1px solid #ececec;
  margin: 20px 0 20px 0;
  padding: 20px;
  box-shadow: 2px 1px 8px lighten(black, 80);

  & div.x_title:hover {
    cursor: move
  }

}

