<div class="x_panel">
    <div class="x_title">
        <h2>Acompte</h2>
        {% if acompte.idMatriculeValideur is defined and acompte.idMatriculeValideur is not null %}
            <span style="color: white; font-weight: normal; margin-left: 6px;" class="label label-success">Validée</span>
        {% endif %}

        <!-- MONTANT MAX -->
        <span style="margin-left: 56%">
            Montant brut indicatif Max :
            <span class="montant-max" style="color: #c92014; font-weight: bold; font-size: 16px;">0,00</span> €
        </span>

        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>

        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

        {# TODO Gestion de droits sur le bouton (service paie uniquement) #}
        {# Uniquement pour les acomptes exceptionnels #}
        {% if acompte.idTypeAcompte.idTypeAcompte is defined and acompte.idTypeAcompte.idTypeAcompte == 3
            and acompte.idMatriculeValideur is defined and acompte.idMatriculeValideur is null
        %}
            <div class="col-xs-12">
                <div class="alignright">
                    <button id="valide-acompte" class="btn-nebula">
                        Valider
                    </button>
                </div>
            </div>
        {% endif %}

        <form action="javascript:void(0)" name="acompte" novalidate>

            <!-- CONTRAT INITIAL -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idContratInitial">Contrat Initial</label>
                <select class="form-control" name="idContratInitial" id="idContratInitial" required>
                    <option value="" hidden></option>
                    {% if acompte.idContratInitial.idContrat is defined and acompte.idContratInitial.idContrat is not null %}
                        <option value="{{ acompte.idContratInitial.idContrat }}" data-salaire="{{ acompte.idContratInitial.nbSalaireBase }}" selected>
                            {{
                            acompte.idContratInitial.idTypecontrat.liTypecontrat ~
                            ' - ' ~ acompte.idContratInitial.idQualifcontrat.liQualifcontrat ~
                            ' (' ~ acompte.idContratInitial.idContrat ~ ')'
                            }}
                        </option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- TYPE D'ACOMPTE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTypeAcompte">Type d'acompte</label>
                <select class="form-control" name="idTypeAcompte" id="idTypeAcompte" required>
                    <option value="" hidden></option>
                    {% if  acompte.idTypeAcompte.idTypeAcompte is defined and acompte.idTypeAcompte.idTypeAcompte is not null %}
                        <option value="{{ acompte.idTypeAcompte.idTypeAcompte }}" selected>{{ acompte.idTypeAcompte.liTypeAcompte }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- PéRIODE DéBUT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCalendrierPaieDebut">Période début</label>
                <select class="form-control" name="idCalendrierPaieDebut" id="idCalendrierPaieDebut" required>
                    <option value="" hidden></option>
                    {% if  acompte.idCalendrierPaieDebut.idCalendrierPaie is defined and acompte.idCalendrierPaieDebut.idCalendrierPaie is not null %}
                        <option value="{{ acompte.idCalendrierPaieDebut.idCalendrierPaie }}" selected>
                            {{ acompte.idCalendrierPaieDebut.liCalendrierPaie }}
                        </option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>
            <!-- PéRIODE FIN -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCalendrierPaieFin">Période fin</label>
                <select class="form-control" name="idCalendrierPaieFin" id="idCalendrierPaieFin">
                    <option value="" hidden></option>
                    {% if  acompte.idCalendrierPaieFin.idCalendrierPaie is defined and acompte.idCalendrierPaieFin.idCalendrierPaie is not null %}
                        <option value="{{ acompte.idCalendrierPaieFin.idCalendrierPaie }}" selected>
                            {{ acompte.idCalendrierPaieFin.liCalendrierPaie }}
                        </option>
                    {% endif %}
                </select>
            </div>

            <!-- MONTANT DEMANDé -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="nbMontantDemande">Montant demandé</label>
                <input type="number" step="0.01" class="form-control" id="nbMontantDemande" name="nbMontantDemande" value="{{ (acompte.nbMontantDemande is defined) ? acompte.nbMontantDemande : '' }}" max="9999.99"  required>
                <span class="valid-nebula"></span>
            </div>

            {% if app.request.requestUri matches '/salaries\\/acomptes\\/detail/' %}
                <!-- MONTANT ACCORDé -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="nbMontantAccorde">Montant accordé</label>
                    <input type="number" step="0.01" class="form-control" id="nbMontantAccorde" name="nbMontantAccorde" value="{{ (acompte.nbMontantAccorde is defined) ? acompte.nbMontantAccorde : '' }}" max="9999.99" disabled>
                </div>
            {% endif %}

        </form>

        <!-- ID CALENDRIER PAIE -->
        <input type="hidden" class="form-control" name="idCalendrierPaie" id="idCalendrierPaie"/>

    </fieldset>

</div>
