<!-- CONTENT -->
<div class="col-md-2 col-sm-2">
    <form action="javascript:void(0)" name="block_info" enctype="multipart/form-data">

        <!-- IMAGE PROFILE -->
        <div id="photo_info">
            <img src="{{ salarie.liCheminPhoto is defined and salarie.liCheminPhoto is not null ? asset('uploads/images/salaries/' ~ salarie.liCheminPhoto ) : asset('assets/images/user.png') }}">
            <span class="icon-photo-info"></span>
        </div>

        <!-- IDENTIFIANT UTILISATEUR -->
        <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

        <!-- MATRICULE UTILISATEUR -->
        <input type="hidden" name="idMatricule" value="{{ salarie.idMatricule }}">

    </form>

    <!-- IMAGE -->
    <input type="file" name="imageSalarie" id="imageSalarie" disabled>

    <!-- CALC YEAR OLD SALARIE -->
    {% if salarie.dtNaissance is defined and salarie.dtNaissance is not null %}
        {% set age_salarie = date(salarie.dtNaissance, 'Y').diff(date('Y')) %}
    {% endif %}

    <!-- SHOW AGE -->
    <input type="text" class="form-control" id="age" value="{{ age_salarie.y ~ ' ans' }}" readonly>


</div>

<!-- INFO -->
<div class="col-md-offset-1 col-md-8 col-sm-offset-1 col-sm-6 col-xs-12">

    <!-- MATRICULE -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="idMatricule">Matricule</label>
        <input type="text" class="form-control" id="idMatricule" name="idMatricule" value="{{ salarie.idMatricule ?? '' }}" readonly>
    </div>

    <!-- NOM COMPLET -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="liNomComplet">Nom complet</label>
        <input type="text" class="form-control" id="liNomComplet" value="{{
               (
               salarie.liPrenom is defined
               and salarie.liNom is defined
               and salarie.liNomUsage is defined
               ) ? salarie.liNomUsage|upper ~ ' ' ~ salarie.liPrenom|capitalize ~ ' (' ~ salarie.liNom ~ ')' : '' }}"
               name="liNomComplet" readonly disabled>
    </div>

    <!-- AGENCE -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="idAgence">Agence</label>
        <input type="text" class="form-control"  name="idAgence"  id="idAgence" value="{{ salarie.idAgence.liAgence ?? '' }}" readonly>
    </div>

    <!-- ID ACOMPTE -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="idAcompte">Code acompte</label>
        <input type="text"  class="form-control" name="idAcompte" id="idAcompte" value="{{ acompte.idAcompte ?? '' }}" readonly>
    </div>

    <!-- ETABLISSTEMENT -->
    <input type="hidden" name="idEtablissementInitial">

    <!-- MATRICULE VALIDEUR -->
    <input type="hidden" name="idMatriculeValideur">

</div>

<!-- STATUS -->
{% include '@salarie/status_info.html.twig' %}