<!-- CONTENT TABLE-->
<thead>
    <tr>
        <th>Elément</th>
        <th>Statut</th>
        <th>Message</th>
    </tr>
</thead>
<tbody>
<!-- CONTENT LOGS -->
<!-- Regardez le fichier log.js pour travailler sur le contenu du tableau -->
</tbody>
