<li>
    <a href="{{ path('calendrier_agenda_index') }}"><i class="fa fa-home"></i>Accueil</a>
</li>

<li>
    <a><i class="fa fa-id-card"></i>Evènements<span class="fa fa-chevron-right"></span></a>
    <ul class="nav child_menu">
        <li><a href="{{ path('calendrier_agenda_index') }}"><i class="fa fa-tasks"></i>Agenda</a>
        <li> <a href="{{ path('calendrier_index') }}"><i class="fa fa-calendar"></i>Calendrier<span class="fa fa-chevron-right"></span></a></li>
    </ul>
</li>

{% if is_granted('ROLE_CALENDRIER_ADMIN') %}
    <li>
        <a><i class="fa fa-id-card"></i>Paramètres<span class="fa fa-chevron-right"></span></a>
        <ul class="nav child_menu">
            <li><a href="{{ path('calendrier_admin_etapes_date_index') }}">Date des étapes</a>
            <li><a href="{{ path('calendrier_admin_etapes_index') }}">Etapes</a></li>
            <li><a href="{{ path('calendrier_admin_process_index') }}">Processus</a></li>
        </ul>
    </li>
{% endif %}