<li class="nav-module-salaries">
    <a href="{{ path('mosaic_index') }}" class="dropdown-toggle">
        Salariés
    </a>
</li>

<!-- RAPPORT -->
<li class="nav-module-rapport">
    <a href="{{ path('rapport_dashboard_index') }}" class="dropdown-toggle">
        Reporting Meteor
    </a>
</li>