{% if niveaux is defined and niveaux|length > 0 %}

    <div class="col-xs-12"  id="liste-nv-elements">
        {% for niveau in  niveaux %}

            <div class="col-md-4 col-sm-6 col-xs-12">
                <form action="javascript:void(0)" name="nv_elements_{{ loop.index }}" novalidate>

                    <div class="col-xs-12">
                        <label for="idLigneNiveauxLig" class="text-center"><strong>{{ niveau.liNiveau }}</strong></label>
                        <select name="idLigneNiveauxLig" id="idLigneNiveauxLig" multiple data-placeholder="Tous les éléments.">
                            <option value="" hidden></option>
                        </select>
                        <input type="hidden" name="idNiveau" id="idNiveau" value="{{ niveau.idNiveau is defined and niveau.idNiveau is not null ? niveau.idNiveau : '' }}">
                    </div>

                    <input type="reset" class="btn btn-default btn-sm" id="reset_form_element" onclick="resetSelectElementsUser()">
                    <button class="btn btn-default btn-sm" id="select_all_element" onclick="selectAllElementsUser(this)">Sélécionner tous</button>

                </form>
            </div>

        {% endfor %}

    </div>

{% endif %}