<div class="col-xs-6" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Niveau prédéfini</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn-niveau-default"><i class="fa fa-save"></i></a></li>
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" id="list-niveau-default">
            <!-- CONTENT LEVELS/ELEMENTS -->
        </div>
    </div>
</div>

<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Niveaux exceptions</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="btn-niveau-exception"><i class="fa fa-save"></i></a></li>
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" id="list-niveau-exception">
            <!-- CONTENT LEVELS/ELEMENTS -->
        </div>
    </div>
</div>
