<div class="col-xs-12" id="nebula_content">
    <div class="x_panel">
        <div class="x_title">
            <h2>Evénements</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div id='calendrier' data-table-etapedate="{{ listEtapeDate is defined and listEtapeDate is not null ? listEtapeDate|json_encode : '' }}"></div>

        </div>
    </div>
</div>