{% extends 'app/example-base.html.twig' %}

{% block stylesheets %}
    <!-- FullCalendar -->
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.print.css') }}" rel="stylesheet" media="print">

{% endblock stylesheets %}

{% block site_title %}
    <a href="" class="site_title">
        <i class="fa fa-bar-chart"></i> <span>Calendrier</span>
    </a>
{% endblock %}

{% block top_nav_menu_left %}
    {% include '@calendrier/includes/top_nav_menu_left.html.twig' %}
{% endblock %}

{% block sidebar_menu %}
    {% include '@calendrier/includes/sidebar_menu.html.twig' %}
{% endblock %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@calendrier/includes/breadcrumb.html.twig' %}
    {% endblock %}


    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula page-accueil">
                {% include '@calendrier/filtre/filtre.html.twig' %}
                {% include '@calendrier/content.html.twig' %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}

{% block modals %}
    {% include '@calendrier/modal/index.html.twig' %}
{% endblock %}


{% block javascripts %}

    <script src="{{ asset('assets/vendors/fullcalendar/dist/fullcalendar.min.js') }}"></script>
    <script src="{{ asset('assets/vendors/fullcalendar/dist/lang/fr.js') }}"></script>

    <script src="{{ asset('dist/js/calendrier.min.js') }}"></script>

{% endblock javascripts %}