{% extends 'app/base.html.twig' %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@files/breadcrumb.html.twig' %}
    {% endblock %}


<!-- CONTENT -->
<div class="row">

    <!-- TITLE PANEL -->
    <div class="col-xs-12">
        <div class="block-nebula-title">
            <h1>{{ page_title }}</h1>
        </div>
    </div>

    <!-- CONTENT PANEL -->
    {% include "@files/form.html.twig" %}

</div>

{% endblock  %}


{% block modals %}

    <!-- MODAL FILES -->
    {% include '@files/gestion/modal/index.html.twig' %}


{% endblock %}


{% block javascripts %}{% endblock javascripts %}