{% extends "app/base.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    <!-- CONTENT -->

{% endblock %}

{% block modals %}{% endblock %}


{% block javascripts %}{% endblock javascripts %}