<!-- NUMéRO DE SéCURITé SOCIALE -->
<div class="form-group col-xs-12">
    <label for="idNirDef">Numéro de sécurité sociale</label>
    <input type="text" name="idNirDef" id="idNirDef" class="form-control" maxlength="21" pattern="[0-9AB\s]{15,21}" required>
    <span class="valid-nebula"></span>
</div>

<!-- NUMéRO NIR PROVISOIRE -->
<div class="col-xs-12">
    <input type="checkbox" class="flat" name="isNirProv">
    <label for="isNirProv" data-toggle="tooltip" data-html="true" title="Cocher cette case si le salarié ne possède pas son NIR"> Provisoire</label>
</div>

