<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="controlNir">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Vérification du NIR</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-offset-1">
                    <!-- CONTENT NIR -->
                    <form action="{{ path('salarie_new') }}" name="control_nir" method="post" novalidate>
                        {% include '@salarie/gestion/modal/nir/content.html.twig' %}

                    </form>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="cancel_verify_nir">annuler</button>
                <button type="submit" class="btn-nebula" id="valid_nir" disabled>valider</button>
                <button type="button" class="btn-nebula-purple hide" id="new_salarie">nouveau</button>

                <!-- CONTENT RESULT IF NIR EXISTS ON DB -->
                <div class="col-xs-12 hide" id="result_nir">
                    {% include '@salarie/gestion/modal/nir/result.html.twig' %}
                </div>

            </div>
        </div>
    </div>

</div>

