{% if salaries is defined and salaries is not null %}
    <ul id="listByNir" class="list-unstyled msg_list" role="menu">

        {% for salarie in salaries %}
            <li>
                <a href="{{ path('salarie_detail', { idMatricule : salarie.idMatricule }) }}">
                    <span class="image"><img src="{{ salarie.liCheminPhoto is defined and salarie.liCheminPhoto is not null ? asset('uploads/images/salaries/' ~ salarie.liCheminPhoto ) : asset('assets/images/user.png') }}" alt="Profile Image" /></span>
                    <span>
                        <span class="text-left"><strong>{{ salarie.liNom ~ ' ' ~ salarie.liPrenom }}</strong></span>
                        <span style="font-weight: normal" class="label label-{{ salarie.liEtat == 'Inactif' ? 'danger' : 'success' }}">{{ salarie.liEtat?? 'Inconnu' }}</span>
                        <span class="time">{{ salarie.liPays?? 'Inconnu' }}</span>
                    </span>
                    <span class="message">
                        <strong>Provisoire :</strong> {{ salarie.isNirProv is defined and salarie.isNirProv == 1 ? 'Oui' : 'Non' }}<br>
                        <strong>Ville de naissance :</strong> {{ salarie.liVilleNaissance?? 'Inconnu' }}<br>
                    </span>
                </a>
            </li>
        {% endfor %}

    </ul>
{% endif %}
