<!-- Tab Content -->
<div class="col-xs-10">
    <div class="tab-content">

        <!-- CONTENT USER -->
        <div class="tab-pane active" id="users">

            <!-- LIST USERS -->
            {% include '@admin/utilisateurs/panneau/blocks/users/list.html.twig' %}

        </div>

        <!-- CONTENT ACCESS -->
        <div class="tab-pane" id="access">
            <!-- FORM ACCESS -->
            {% include '@admin/utilisateurs/panneau/blocks/access.html.twig' %}

        </div>

    </div>
</div>

<div class="clearfix"></div>