<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bars"></i> Panneau d'administration</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- NAV MENU TABS -->
        {% include '@admin/utilisateurs/panneau/menu.html.twig' %}

        <!-- CONTENT -->
        {% include '@admin/utilisateurs/panneau/content.html.twig' %}

    </div>
</div>