<!-- Nav tabs -->
<div class="col-xs-2">
    <ul class="nav nav-tabs tabs-left" id="menu-utilisateur">
        <li class="active">
            <a href="#users" data-toggle="tab">
                Utilisateurs
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
        <li>
            <a href="#access" data-toggle="tab">
                Périmètre
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
    </ul>
</div>
