<div id="legend_pictogramme" class="hide">
    <legend>Légende des pictogrammes</legend>
    <ul class="nav">
        <li><i class="fa fa-circle" style="color:red"></i> Rubrique présente dans le dernier rapport de contrôle des <span class="word">paies</span>, mais supprimée dans cette version</li>
        <li><i class="fa fa-circle" style="color:orange"></i> Nouvelle rubrique à contrôler</li>
        <li><i class="fa fa-circle" style="color:yellow"></i> Rubrique dont la valeur à changé entre le dernier rapport de contrôle des <span class="word">paies</span> et cette version</li>
    </ul>
</div>

