<!-- MENU ACCUEIL -->
<li>
    <a href="{{ path('rapport_dashboard_index') }}"><i class="fa fa-home"></i>
        Accueil
    </a>
    <a href="{{ path('rapport_index') }}"><i class="fa fa-file"></i>
        Rapport
    </a>
    <a id="btn_rapport_agenda"><i class="fa fa-calendar"></i>
        Agenda
    </a>
</li>