<li class="nav-module-calendrier">
    <a href="{{ path('mosaic_index') }}" class="dropdown-toggle">
        Salarié
    </a>
</li>
<li class="nav-module-calendrier">
    <a href="{{ path('calendrier_index') }}" class="dropdown-toggle">
        Calendrier
    </a>
</li>