<div class="col-md-12 col-sm-12 col-xs-12 hide content_alert" id="content_nebula">

    <div class="x_panel">
        <div class="x_title">
            <h2>Alerte(s)</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>

        </div>

        <fieldset class="x_content">

            <!-- AFFICHAGE ALERTE RAPPORT-->
            <div class="pull-left">
                <div id="display-rapport-alert"></div>
            </div>

        </fieldset>

    </div>
</div>