<!-- CONTENT -->
<form action="javascript:void(0)" name="block_fiche" novalidate>

    <!-- SELECTIONNER TOUS -->
    <div class="col-md-6 col-sm-6 col-xs-12 select-all">
        <input type="checkbox" class="flat" name="isSelectAll" id="isSelectAll" checked>
        <label for="isSelectAll" data-toggle="tooltip" data-html="true" title="">Sélectionner tous</label>
    </div>

    <div class="clearfix"></div>

    <!-- IDENTITE -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" name="isIdentite" id="isIdentite" checked>
        <label for="isIdentite" data-toggle="tooltip" data-html="true" title="">Identité</label>
    </div>

    <!-- COORDONNEES -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" name="isCoordonnee" id="isCoordonnee" checked>
        <label for="isCoordonnee" data-toggle="tooltip" data-html="true" title="">Coordonnées</label>
    </div>

    <!-- JUSTIFICATIF D'IDENTITE -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" name="isJustificatifId" id="isJustificatifId" checked>
        <label for="isJustificatifId" data-toggle="tooltip" data-html="true" title="">Justificatif d'identité</label>
    </div>

    <!-- PERSONNE A PREVENIR -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" name="isPersonneAPrevenir" id="isPersonneAPrevenir" checked>
        <label for="isPersonneAPrevenir" data-toggle="tooltip" data-html="true" title="">Personne à prévenir</label>
    </div>

    <!-- PERSONNE A CHARGE -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" name="isPersonneACharge" id="isPersonneACharge" checked>
        <label for="isPersonneACharge" data-toggle="tooltip" data-html="true" title="">Personne à charge</label>
    </div>

    <!-- RIB -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" name="isRib" id="isRib" checked>
        <label for="isRib" data-toggle="tooltip" data-html="true" title="">RIB</label>
    </div>

    <!-- INFORMATIONS ADDITIONNELLES -->
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="checkbox" class="flat" name="isInfoAdd" id="isInfoAdd" checked>
        <label for="isInfoAdd" data-toggle="tooltip" data-html="true" title="">Informations additionnelles</label>
    </div>

</form>