<!-- MODAL FICHE SALARIE -->
<div class="modal fade" role="dialog" aria-hidden="true" id="fiche_salarie">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Générer la fiche salarié   <i class="fa fa-info-circle" data-toggle="tooltip" data-html="true" title="Sélectionnez les blocks à afficher dans la fiche salarié"></i></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@salarie/gestion/modal/fiche/content.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="download_fiche">Télécharger</button>
            </div>

        </div>
    </div>
</div>