<div class="modal fade" role="dialog" data-backdrop='static' data-keyboard='false' id="rapportModalDatatable" style="overflow-y:hidden;margin:auto;width: 90%">
    <!--CONTENT CHARGER PAR JS-->

    <button type="button" class="btn-nebula-default" data-dismiss="modal" id="fermerModalRapport">FERMER</button>
</div>