<!-- CONTENT -->
<form action="javascript:void(0)" name="exoneration" novalidate>

    {% if mutuelle.exoneration is defined and mutuelle.exoneration|length > 0 %}
        {% set exoneration = mutuelle.exoneration[0] %}
    {% endif %}

    <!-- MOTIF D'EXONéRATION -->
    <div class="form-group col-sm-6 col-xs-12">
        <label for="idMotifExonerationMutuelle">Motif d'exonération</label>
        <select class="form-control" name="idMotifExonerationMutuelle" id="idMotifExonerationMutuelle" required>
            <option value="" hidden></option>
            {% if  exoneration.idMotifExonerationMutuelle.idMotifExonerationMutuelle is defined and exoneration.idMotifExonerationMutuelle.idMotifExonerationMutuelle is not null %}
                <option value="{{ exoneration.idMotifExonerationMutuelle.idMotifExonerationMutuelle }}" selected>
                    {{ exoneration.idMotifExonerationMutuelle.liMotifExonerationMutuelle }}
                </option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>

    <!-- DATE DéBUT D'APPLICATION -->
    <div class="form-group col-sm-6 col-xs-12">
        <label for="dtDebutApplication">Date début d'application</label>
        <input type="text" class="form-control" id="dtDebutApplication" name="dtDebutApplication" value="{{ (exoneration.dtDebutApplication is defined and exoneration.dtDebutApplication is not null) ? exoneration.dtDebutApplication|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
        <i class="fa fa-calendar"></i>
        <span class="valid-nebula"></span>
    </div>

    <!-- DATE DE FIN D'APPLICATION -->
    <div class="form-group col-sm-6 col-xs-12">
        <label for="dtFinApplication">Date de fin d'application</label>
        <input type="text" class="form-control" id="dtFinApplication" name="dtFinApplication" value="{{ (exoneration.dtFinApplication is defined and exoneration.dtFinApplication is not null) ? exoneration.dtFinApplication|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
        <i class="fa fa-calendar"></i>
        <span class="valid-nebula"></span>
    </div>

    <!-- MUTUELLE -->
    <input type="hidden" name="idMutuelle" value="{{ mutuelle.idMutuelle ?? '' }}">

    <!-- MATRICULE MAJ -->
    <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}" >

</form>

    <!-- EXONERATION -->
    <input type="hidden" name="idExoneration" value="{{ exoneration.idExonerationMutuelle ?? '' }}">