<!-- MODAL EXONERATION -->
<div class="modal fade" role="dialog" aria-hidden="true" id="modalExoneration">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Ajouter une exonération</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_add_chien">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@mutuelle/gestion/modal/exoneration/content.html.twig' %}
            </div>
            <div class="modal-footer">

                <!-- BUTTONS -->
                <button type="button" data-dismiss="modal" class="btn-nebula-default" id="exoneration_reset_form">Annuler</button>

                {% if mutuelle.exoneration is defined and mutuelle.exoneration|length > 0 %}
                    <button type="button" data-dismiss="modal" class="btn-nebula-red" id="exoneration_remove_form">Supprimer</button>
                    <button type="button" data-dismiss="modal" class="btn-nebula" id="exoneration_update_form">Modifier</button>

                {% else %}
                    <button type="button" class="btn-nebula"  data-dismiss="modal" id="exoneration_send_form" disabled>Envoyer</button>

                {% endif %}

            </div>

        </div>
    </div>
</div>