<div class="x_panel">
    <div class="x_title">
        <h2>Historique</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset id="histo-avenant" class="x_content">
        <!-- Check file histo_avenant.js to have the content -->
    </fieldset>

</div>