<!--
Developer TIP: Use https://wordhtml.com/ to generate word to HTML
For better results copy the content from Office Word instead of Google Doc
Copy/Paste it straight from the code obtained on the site above !
The rendered process will be automatically improved in web\assets\js\nebula\salarie\entretien\index.js
-->


<h2><u>R&egrave;gles de calcul&nbsp;de la date de prochaine &eacute;ch&eacute;ance d&rsquo;un entretien ou du bilan r&eacute;capitulatif</u></h2>
<p><strong>&nbsp;</strong></p>
<p>Dans le cas d&rsquo;un salari&eacute; multi-contrat, la soci&eacute;t&eacute; prise en compte est celle non &eacute;v&eacute;nementielle.</p>
<p>Si le salari&eacute; &agrave; un contrat en cours sur les<strong> soci&eacute;t&eacute;s autre que FAC et ASF</strong>, alors, les r&egrave;gles de calcul suivantes s&rsquo;appliquent&nbsp;:</p>
<p>&nbsp;</p>
<table width="0">
    <tbody>
    <tr>
        <td width="108">
            <p><strong>Ann&eacute;e anciennet&eacute; branche</strong></p>
        </td>
        <td width="180">
            <p><strong>R&eacute;gles RH</strong></p>
        </td>
        <td width="180">
            <p><strong>Ann&eacute;e du dernier entretien</strong></p>
        </td>
        <td width="144">
            <p><strong>Date &eacute;ch&eacute;ance</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2014 ou avant</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2018 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2018 et avant</p>
        </td>
        <td width="144">
            <p>31/12/2020</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &ge; 2019 , alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2019 ou 2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2023</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2015</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2019 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2019 et avant</p>
        </td>
        <td width="144">
            <p>XX/XX/2021</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &ge; 2020 , alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2024</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2016</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2020 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2020 et avant</p>
        </td>
        <td width="144">
            <p>XX/XX/2022</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &ge; 2021 , alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2021</p>
        </td>
        <td width="144">
            <p>XX/XX/2025</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2017</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2018 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2018 et avant</p>
        </td>
        <td width="144">
            <p>31/12/2020</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &ge; 2019 , alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2019 ou 2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2023</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2018</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2019 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2019 et avant</p>
        </td>
        <td width="144">
            <p>XX/XX/2021</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &ge; 2020 , alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2024</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2019</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2020 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2020 et avant</p>
        </td>
        <td width="144">
            <p>XX/XX/2022</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &ge; 2021 , alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2021</p>
        </td>
        <td width="144">
            <p>XX/XX/2025</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>Dans les autres cas&nbsp;:</strong></p>
        </td>
        <td width="180">
            <p>&nbsp;</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien</p>
        </td>
        <td width="144">
            <p>XX/XX/Ann&eacute;e anciennet&eacute; branche + 3 ans</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>&nbsp;</p>
        </td>
        <td width="180">
            <p>Un entretien au moins</p>
        </td>
        <td width="144">
            <p>XX/XX/Ann&eacute;e derni&egrave;re &eacute;ch&eacute;ance + 3 ans</p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Pour les soci&eacute;t&eacute;s <strong>FAC</strong> et <strong>ASF</strong> on utilise les r&egrave;gles ci-dessous&nbsp;:</p>
<p>&nbsp;</p>
<table width="0">
    <tbody>
    <tr>
        <td width="108">
            <p><strong>Ann&eacute;e anciennet&eacute; branche</strong></p>
        </td>
        <td width="180">
            <p><strong>&nbsp;</strong></p>
        </td>
        <td width="180">
            <p><strong>Ann&eacute;e du dernier entretien</strong></p>
        </td>
        <td width="144">
            <p><strong>Date &eacute;ch&eacute;ance</strong></p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2014 ou avant</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2018 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2018 et avant</p>
        </td>
        <td width="144">
            <p>31/12/2020</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &ge; 2020 , alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2022</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2015</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2018 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2018 et avant</p>
        </td>
        <td width="144">
            <p>31/12/2020</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; en 2019 ou 2020 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>2019 ou 2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2021</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2016</strong></p>
        </td>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; &le;2019 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2019 et avant</p>
        </td>
        <td width="144">
            <p>31/12/2020</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; en 2020 alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2022</p>
        </td>
    </tr>
    <tr>
        <td rowspan="3" width="108">
            <p><strong>2017</strong></p>
        </td>
        <td width="180">
            <p>Si EP pas d&rsquo;entretien &le;2019 alors je dois r&eacute;alis&eacute; un EP et un ER</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien</p>
        </td>
        <td width="144">
            <p>31/12/2020</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; en 2020 alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2020 et avant</p>
        </td>
        <td width="144">
            <p>XX/XX/2021</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; en 2021 alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>2021</p>
        </td>
        <td width="144">
            <p>XX/XX/2023</p>
        </td>
    </tr>
    <tr>
        <td rowspan="2" width="108">
            <p><strong>2018</strong></p>
        </td>
        <td width="180">
            <p>EP + ER a r&eacute;alis&eacute; le</p>
        </td>
        <td width="180">
            <p>Pas d&rsquo;entretien ou 2018</p>
        </td>
        <td width="144">
            <p>31/12/2020</p>
        </td>
    </tr>
    <tr>
        <td width="180">
            <p>Si EP r&eacute;alis&eacute; en 2019 ou 2020 alors mon prochain EP =</p>
        </td>
        <td width="180">
            <p>20119 ou 2020</p>
        </td>
        <td width="144">
            <p>XX/XX/2022</p>
        </td>
    </tr>
    <tr>
        <td width="108">
            <p><strong>2019 et +</strong></p>
        </td>
        <td width="180">
            <p>&nbsp;</p>
        </td>
        <td width="180">
            <p>&nbsp;</p>
        </td>
        <td width="144">
            <p>XX/XX/Anciennet&eacute; branche + 2 ans</p>
        </td>
    </tr>
    <tr>
        <td width="108">
            <p><strong>Dans les autres cas&nbsp;:</strong></p>
        </td>
        <td width="180">
            <p>&nbsp;</p>
        </td>
        <td width="180">
            <p>&nbsp;</p>
        </td>
        <td width="144">
            <p>XX/XX/Ann&eacute;e derni&egrave;re &eacute;ch&eacute;ance + 2 ans</p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>