<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        <!-- BLOCKS LEFT -->
        {{ (app.request.requestUri matches '/contrats\\/detail/')
            ? '<div class="col-md-8 col-sm-8 col-xs-12" id="blocks_left">'
            : '<div class="col-xs-12">'
        }}

            {% include "@contrat/gestion/blocks/block_info.html.twig" %}
            {% include "@contrat/gestion/blocks/affectation.html.twig" %}
            {% include "@contrat/gestion/blocks/motif.html.twig" %}
            {% include "@contrat/gestion/blocks/classification.html.twig" %}
            {% include "@contrat/gestion/blocks/remuneration.html.twig" %}
            {% include "@contrat/gestion/blocks/anciennete.html.twig" %}
            {% include "@contrat/gestion/blocks/periode_des.html.twig" %}
            {% include "@contrat/gestion/blocks/clause_add.html.twig" %}
            {% include "@contrat/gestion/blocks/clause_opt/index.html.twig" %}
            {% include "@contrat/gestion/blocks/primes/index.html.twig" %}
            {% include "@contrat/gestion/blocks/validation.html.twig" %}
        </div>

        <!-- PAGE DETAIL -->
        {% if app.request.requestUri matches '/contrats\\/detail/' %}

            <!-- BLOCKS RIGHT -->
            <div class="col-md-4 col-sm-4 col-xs-12" id="blocks_right">
                {% include "@contrat/gestion/blocks/menuannexe/avertissement.html.twig" %}
                {% include "@contrat/gestion/blocks/menuannexe/avenant.html.twig" %}
                {% include "@contrat/gestion/blocks/menuannexe/analytique.html.twig" %}
                {% include "@contrat/gestion/blocks/menuannexe/histo.html.twig" %}
            </div>

        {% endif %}

        <!-- PAGE NEW AND VALIDATE -->
        {% if app.request.requestUri matches '/contrats\\/(new|validate)/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}

            <!-- BUTTONS NEW -->
            <div class="col-xs-12">
                <button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>
                <button type="button" class="btn-nebula" data-toggle="modal" id="prev_form"  disabled>Pré-visualiser</button>

                {%  if (app.request.requestUri matches '/contrats\\/new/') == 0 %}
                    <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
                {% endif %}

            </div>

        {% endif %}

        <!-- PAGE DETAIL -->
        {% if app.request.requestUri matches '/contrats\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}
            <!-- BUTTONS DETAIL -->
            <div class="col-xs-12">

                {% if is_granted(['ROLE_MOSAIC_ADMIN']) %}
                    <button type="button" class="btn-nebula-purple hide" id="update_form">Modifier</button>
                {% endif %}

                <button type="button" class="btn-nebula" id="generate_form" disabled>Re-Générer</button>
                <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
            </div>
        {% endif %}

        <!-- MENU ACTIONS -->
        {% include '@contrat/gestion/extra/menu_action.html.twig' %}

    </div>
</div>
