{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include "@contrat/gestion/breadcrumb.html.twig" %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">

        <!-- TITLE PANEL -->
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        {% include "@contrat/gestion/form.html.twig" %}

    </div>

{% endblock  %}


{% block modals %}

    {% if app.request.requestUri matches '/contrats\\/detail/' and is_granted(['ROLE_MOSAIC_USER', 'ROLE_CONTRAT_ADMIN']) %}
        <!-- MODAL CLOSURE -->
        {% include "@contrat/gestion/modal/cloture/index.html.twig" %}

        <!-- MODAL ANALYTIQUE -->
        {% include "@contrat/gestion/modal/analytique/index.html.twig" %}

        <!-- MODAL TRANSFERT -->
        {% include "@contrat/gestion/modal/transfert/index.html.twig" %}

        <!-- MODAL DUPLIQUE -->
        {% include "@contrat/gestion/modal/duplique/index.html.twig" %}

        <!-- MODAL CONTRAT INACTIF -->
        {% include "@contrat/gestion/modal/inactif/index.html.twig" with {'type': 'Avenant'} %}
    {% endif %}

    {% if app.request.requestUri matches '/contrats\\/(new|validate)/' %}
        <!-- MODAL PREVIEW -->
        {% include "@contrat/gestion/modal/preview/index.html.twig" %}
    {% endif %}

{% endblock %}


{% block javascripts %}{% endblock javascripts %}