<div class="col-xs-12" id="content_nebula">

    <!-- IDENTIFIANT UTILISATEUR -->
    <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des contrats non clôturés</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF CONTRATS NON CLOTURES -->
            <table id="datatable-contrat" data-table-contrats="{{ listContrats|json_encode }}" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>Nom complet</th>
                    <th>Date de fin</th>
                    <th>Clôturé dans Mosaïc</th>
                    <th>Clôturé dans Comete</th>
                    <th>Agence</th>
                    <th>Type de contrat</th>
                    <th>Qualification</th>
                    <th>Matricule</th>
                    <th>Contrat</th>
                    <th>Action</th>
                </tr>
                </thead>
                <!-- CONTENT CONTRAT -->
                <!-- Regardez le fichier table_contrat_non_cloture.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>

