<!-- SALARIE -->
<div class="form-group col-md-10 col-sm-10 col-xs-12">
    <label for="idMatricule">Rechercher salarié</label>
    <select class="form-control" name="idMatricule" id="idMatricule" required>
    </select>
    <span class="valid-nebula"></span>
</div>

<!-- DEMANDEUR -->
<input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">
