<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form action="{{ path('acomptes_index') }}" name="filter_acompte" method="POST" novalidate>

                <!-- CALENDRIER PAIE DEBUT -->
                <div class="form-group col-md-2 col-sm-3 col-xs-12">
                    <label for="idCalendrierPaieDebut">Calendrier paie début</label>
                    <select class="form-control" name="idCalendrierPaieDebut" id="idCalendrierPaieDebut">
                        <option value="" hidden></option>
                    </select>
                </div>

                <!-- CALENDRIER PAIE FIN -->
                <div class="form-group col-md-2 col-sm-3 col-xs-12">
                    <label for="idCalendrierPaieFin">Calendrier paie fin</label>
                    <select class="form-control" name="idCalendrierPaieFin" id="idCalendrierPaieFin">
                        <option value="" hidden></option>
                    </select>
                </div>

                <!-- TYPE D'ACOMPTE -->
                <div class="form-group col-md-2 col-sm-3 col-xs-12">
                    <label for="idTypeAcompte">Type d'acompte</label>
                    <select class="form-control" name="idTypeAcompte" id="idTypeAcompte">
                        <option value="0" selected>Tout les types d'acompte</option>
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- AGENCE -->
                <div class="form-group col-md-2 col-sm-6 col-xs-12">
                    <label for="idAgence">Agence </label>
                    <select class="form-control" name="idAgence" id="idAgence">
                        <option value="0" selected>Toutes mes agences</option>
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- BUTTON FILTER -->
                <button type="submit" id="filter-acompte" class="btn-nebula">filtrer</button>

            </form>

            <!-- CALENDRIER PAIE -->
            <input type="hidden" name="idCalendrierPaie">

        </div>
    </div>
</div>