{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}


    {% block breadcrumb %}
        {% include '@acompte/breadcrumb.html.twig' %}
    {% endblock %}

    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="block_nebula">

                {% if app.request.requestUri matches '/salaries\\/acomptes\\/liste/'  %}

                    {% include "@acompte/gestion/blocks/block_info.html.twig" %}
                    {% include '@acompte/gestion/list.html.twig' %}

                {% else %}

                    <!-- FILTER -->
                    {% include "@acompte/filter.html.twig" %}

                    <!-- LIST OF ACOMPTES -->
                    {% include '@acompte/list.html.twig' %}

                {% endif %}

            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    <!-- /CONTENT -->

{% endblock %}


{% block modals %}{% endblock %}


{% block javascripts %}{% endblock javascripts %}