<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des acomptes</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF ACOMPTES -->
            <table id="datatable-acompte" data-table-acompte="{{ listAcompte|json_encode }}" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Matricule</th>
                    <th>Nom complet</th>
                    <th>Agence</th>
                    <th>Date fin contrat</th>
                    <th>Type d'acompte</th>
                    <th>Montant demandé</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Statut</th>
                </tr>
                </thead>
                <!-- CONTENT ACOMPTE -->
                <!-- Regardez le fichier table_acompte.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>
