.welcome {
  text-indent: 30px;
  border-bottom: 1px solid $color-secondary;
}

.indicateur-accueil {
  margin-top: 40px;
  margin-bottom: 40px;
}

a#linkContrat:hover {
  text-decoration: underline;
}

.button-action {
  margin-top: 10px;

  & div[class="col-md-2 col-sm-2 col-xs-2"]:not(:last-child) {
    border-right: 1px solid $color-info2;
  }

  & a:hover {
    & i {
      color: $color-secondary;
    }
  }
}

/** ALERT IN THE HOME PAGE **/
#alert_message_calendar {
  position: fixed;
  top: 70px;
  right: 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 9999;

  div[class*="content-alert"]:not(:first-child) {
    margin-top: 10px;
  }

}

#calendrier_alert {
  font-size: 22px;

  &.alert {
    margin-bottom: 0;
  }

  &.alert-warning {
    color: $color-bg;
  }

  &.alert-danger {
    color: $color-bg;

    i {
      &.fa-calendar {
        color: $color-secondary3;
      }

    }

    .calendrier-time span.time-progress {
      color: $color-secondary3;
    }

  }

}

.calendrier-alert-content {
  display: grid;
  grid-template-columns: 62px auto 200px;
  grid-template-areas:
  'icon content time';

  div {
    &.calendrier-alert-message, &.calendrier-alert-time {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &.calendrier-alert-message {
      grid-area: content;
      margin-left: 14px;
    }

    &.calendrier-alert-time {
      align-items: center;
      grid-area: time;

      span.time-title {
        font-size: 14px;
      }

      span.time-progress {
        font-size: 22px;
        font-weight: bold;
        color: $color-secondary2;
      }
    }

  }

  i {
    &.fa-calendar {
      grid-area: icon;
      font-size: 2.7em;
      color: $color-secondary2;
      margin-left: 4px;
    }
  }

  span {
    &.calendrier-process, &.calendrier-etape {
      font-size: 16px;
    }

    &.calendrier-commentaire {
      font-size: 14px;
    }
  }

}

