#content_nebula:last-child {
  margin-bottom: 50px;
}

.block_nebula {
  padding: 20px;
  min-height: 320px;
  background-color: $color-gris1;
}

.block-nebula-error {
  padding: 20px;
  min-height: 600px;
  background-color: $color-gris1;
}

.block-nebula-title {
  position: relative;
  width: 100%;
  background-color: $color-primary;
  color: $color-white;
  padding: 8px 20px;

  h1 {
    margin-left: 70px;
    font-size: 28px;
  }
  &::after {
    content: '';
    position: absolute;
    height: 8px;
    width: 80px;
    top: 36px;
    left: -16px;
    background-color: $color-secondary;
  }
}

.panel_toolbox {
  float: right;
  width: auto;
  > li {
    float: left;
    > a {
      cursor: pointer;
      padding: 5px;
      color: $color-gris4;
      font-size: 14px;
      &:hover {
        background: #F5F7FA;
      }
    }
    > a.advertissement {
      color: $color-info2;
      cursor: unset;
      &:hover {
        background: unset;
      }
    }
  }
}

.x_title {
  border-color: $color-primary2;

  & h2 {
    font-weight: 600;
  }

}

.first-option {
  margin-bottom: 20px;
}

span.divisor {
  content: "";
  width: 1px;
  height: 100%;
  background-color: $color-gris3;
  position: absolute;
  right: 5%;

}

.block-warning {

  border-color: $color-info2 !important;

  & h2 {
    color: $color-info2 !important;
  }

}