@mixin btn-nebula($color) {
   margin: 20px;
   text-transform: uppercase;
   background-color: $color;
   color: $color-white;
   font-weight: 500;
   height: 36px;
   border: transparent;
   cursor: pointer;
   padding: 0 20px;
   border-radius: 2px;
   box-shadow: 2px 2px 2px lighten(black, 60%);
   transform: scale(1);
   transition: all .3s;

   &:disabled {
      background-color: $color-disabled;
      cursor: not-allowed;
   }

   &:enabled:hover {
      transform: scale(1.05);
      background-color: lighten($color, 5%);
   }
}

.btn-nebula-default {
   margin: 20px;
   text-transform: uppercase;
   background-color: $color-gris1;
   font-weight: 600;
   height: 36px;
   border: transparent;
   cursor: pointer;
   padding: 0 20px;
   border-radius: 2px;
   box-shadow: 2px 2px 2px lighten(black, 60%);
   transform: scale(1);
   transition: all .3s;

   &:hover {
      transform: scale(1.05);
      color: $color-secondary2;
   }

}

.btn-nebula-tool {
   height: 36px;
   padding: 2px;
   border: none;
   font-size:  1.6em;
   background: transparent;
   cursor: pointer;

   &:disabled {
     color: #B8B8B8;
   }

}

.btn-nebula {
   @include btn-nebula($color-primary);
}

.btn-nebula-green {
   @include btn-nebula($color-tertiary5);
}

.btn-nebula-purple {
   @include btn-nebula($color-purple2);
}

.btn-nebula-red {
   @include btn-nebula($color-secondary2);
}

.btn-nebula-long {
   @include btn-nebula($color-primary);
   width: 123px;
}

// BUTTON MODAL
.modal-footer button {
   margin: 0 20px 0 0;
}

// HIDE ELEMENTS IN LIST
span.hide-element-list {
   display: none;

}

// BUTTON VIEW PLUS
span.btn-view-plus {
   margin-top: 8px;
   cursor: pointer;
   font-size: 12px;

   & i.fa-angle-double-down {
      font-size: 14px;
      color: $color-secondary;
   }

   &:hover {
      font-weight: 600;
   }

}

.align-with-input {
   margin-top: 18px;
}

.custom-menu {
  min-width: unset !important;
  font-size: 14px;
  width: 60%;
}

.custom-item {
   padding-left: 10%;
   display: block;
   width: 100%;
   height: 100%;

   &:hover {
      background-color: $color-primary;
      color: $color-white !important;
      padding-left: 15%;
   }
}

.not-allowed {
   cursor: not-allowed !important;
}

.disabled {
   opacity: 0.6 !important;
   pointer-events: none !important;
}