$color-primary: #004182;
$color-primary2: #0052A5;
$color-primary3: #005cb5;
$color-bg: #00376E;
$color-bg2: #003061;
$color-bg3: #00284F;
$color-tertiary: #BCE809;
$color-tertiary2: #1abc9c;
$color-tertiary3: #B9CC14;
$color-tertiary4: #ADBF13;
$color-tertiary5: #9ECA3B;
$color-purple: #8814CC;
$color-purple2: #7309B2;
$color-info: #FFA500;
$color-info2: #FF9100;
$color-disabled: #B8B8B8;
$color-secondary: #FF2819;
$color-secondary2: #B21C12;
$color-secondary3: #7e0e07;
$color-text: #34495e;
$color-links: #5A738E;
$color-white: #FEFEFE;
$color-gris1: #EDEDED;;
$color-gris2: #D9DEE4;
$color-gris3: #E7E7E7;
$color-gris4: #C9C9C9;
$color-gris5: #b7b7b7;