div#file_upload_button {
  margin-top: 40px;

}

form[name="file_upload_doc"] {
  font-size: 1.25rem; /* 20 */
  background-color: #dbe9fd;
  position: relative;
  padding: 56px 20px;
  border: none;

  outline: 2px dashed #92b0b3;
  outline-offset: -10px;

  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;

  &.dz-drag-hover {
    outline-offset: -20px !important;
    outline-color: #c8dadf !important;
    background-color: #eee !important;
    border: none !important;
  }

  & div.dz-message {
    strong {
      color: #0590c4;
    }
  }

}

@-webkit-keyframes appear-from-inside
{
  from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
  75%	{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
  to	{ -webkit-transform: translateY( -50% ) scale( 1 ); }
}
@keyframes appear-from-inside
{
  from	{ transform: translateY( -50% ) scale( 0 ); }
  75%	{ transform: translateY( -50% ) scale( 1.1 ); }
  to	{ transform: translateY( -50% ) scale( 1 ); }
}


svg {

  .fill {
    fill: #25b99a;
  }

  .noFill {
    fill: none;
  }

  &.file_upload_icon {
    width: 100%;
    height: 72px;
    // fill: #92b0b3;
    fill: #0590c4;
    display: block;
    margin-bottom: 40px;
  }

}

.dropzone {

  & .dz-message {
    font-size: 1.6rem;
  }

  &.dz-clickable * {
    cursor: pointer !important;
  }

  & .dz-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.dz-image-preview {
      background: transparent !important;
    }
    & .dz-image {
      border-radius: 0;
      width: auto;
      height: 100px;

      & img {
        height: 100px;
      }

    }

    & .dz-progress {
      opacity: 0;
    }

    & .dz-remove {
      width: 100px;
      height: 32px;
      border: none;
      margin-top: 6px;
    }
  }
}

span.remove-file-upload {

  svg {
    &.icon-file-trash {
      height: 26px;
      z-index: 10;
    }
  }

  &:hover {
    svg {
      transition: all .2s;
      height: 32px;

      .fill {
        fill: #e85656;
      }
    }
  }

}


