.cloturer {
  color: $color-secondary2 !important;
}

ul[id^="content_list_"] a[href="javascript:void(0)"] {
  text-decoration: line-through;

  & i.inactif {
    color: $color-links !important;
  }

}
