
// ******* INPUT STYLE ********
.form-group, .dataTables_filter {
  position: relative;
  height: 44px;
  margin: 16px 0 8px 0;

  &::after, &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    left: 0;
    bottom: 14px;
    background-color: lighten(black, 75%);

  }

  &::after {
    height: 2px;
    background-color: $color-primary;
    transform: scaleX(0);
    transition: all .3s;
  }

  &:focus-within::after {
    transform: scaleX(1)
  }

}

.form-group {
  & label {
    position: absolute;
    top: 8px;
    left: 4px;
    color: lighten(black, 60%);
    transition: all .3s;

  }

  &:focus-within label, &.has-value label {
    top: -12px;
    color: $color-primary;
    font-size: 12px;
  }

  &.has-value:not(:focus-within) label {
    color: lighten(black, 60%);
  }
}

.form-control {
  position: relative;
  padding: 0 8px 0 4px;
  z-index: 1;
  width: 100%;
  height: 35px;
  border: none;
  box-shadow: none;
  background-color: transparent;

  &:focus {
    outline: none;
    box-shadow: none;
  }

}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background: transparent;
  opacity: 1;

}

// ******** VALIDATION FORM *******
input, select {
  box-shadow: 2px 1px -2px $color-secondary;

  &:required:focus:valid {
    & ~ span.valid-nebula::after {
      display: inline;
    }
  }

  &:required:focus:invalid {
    & ~ span.valid-nebula::before {
      display: inline;
    }

  }

  &:required:invalid ~ span.valid-nebula::before, &:required:invalid:hover ~ span.valid-nebula::before {
    display: inline;

  }

  &:required:valid ~ span.valid-nebula::after, &:required:valid:hover ~ span.valid-nebula::after {
    display: inline;

  }

}


// ****** ICON VALIDATION *******
span.valid-nebula {
  position: absolute;
  top: 8px;
  right: 20%;
  font-size: 14px;
  z-index: 2;

  &::after {
    content: "\f058";
    font-family: FontAwesome;
    color: $color-tertiary;
    display: none;

  }

  &::before {
    content: '\f06a';
    font-family: FontAwesome;
    color: $color-info;
    display: none;
  }


}

// *** ICON DATE ***
input ~ i.fa-calendar {
  position: absolute;
  top: 10px;
  right: 12%;

}

// ** LABEL **
// On ajout text-overflow: ellipsis; pour tous les labels sauf celui de la recherche dans les tableaux dataTable sinon ça bug le champ
:not(.dataTables_filter) > label {
  font-weight: 300;
  vertical-align: middle;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

textarea {
  width: 90%;
}

.select-multiple-valid-nebula {
  top: 3px !important;
  right: 13% !important;
}

