// LIST MENU ANEXE
div.list-folder-nebula {

  & a:hover {
    & i.fa-folder {
      //color: $color-primary;
    }
  }

}

.align-with-photo {
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 1.3%;
}