/* Center the loader */
.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lighten(black, 0.5%);
  opacity: 0.8;
  z-index: 9999;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 9999;

  &:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }

  &:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
  }

}

@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Message in loader*/
.loader-message {
  & h2 {
    position: absolute;
    top: 30%;
    left: 38%;
    color: $color-white;
    text-align: center;
    font-size: 3em;
  }
}

.loader-message span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: $color-white;
  margin-left: 3px;
}

.loader-message span:nth-child(1) {
  animation: fadeIn 1s ease-in-out infinite;
}

.loader-message span:nth-child(2) {
  animation: fadeIn 1s ease-in-out 0.34s infinite;
}

.loader-message span:nth-child(3) {
  animation: fadeIn 1s ease-in-out 0.67s infinite;
}

/** WARNING FIREFOX **/
.warning-firefox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lighten(black, 0.5%);
  z-index: 99999;
}

.warning-message {
  & h2 {
    position: absolute;
    top: 12%;
    left: 22%;
    height: 25%;
    padding: 5%;
    vertical-align: middle;
    color: $color-white;
    font-size: 3em;
  }
}