.menu_section {
  margin: 20px 0;
  h3 > a {
    padding-left: 15px;
    color: $color-gris1;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 0;
    margin-top: 0;
    text-shadow: 1px 1px #000;
    &:hover {
      color: $color-white;
    }
  }
  > ul {
    margin-top: 10px;
  }
}


.nav {
  &.side-menu > li > a {
    color: $color-white;
    font-weight: 500;
    background-color: $color-primary;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    border-top: 1px solid rgba(255,255,255, 0.2);
    padding-left: 32px;
    &:hover, &.active {
      background: linear-gradient($color-bg, $color-bg3), $color-bg2 !important;
    }
  }

  &.child_menu {
    > li > a {
      color: $color-text;
      font-weight: 500;

    }
    li {
      background-color: $color-white;
      &:hover, &.active {
        background: $color-gris1;
      }

    }
    li li {
      &:hover, &.active {
        background: none;
      }
      a {
        &:hover, &.active {
          color: $color-primary;
        }
      }
    }
  }
  > li > a {
    position: relative;
    display: block;
    padding: 13px 15px 12px;
  }
  &.side-menu > li {
    &.current-page, &.active {
      border-right: 5px solid $color-secondary;
    }
  }
  li {
    &.current-page {
      background: $color-gris3;
    }
    li {
      li.current-page {
        background: none;
      }
      &.current-page > a {
        color: $color-secondary;
      }
    }
  }
  &.side-menu > li.active > a {
    background: linear-gradient($color-bg, $color-bg3), $color-bg2;
  }
}

.nav.child_menu > li > a {
  font-size: 12px;
  padding: 9px;
}

// ICON REMOTE USER
.remote-user {
  position: absolute;
  right: 46px;
  top: 108px;
  font-size: 1.6em;

  & .fa-sign-out {
    color: $color-info;

    &:hover {
      transform: scale(1.2);
    }
  }

}

// HEIGHT OF ICON
.m-1-2 {
  font-size: 1.2em;
}

.m-1-3 {
  font-size: 1.3em;
}

.m-1-4 {
  font-size: 1.4em;
}