@mixin notShowInTheMiddleWindows($height) {
  &:before {
    content: '';
    display: inline-block;
    height: $height;
    vertical-align: middle;
    margin-right: -4px;
  }
}

#prevFormContrat, #modalAdminTables, .modal[id^="prevModalDocument"], #contratInactif {
  @include notShowInTheMiddleWindows(5vh);
}

.modal {
  padding: 0 !important;
  @include notShowInTheMiddleWindows(22vh);
}

.modal[id^="prevModalDocument"] {
  z-index: 1070;
  & object {
    height: 600px;
    display: block;
  }
}

.modal-open .main_container {
  filter: blur(3px);
}

.modal#dematisFullScreen {
  z-index: 1060;
  overflow-y: auto;
}

.modal-custom-dematis:before {
  height: unset !important;
}

.modal-dialog-custom-dematis {
    width: 50%;
}

#nuxeoModal > ul {
  max-height: 100% !important;
}

div#modalConfirmation {
  z-index: 2000;
}