html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth {
  & body {
    overflow: hidden;
  }

  & [data-scroll-container] {
    min-height: 100vh;
  }
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;

  :hover {
    transform: scaleX(1.45);
    opacity: 1;
  }

}
.has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: grabbing;
}

.webix_ss_center .webix_ss_center_scroll {
  cursor: pointer;
}