// =============== DESKTOP =============== //

@media (min-width: 1400px) {
  div#block_info_right {
    margin-left: 120px !important;
  }

}

// =============== TABLETTE HORIZONTAL =============== //
@media (min-width: 1024px)  {
  .img-circle.photo_info {
    margin-left: -12px;
    width: 120px;
    height: 120px;
  }

}

@media (min-width: 768px) {
  .img-circle.photo_info {
    margin-left: 0;
    width: 140px;
    height: 140px;
  }

  #photo_info {
    &:hover::after, &:hover::before {
      left: 20px;
      top: 20px;
    }
  }

}

// =============== TABLETTE VERTICAL =============== //

@media (min-width: 1366px) {
  .img-circle.photo_info {
    margin-left: 12px;
    width: 140px;
    height: 140px;
  }

}

// =========== MOBILE ==================== //

@media (max-width: 400px) {
  form {
    margin-left: 0;
  }
  .img-circle.photo_info {
    margin-left: 20%;
    width: 140px;
    height: 140px;
  }

  .block_nebula {
    min-height: 170px;
  }

}

// =========== PRINT PAGE ==================== //
@media print {
  //.make-grid(print-A4);
}

//.make-print-A4-column(@columns) {
//  @media print {
//    float: left;
//    width: percentage((@columns / @grid-columns));
//  }
//}