/** SELECT STYLE **/
select {
  option:checked {
    color: $color-secondary;
  }
  &:hover {
    cursor: pointer;
  }
}

select {
  & ~ i.fa-caret-down, & ~ i.fa-caret-up {
    position: absolute;
    top: 12px;
    right: 12%;
  }

}

select, select:focus {
  appearance: none;
  border: none;
  width: 90%;
  outline: none;

}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;

}

/* CUSTOM STYLE SELECT 2 */
.select2-search__field {
  margin-left: 1%;
  border: none;
}

.select2 {
  margin-left: -1%;
}

/* ARROW DOWN */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: $color-text transparent transparent transparent;
}

/* ARROW UP */
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $color-text transparent;
}

.select2-container--default {

  .select2-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 0;
    min-height: 38px;

    .select2-selection__clear {
      margin-right: 1.6rem;
    }

  }
  .select2-selection--single .select2-selection__rendered {
    padding-top: 4px;
    margin-left: -6px;
  }
  .select2-selection--multiple .select2-selection__rendered {
    padding-top: 3px;
  }
  .select2-selection--single .select2-selection__arrow {
    height: 36px;
  }
  .select2-selection--multiple {
    min-height: 36px;
    margin: -4px 0 6px 0;
    border: 1px solid $color-gris3;
    border-radius: 0;

    .select2-selection__choice, .select2-selection__clear {
      margin-top: 2px;
      border: none;
      padding: 3px 5px;
      margin-right: 4%;
    }

  }
  &.select2-container--focus .select2-selection--multiple {
    border-radius: 0;
  }
  .select2-results__option {
    cursor: context-menu;
    padding: 0 0 0 10px;
  }
  .select2-results__option[aria-selected=true] {
    background-color: transparent;
    color: $color-secondary;
  }
  .select2-results__option--highlighted[aria-selected] {
    color: white;
    background-color: #1f93ff;
  }
  .select2-search--dropdown .select2-search__field {
    border: 1px solid $color-gris3;
  }
}

.select2-container--open .select2-dropdown--below {
  margin-top: -4px;
  padding-top: 2px;
  border-radius: 0;
  border-top: 1px solid lighten(black, 60%);
  border-color: #1f93ff;
}

// Fixbug when to show placeholder in select elements of paragraph
input.select2-search__field {
  width: 95% !important;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: transparent;
  &:hover {
    cursor: not-allowed;
  }
}

.select-copy-text {
  position: absolute;
  top: 2px;
  right: 10px;
  background: transparent url(../../../assets/images/clippy.svg) 50% 50% no-repeat;
  background-size: 14px;
  width: 16px;
  height: 16px;
  padding: 16px;
  z-index: 15;
  transition: all .2s;

  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0, .05);
    padding: 16px;
    border-radius: 50%;

  }
}