.content-status {
  margin: 0 60px 20px 0;
}

.status-color-info {
  color: $color-primary3;
}

.status-color-danger {
  color: $color-info2;
}

.status-color-error {
  color: $color-secondary2;
}