body.dt-print-view {
  background: transparent;

}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: $color-tertiary2;
  border-color: $color-tertiary3;
}

.dataTables_filter {
  width: 220px;
  float: right;
  text-align: left;
}

.dataTables_paginate {
  & ul.pagination {
    margin-left: -16% !important;
  }
}

.dataTables_paginate a {

}

table {

  &[id^="datatable-"] {
    width: 100% !important;
  }

  &:not(.table) th {
    text-align: center;
  }
}

div.dataTables_scrollBody {
  overflow: hidden;
  transition: all .5s;

  &:hover {
    overflow: auto;
    overscroll-behavior: contain;
  }
}

#datatable-groupe, #datatable-paragraphe {
  & tbody {
    td {
      &:last-child {
        text-align: center;
      }
    }
  }
}

table.dataTable {
  border-collapse: collapse !important;

  tbody {
    position: relative;

    tr {
      border-left: 4px solid #ddd;

      &:hover {
        cursor: pointer;
        background-color: $color-gris1;
        border-left: 4px solid $color-secondary;
      }

      td {
        &.dt-body-center {
          text-align: center;
        }

        &.dt-body-left {
          text-align: left;
        }

        &.dt-body-right {
          text-align: right;
        }

        &.dt-body-justify {
          text-align: justify;
        }
      }
    }
    .active > td {
      background-color: rgba(0,0,0, .2) !important;
    }
  }

}