/** MENU NAV LEFT **/
#menu_modules {
  li {
    font-size: 15px;

    a {
      &:hover {
        color: $color-primary2 !important;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $color-secondary;
      transform: scaleX(0);
      transition: all .4s;

    }

    &:hover::after {
      transform: scaleX(1)
    }
  }
}

.pulse {

  &:before, &:after {
    content: '';
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: -1rem;
    bottom: -1rem;
    border: 1px solid $color-secondary;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }

  &:after {
    animation-delay: 0.5s;
  }

}

@keyframes pulse
{
  0% { transform: scale(0.5); opacity: 0 }
  75% { transform: scale(1); opacity: 0.6 }
  100% { transform: scale(1.2); opacity: 0 }
}