<!-- PREVIEW FORM CONTRAT -->
<section class="col-center" >
    <div class="row carousel slide" data-ride="carousel" data-interval="false" id="carousel-indicateur">

        <!-- INDICATORS -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-indicateur" data-slide-to="0" class="active"></li>
        </ol>

        <!-- CONTENU DU CONTRAT INACTIF -->
        <div class="carousel-inner" role="listbox">
            <div id="carouselPage1" class="item active">
            </div>
        </div>

        <!-- CONTROLS -->
        <a class="left carousel-control" href="#carousel-indicateur" role="button" data-slide="prev">
            <span class="fa fa-chevron-left fa-2x" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#carousel-indicateur" role="button" data-slide="next">
            <span class="fa fa-chevron-right fa-2x" aria-hidden="true"></span>
        </a>
    </div>

    <!-- TEXTE INFORMATIF -->
    <div class="form-inline col-md-12">
        <p class="form-control-static"></p>
    </div>
</section>
