<div class="modal fade" role="dialog" id="contratInactif">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>{{ type }} Archivé :</strong><span id="PrenomNom"></span></h4>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                {% include "@contrat/gestion/modal/inactif/content.html.twig" %}
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">retourner</button>
                {% if app.request.requestUri matches '/(salalries|contrats)\\/detail/' %}
                    <button type="button" class="btn-nebula" id="download_doc" data-dismiss="modal">télécharger</button>
                {% endif %}
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->