<!-- MODAL ENFANT -->
<div class="modal fade" id="myModalEnfant" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Fiche Enfant</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@salarie/gestion/blocks/enfants.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="add_enfant">Ajouter</button>
            </div>

        </div>
    </div>
</div>