#prevFormContrat, #contratInactif {

  & .modal-body {
    height: auto;
    width: 100%;
    margin: 0 auto;

  }

  & .carousel-indicators li {
    border-radius: 0;
    height: 5px;
    width: 30px;
    border-color: $color-info;
  }

  & .carousel-indicators li.active {
    background-color: $color-info;
  }

  & .col-center {
    margin: 10px auto;
  }

  & .carousel-inner {
    padding: 10px 20px;
    min-height: 600px;
    margin-bottom: 60px;
    //background-color: $color-gris3;

  }

  & .carousel-control {
    color: $color-primary2;
    background: transparent;

    & span {
      margin-top: 250%;
      display: none;
    }

    &:hover span {
      display: block;
    }
  }


}

