<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('mosaic_index') }}">Accueil</a></li>
        {% if isListAll is not defined or not isListAll %}
            <li class="breadcrumb-item"><a href="{{ path('salarie_index') }}">Gestion des salariés</a></li>
            <li class="breadcrumb-item"><a href="{{ path('salarie_detail', { idMatricule : salarie.idMatricule }) }}">Fiche Salarié</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
    </ol>
</nav>