{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@irp/breadcrumb.html.twig' %}
    {% endblock %}


    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="block_nebula">

                {% if isListAll is not defined or not isListAll %}
                    {% include "@irp/gestion/blocks/block_info.html.twig" %}
                {% endif %}

                <div class="x_content">
                    <div class="x_panel">
                        <div id="irpTable" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li id="li_protection_page" role="presentation" class="active">
                                    <a href="#tab_protection" id="protection-tab" role="tab" data-toggle="tab" aria-expanded="true">Protections</a>
                                </li>
                                <li id="li_mandat_page" role="presentation" class="">
                                    <a href="#tab_mandat" role="tab" id="mandat-tab" data-toggle="tab" aria-expanded="false">Mandats</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_protection" aria-labelledby="protection-tab">
                                    {{ include ('@irp/list.html.twig', { 'irp': 'protection' }) }}
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_mandat" aria-labelledby="mandat-tab">
                                    {{ include ('@irp/list.html.twig', { 'irp': 'mandat' }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    <!-- /CONTENT -->

{% endblock %}


{% block modals %}{% endblock %}


{% block javascripts %}{% endblock javascripts %}