<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2 id="list_title_{{ irp }}"></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {% if (isListAll is not defined or not isListAll) and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_IRP_ADMIN']) %}

                <!-- BUTTON ADD -->
                <div class="col-xs-12">
                    <button id="create_{{ irp }}" class="btn-nebula alignright">
                    </button>
                </div>

            {% endif %}

            <!-- LIST OF IRP -->
            <table id="datatable-{{ irp }}" data-role-user="{{ app.user.roles | json_encode }}" class="table table-striped table-bordered dt-responsive nowrap">
                <!-- CONTENT IRP -->
                <!-- Regardez les fichiers table_protection.js table_mandat.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>
