<form action="javascript:void(0)" name="refus_demande" novalidate>

    <!-- MESSAGE REFUS -->
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label for="liMessage">Motif du refus</label>
        <input type="text" class="form-control" id="liMessage" name="liMessage" maxlength="100">
    </div>

</form>