<div class="modal fade" role="dialog" id="validerDemande">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title"><strong>Validation de la demande</strong></h3>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
                <div class="col-md-offset-1">

                    <!-- CONTENT CLOSURE -->
                    {% include "@batch/gestion/modal/content.html.twig" %}

                </div>
            </div>

            <!-- PIED DE PAGE DU MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn-nebula-red" id="refuser_demande">Refuser</button>
                <button type="button" class="btn-nebula" id="valider_demande" data-dismiss="modal"></button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->