<div class="modal fade" role="dialog" id="modalConfirmation">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- EN TÊTE DU MODAL -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>Mosaic - Confirmation</strong></h4>
            </div>

            <!-- CORPS DU MODAL -->
            <div class="modal-body">
            </div>

            <!-- PIED DE PAGE DO MODAL -->
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="confirm_no">Non</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="confirm_yes">Oui</button>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal fade -->