<!-- CONTENT -->
<fieldset class="x_content">
    <form action="javascript:void(0)" name="groupe" novalidate>

        <!-- LIBELLé -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liGrpParagraphe">Libellé</label>
            <input type="text" class="form-control" id="liGrpParagraphe" name="liGrpParagraphe" maxlength="80" pattern=".{2,80}" required>
            <span class="valid-nebula"></span>
        </div>

        <!-- GROUPE PRéCEDANT -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="idGrpParagraphePrec">Groupe précédent</label>
            <select class="form-control" name="idGrpParagraphePrec" id="idGrpParagraphePrec">
                <option value="" hidden></option>
            </select>
        </div>

        <!-- TYPE DOCUMENT -->
        <input type="hidden" name="idTypeDocument" value="{{ typeDocument?? '' }}">

        <!-- IDENTIFIANT UTILISATEUR -->
        <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

        <!-- COMMENTAIRE MAJ -->
        <textarea class="comment-groupe" name="liCommentaireMaj" id="liCommentaireMajGrp" hidden disabled></textarea>

        <!-- BUTTONS -->
        <div class="col-xs-offset-8">
            <button type="button" class="btn-nebula-default" id="reset_form_groupe">annuler</button>
            <button type="button" class="btn-nebula" id="valid_form_groupe" disabled>valider</button>
        </div>

    </form>
</fieldset>

