<fieldset class="x_content">
    <form action="javascript:void(0)" name="paragraphe" novalidate>

        <!-- LIBELLé -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="liParagraphe">Libellé</label>
            <input type="text" class="form-control" id="liParagraphe" name="liParagraphe" maxlength="60" pattern=".{2,60}" required>
            <span class="valid-nebula"></span>
        </div>

        <!-- GROUPE -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="idGrpParagraphe">Groupe</label>
            <select class="form-control" id="idGrpParagraphe" name="idGrpParagraphe" required>
                <option value="" hidden></option>
            </select>
            <span class="valid-nebula"></span>
        </div>

        <!-- PARAGRAPHE PRéCEDANT -->
        <div class="form-group col-md-6 col-sm-6 col-xs-12">
            <label for="idParagraphePrec">Paragraphe Précedant</label>
            <select class="form-control" id="idParagraphePrec" name="idParagraphePrec">
                <option value="" hidden></option>
            </select>
        </div>

        <!-- CONTENU -->
        <input type="text" name="liContenu" id="liContenu" pattern=".{50,}" hidden>

        <!-- TYPE DOCUMENT -->
        <input type="hidden" name="idTypeDocument" value="{{ typeDocument?? '' }}">

        <!-- IDENTIFIANT UTILISATEUR -->
        <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

        <!-- COMMENTAIRE MAJ -->
        <textarea class="comment-paragraphe" name="liCommentaireMaj" id="liCommentaireMajPrg" hidden disabled></textarea>

        <!-- BUTTONS -->
        <div class="col-xs-offset-8">
            <button type="button" class="btn-nebula-default" id="reset_form_paragraphe">annuler</button>
            <button type="button" class="btn-nebula" id="valid_form_paragraphe" disabled>valider</button>
        </div>

    </form>
</fieldset>


