<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste de contrats à valider</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF CONTRAT ON VALIDATION -->
            <table id="datatable-contrat" data-table-contrats="{{ contrats|json_encode }}" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <th>Matricule</th>
                    <th>Contrat</th>
                    <th>Nom complet</th>
                    <th>Type de contrat</th>
                    <th>Nature de contrat</th>
                    <th>Qualification</th>
                    <th>Date du début</th>
                    <th>Date de fin</th>
                    <th>Signataire</th>
                </tr>
                </thead>
                <!-- CONTENT CONTRAT -->
                <!-- Regardez le fichier table_contrat.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>