<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="redirection">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Redirection</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@salarie/gestion/modal/redirection/content.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="page_accueil">accueil</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="page_detail">voir le détail</button>
                <button type="button" class="btn-nebula-purple" data-dismiss="modal" id="page_contrat">créer un contrat</button>
            </div>

        </div>
    </div>
</div>