<div class="x_panel">
    <div class="x_title">
        <h2>Affectation</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="affectation" novalidate>

            <!-- POSITIONNEMENT DU POSTE  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idPositionnementposte">Positionnement du poste </label>
                <select class="form-control" name="idPositionnementposte" id="idPositionnementposte" required>
                    <option value="" hidden></option>
                    {% if  contrat.idPositionnementposte.idPositionnementposte is defined and contrat.idPositionnementposte.idPositionnementposte is not null %}
                        <option value="{{ contrat.idPositionnementposte.idPositionnementposte }}" selected>{{ contrat.idPositionnementposte.liPositionnementposte }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- SOCIéTé -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idSociete">Société</label>
                <select class="form-control" name="idSociete" id="idSociete" required>
                    <option value="" hidden></option>
                    {% if contrat.idSociete.idSociete is defined and contrat.idSociete.idSociete is not null %}
                        <option value="{{ contrat.idSociete.idSociete }}" selected>{{ contrat.idSociete.liSociete }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- AGENCE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idAgence">Agence</label>
                <select class="form-control" name="idAgence" id="idAgence" required>
                    <option value="" hidden></option>
                    {% if contrat.idAgence.idAgence is defined and contrat.idAgence.idAgence is not null %}
                        <option value="{{ contrat.idAgence.idAgence }}" selected>{{ contrat.idAgence.liAgence }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- ETABLISSEMENT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idEtablissement">Etablissement</label>
                <select class="form-control" name="idEtablissement" id="idEtablissement" required>
                    <option value="" hidden></option>
                    {% if contrat.idEtablissement.idEtablissement is defined and contrat.idEtablissement.idEtablissement is not null %}
                        <option value="{{ contrat.idEtablissement.idEtablissement }}" selected>{{ contrat.idEtablissement.liEtablissement }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- CONVENTION COLLECTIVE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idConventioncollective">Convention collective</label>
                <select class="form-control" name="idConventioncollective"  id="idConventioncollective" required>
                    <option value="" hidden></option>
                    {% if contrat.idConventioncollective.idConventioncollective is defined and contrat.idConventioncollective.idConventioncollective is not null %}
                        <option value="{{ contrat.idConventioncollective.idConventioncollective }}" selected>{{ contrat.idConventioncollective.liConventioncollective }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- ANNEXE 8 -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isAnnexe8" id="isAnnexe8" {{ (contrat.isAnnexe8 is defined and contrat.isAnnexe8 == 1) ? 'checked' : '' }}>
                <label for="isAnnexe8">Annexe 8</label>
            </div>

            <!-- MANAGER -->
            <div class="col-md-4 col-sm-6 col-xs-12 hide">
                <input type="checkbox" class="flat" name="isManager" id="isManager" {{ (contrat.isManager is defined and contrat.isManager == 1) ? 'checked' : '' }}>
                <label for="isManager">Manager</label>
            </div>

        </form>
    </fieldset>

</div>
