<div class="x_panel">
    <div class="x_title">
        <h2>Ancienneté</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="anciennete" novalidate>

            <!-- DATE ENTRéE GROUPE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtEntreeGroupe" data-toggle="tooltip" data-html="true" title="La date d’entrée dans le groupe Seris sans interruption de contrat de travail">Date entrée groupe</label>
                <input type="text" class="form-control" id="dtEntreeGroupe" name="dtEntreeGroupe" value="{{ (contrat.dtEntreeGroupe is defined and contrat.dtEntreeGroupe is not null) ? contrat.dtEntreeGroupe|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE ENTRéE SOCIéTé -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtEntreeSociete" data-toggle="tooltip" data-html="true" title="La date d’entrée dans la société sans interruption de contrat de travail dans la société">Date entrée société</label>
                <input type="text" class="form-control" id="dtEntreeSociete" name="dtEntreeSociete" value="{{ (contrat.dtEntreeSociete is defined and contrat.dtEntreeSociete is not null) ? contrat.dtEntreeSociete|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE ANCIENNETé BRANCHE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtAncienneteBranche" data-toggle="tooltip" data-html="true" title="La date d’entrée dans la branche sans interruption de contrat de travail">Date ancienneté branche</label>
                <input type="text" class="form-control" id="dtAncienneteBranche" name="dtAncienneteBranche" value="{{ (contrat.dtAncienneteBranche is defined and contrat.dtAncienneteBranche is not null) ? contrat.dtAncienneteBranche|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE ANCIENNETé CSP -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtAncienneteCsp" data-toggle="tooltip" data-html="true" title="Date d’entrée dans la catégorie sans interruption de contrat de travail dans la même catégorie">Date ancienneté CSP</label>
                <input type="text" class="form-control" id="dtAncienneteCsp" name="dtAncienneteCsp" value="{{ (contrat.dtAncienneteCsp is defined and contrat.dtAncienneteCsp is not null) ? contrat.dtAncienneteCsp|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
