<div class="x_panel">
    <div class="x_title">
        <h2>Classification</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="classification" novalidate>

            <!-- QUALIFICATION -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idQualifcontrat">Qualification</label>
                <select class="form-control" name="idQualifcontrat" id="idQualifcontrat" required>
                    <option value="" hidden></option>
                    {% if contrat.idQualifcontrat.idQualifcontrat is defined and contrat.idQualifcontrat.idQualifcontrat is not null %}
                        <option value="{{ contrat.idQualifcontrat.idQualifcontrat }}" selected>{{ contrat.idQualifcontrat.liQualifcontrat }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- CATéGORIE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCategorieemploye">Catégorie</label>
                <select class="form-control" name="idCategorieemploye" id="idCategorieemploye" required>
                    <option value="" hidden></option>
                    {% if contrat.idCategorieemploye.idCategorieemploye is defined and contrat.idCategorieemploye.idCategorieemploye is not null %}
                        <option value="{{ contrat.idCategorieemploye.idCategorieemploye }}" selected>{{ contrat.idCategorieemploye.liCategorieemploye }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- COEFFICIENT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCoeffcontrat">Coefficient</label>
                <select class="form-control" name="idCoeffcontrat" id="idCoeffcontrat" required>
                    <option value="" hidden></option>
                    {% if contrat.idCoeffcontrat.idCoeffcontrat is defined and contrat.idCoeffcontrat.idCoeffcontrat is not null %}
                        <option value="{{ contrat.idCoeffcontrat.idCoeffcontrat }}" selected>{{ contrat.idCoeffcontrat.liCoeffcontrat }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
