<div class="col-xs-12" id="listClausesContrat">
    <hr>

    <form action="javascript:void(0)" name="clause_opt_{{ clause_opt.idClausescontrat.idClausescontrat }}" novalidate>

        <!-- CLAUSES OPTIONNELLES -->
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4>{{ clause_opt.idClausescontrat.liClausescontrat }} :</h4>
            <input type="hidden" name="idClausescontrat" value="{{ clause_opt.idClausescontrat.idClausescontrat }}">
        </div>

    {% if clause_opt.idClausescontrat.idClausescontrat == '5' %}

        <!-- DURéE DE LA CLAUSE DE NON CONCURRENCE -->
        <div class="form-group col-md-2 col-sm-4 col-xs-6">
            <label for="nbDureeClauseNonConcurrence" data-toggle="tooltip" data-html="true" title="Durée en mois">Durée</label>
            <input type="number" class="form-control" id="nbDureeClauseNonConcurrence" name="nbDureeClauseNonConcurrence" value="{{ (clause_opt.nbDureeClauseNonConcurrence is defined ) ? clause_opt.nbDureeClauseNonConcurrence : '' }}" max="99" required>
            <span class="valid-nebula"></span>
        </div>

        <!-- POURCENTAGE DE LA CLAUSE DE NON CONCURRENCE -->
        <div class="form-group col-md-2 col-sm-4 col-xs-6">
            <label for="nbPourcentClauseNonConcurrence">Pourcentage</label>
            <input type="number" class="form-control" id="nbPourcentClauseNonConcurrence" name="nbPourcentClauseNonConcurrence" step="0.1" value="{{ (clause_opt.nbPourcentClauseNonConcurrence is defined ) ? clause_opt.nbPourcentClauseNonConcurrence : '' }}" max="999.9" required>
            <span class="valid-nebula"></span>
        </div>

    {% endif %}

    {% if clause_opt.idClausescontrat.idClausescontrat == '10' %}

        <!-- QUALIFICATION DéDIT-FORMATION -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="idQualifDeditFormation">Qualification à acquérir</label>
            <select class="form-control" name="idQualifDeditFormation" id="idQualifDeditFormation" required>
                <option value="" hidden></option>
                {% if clause_opt.idQualifDeditFormation.idQualifDeditFormation is defined and clause_opt.idQualifDeditFormation.idQualifDeditFormation is not null %}
                    <option value="{{ clause_opt.idQualifDeditFormation.idQualifDeditFormation }}" selected>{{ clause_opt.idQualifDeditFormation.liQualifDeditFormation }}</option>
                {% endif %}
            </select>
            <span class="valid-nebula"></span>
        </div>

        <!-- DIPLOME DéDIT-FORMATION -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liDiplomeDeditFormation">Diplome dédit de formation</label>
            <input type="text" class="form-control" id="liDiplomeDeditFormation" name="liDiplomeDeditFormation" value="{{ (clause_opt.liDiplomeDeditFormation is defined) ? clause_opt.liDiplomeDeditFormation : '' }}" maxlength="30"  required>
            <span class="valid-nebula"></span>
        </div>

        <!-- DéBUT DéDIT-FORMATION -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="dtDebutDeditFormation">Début de formation</label>
            <input type="text" class="form-control" id="dtDebutDeditFormation" name="dtDebutDeditFormation" value="{{ (clause_opt.dtDebutDeditFormation is defined and clause_opt.dtDebutDeditFormation is not null) ? clause_opt.dtDebutDeditFormation|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
            <i class="fa fa-calendar"></i>
            <span class="valid-nebula"></span>
        </div>

        <!-- FIN DéDIT-FORMATION -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="dtFinDeditFormation">Fin de formation</label>
            <input type="text" class="form-control" id="dtFinDeditFormation" name="dtFinDeditFormation" value="{{ (clause_opt.dtFinDeditFormation is defined and clause_opt.dtFinDeditFormation is not null) ? clause_opt.dtFinDeditFormation|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
            <i class="fa fa-calendar"></i>
            <span class="valid-nebula"></span>
        </div>

        <!-- COûT DéDIT-FORMATION EN CHIFFRE -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="nbCoutDeditFormation">Coût de formation en chiffre</label>
            <input type="number" class="form-control" id="nbCoutDeditFormation" name="nbCoutDeditFormation" step="0.01" value="{{ (clause_opt.nbCoutDeditFormation is defined) ? clause_opt.nbCoutDeditFormation : '' }}" max="9999999.99" required>
            <span class="valid-nebula"></span>
        </div>

        <!-- COûT DéDIT-FORMATION EN LETTRE -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liCoutDeditFormation">Coût de formation en lettre</label>
            <input type="text" class="form-control" id="liCoutDeditFormation" name="liCoutDeditFormation" value="{{ (clause_opt.liCoutDeditFormation is defined) ? clause_opt.liCoutDeditFormation : '' }}" maxlength="100" disabled required>
            <span class="valid-nebula"></span>
        </div>

        <!-- LIEU DéDIT-FORMATION -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liLieuDeditFormation" data-toggle="tooltip" data-html="true" title="Cette formation sera dispensée à …">Lieu de formation</label>
            <input type="text" class="form-control" id="liLieuDeditFormation" name="liLieuDeditFormation" value="{{ (clause_opt.liLieuDeditFormation is defined) ? clause_opt.liLieuDeditFormation : '' }}" maxlength="100" required>
            <span class="valid-nebula"></span>
        </div>

        <!-- ORGANISME DéDIT-FORMATION -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liOrganismeDeditFormation">Organisme de formation</label>
            <input type="text" class="form-control" id="liOrganismeDeditFormation" name="liOrganismeDeditFormation" value="{{ (clause_opt.liOrganismeDeditFormation is defined) ? clause_opt.liOrganismeDeditFormation : '' }}" maxlength="100" required>
            <span class="valid-nebula"></span>
        </div>

        <!-- PROGRAMME DéDIT-FORMATION -->
        <div class="form-group col-md-4 col-sm-6 col-xs-12">
            <label for="liProgrammeDeditFormation">Programme de formation</label>
            <input type="text" class="form-control" id="liProgrammeDeditFormation" name="liProgrammeDeditFormation" value="{{ (clause_opt.liProgrammeDeditFormation is defined) ? clause_opt.liProgrammeDeditFormation : '' }}" maxlength="60" required>
            <span class="valid-nebula"></span>
        </div>

    {% endif %}

    </form>
</div>
