<div class="x_panel hide">
    <div class="x_title">
        <h2>Clauses additionnelles</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    {% if contrat.clause_add is defined and contrat.clause_add|length > 0 %}
        {% set clause_add = contrat.clause_add[0] %}
    {% endif %}

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="clause_add" novalidate>

            <!-- SOCIéTé DE L'ANCIEN EMPLOYEUR -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liSocieteAncienEmployeur" data-toggle="tooltip" data-html="true" title="Si transfert intra-groupe, reporter la société figurant sur la fiche du dernier contrat">Société de l'ancien employeur</label>
                <input type="text" class="form-control" id="liSocieteAncienEmployeur" name="liSocieteAncienEmployeur" value="{{ (clause_add.liSocieteAncienEmployeur is defined ) ? clause_add.liSocieteAncienEmployeur : '' }}" maxlength="20">
            </div>

            <!-- DATE D'EMBAUCHE ANCIEN EMPLOYEUR -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtEmbaucheAncienEmployeur" data-toggle="tooltip" data-html="true" title="Si transfert intra-groupe, reporter la date de début figurant sur la fiche du dernier contrat.">Date d'embauche ancien employeur</label>
                <input type="text" class="form-control" id="dtEmbaucheAncienEmployeur" name="dtEmbaucheAncienEmployeur" value="{{ (clause_add.dtEmbaucheAncienEmployeur is defined and clause_add.dtEmbaucheAncienEmployeur is not null) ? clause_add.dtEmbaucheAncienEmployeur|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" >
                <i class="fa fa-calendar"></i>
            </div>

            <!-- DATE SIGNATURE CONTRAT ANCIEN EMPLOYEUR -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtSignatureContratAncienEmployeur" data-toggle="tooltip" data-html="true" title="Si transfert intra-groupe, reporter la date de signature figurant sur la fiche du dernier contrat.">Date signature contrat ancien employeur</label>
                <input type="text" class="form-control" id="dtSignatureContratAncienEmployeur" name="dtSignatureContratAncienEmployeur" value="{{ (clause_add.dtSignatureContratAncienEmployeur is defined and clause_add.dtSignatureContratAncienEmployeur is not null) ? clause_add.dtSignatureContratAncienEmployeur|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" >
                
                <i class="fa fa-calendar"></i>
            </div>

            <!-- NOM DU SITE REPRIS  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liNomSiteRepris">Nom du site repris </label>
                <input type="text" class="form-control" id="liNomSiteRepris" name="liNomSiteRepris" value="{{ (clause_add.liNomSiteRepris is defined ) ? clause_add.liNomSiteRepris : '' }}" maxlength="30">
            </div>

            <!-- NIVE CHPOS ANCIEN EMPLOYEUR  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liNivechposAncienEmployeur">Niveau échelon position de l'ancien employeur</label>
                <input type="text" class="form-control" id="liNivechposAncienEmployeur" name="liNivechposAncienEmployeur" value="{{ (clause_add.liNivechposAncienEmployeur is defined ) ? clause_add.liNivechposAncienEmployeur : '' }}" maxlength="6">
            </div>

            <!-- QUALIFICATION DE L'ANCIEN EMPLOYEUR -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idQualifAncienEmployeur">Qualification de l'ancien employeur</label>
                <select class="form-control" name="idQualifAncienEmployeur" id="idQualifAncienEmployeur">
                    <option value="" hidden></option>
                    {% if clause_add.idQualifAncienEmployeur.idQualifcontrat is defined and clause_add.idQualifAncienEmployeur.idQualifcontrat is not null %}
                        <option value="{{ clause_add.idQualifAncienEmployeur.idQualifcontrat }}" selected>{{ clause_add.idQualifAncienEmployeur.liQualifcontrat }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- CATEGORIE DE L'ANCIEN EMPLOYEUR -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCategorieemployeAncienEmployeur">Categorie de l'ancien employeur</label>
                <select class="form-control" name="idCategorieemployeAncienEmployeur" id="idCategorieemployeAncienEmployeur">
                    <option value="" hidden></option>
                    {% if clause_add.idCategorieemployeAncienEmployeur.idCategorieemploye is defined and clause_add.idCategorieemployeAncienEmployeur.idCategorieemploye is not null %}
                        <option value="{{ clause_add.idCategorieemployeAncienEmployeur.idCategorieemploye }}" selected>{{ clause_add.idCategorieemployeAncienEmployeur.liCategorieemploye }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- COEFFICIENT DE L'ANCIEN EMPLOYEUR  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCoeffcontratAncienEmployeur">Coefficient de l'ancien employeur </label>
                <select class="form-control" name="idCoeffcontratAncienEmployeur" id="idCoeffcontratAncienEmployeur">
                    <option value="" hidden></option>
                    {% if clause_add.idCoeffcontratAncienEmployeur.idCoeffcontrat is defined and clause_add.idCoeffcontratAncienEmployeur.idCoeffcontrat is not null %}
                        <option value="{{ clause_add.idCoeffcontratAncienEmployeur.idCoeffcontrat }}" selected>{{ clause_add.idCoeffcontratAncienEmployeur.liCoeffcontrat }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- SALARIé PROTéGé -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isSalarieProtege" {{ (clause_add.isSalarieProtege is defined and clause_add.isSalarieProtege == 1) ? 'checked' : '' }}>
                <label for="isSalarieProtege">Salarié protégé</label>
            </div>

            <!-- NOMBRE D'HEURES DE FORMATION -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="nbHeures" data-toggle="tooltip" data-html="true" title="Indiquer le nombre d’heures de formation sur la totalité du contrat ">Nombre d'heures de formation</label>
                <input type="number" class="form-control" id="nbHeures" name="nbHeures" step="0.1" value="{{ (clause_add.nbHeures is defined ) ? clause_add.nbHeures : '' }}" max="9999.9">
            </div>

            <!-- PERSONNE REMPLACéE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idMatriculeRemplacement">Personne remplacée</label>
                <select class="form-control" name="idMatriculeRemplacement" id="idMatriculeRemplacement">
                    <option value="" hidden></option>
                    {% if clause_add.idMatriculeRemplacement.idMatricule is defined and clause_add.idMatriculeRemplacement.idMatricule is not null %}
                        <option value="{{ clause_add.idMatriculeRemplacement.idMatricule }}" selected></option>
                    {% endif %}
                </select>
            </div>

            <!-- MOTIF D'ABSENCE PERSONNE REMPLACéE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liMotifPersonneRemplacement" data-toggle="tooltip" data-html="true" title="Absent(e) pour cause de …">Motif d'absence personne remplacée</label>
                <input type="text" class="form-control" id="liMotifPersonneRemplacement" name="liMotifPersonneRemplacement" value="{{ (clause_add.liMotifPersonneRemplacement is defined ) ? clause_add.liMotifPersonneRemplacement : '' }}" maxlength="100">
            </div>

            <!-- MOTIF CONTRAT DE SURCROIT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liMotifSurcroit" data-toggle="tooltip" data-html="true" title="Dans le cadre d'un surcroît temporaire d'activité lié à …">Motif contrat de surcroit</label>
                <input type="text" class="form-control" id="liMotifSurcroit" name="liMotifSurcroit" value="{{ (clause_add.liMotifSurcroit is defined ) ? clause_add.liMotifSurcroit : '' }}" maxlength="100">
            </div>

            <!-- MOTIF CONTRAT SAISONNIER -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liMotifContratSaisonnier" data-toggle="tooltip" data-html="true" title="Pour un contrat à durée déterminée dans le cadre de …. ">Motif contrat saisonnier</label>
                <input type="text" class="form-control" id="liMotifContratSaisonnier" name="liMotifContratSaisonnier" value="{{ (clause_add.liMotifContratSaisonnier is defined ) ? clause_add.liMotifContratSaisonnier : '' }}" maxlength="100">
            </div>

            <!-- COEFFICIENT APRES PéRIODE D'ESSAI -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCoeffApresPe">Coefficient apres période d'essai</label>
                <select class="form-control" name="idCoeffApresPe" id="idCoeffApresPe">
                    <option value="" hidden></option>
                    {% if clause_add.idCoeffApresPe.idCoeffcontrat is defined and clause_add.idCoeffApresPe.idCoeffcontrat is not null %}
                        <option value="{{ clause_add.idCoeffApresPe.idCoeffcontrat }}" selected>{{ clause_add.idCoeffApresPe.liCoeffcontrat }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- ANCIEN TITULAIRE  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idMatriculeAncienTitulaire">Ancien titulaire </label>
                <select class="form-control" name="idMatriculeAncienTitulaire" id="idMatriculeAncienTitulaire">
                    <option value="" hidden></option>
                    {% if clause_add.idMatriculeAncienTitulaire.idMatricule is defined and clause_add.idMatriculeAncienTitulaire.idMatricule is not null %}
                        <option value="{{ clause_add.idMatriculeAncienTitulaire.idMatricule }}" selected></option>
                    {% endif %}
                </select>
            </div>

            <!-- DATE D'EMBAUCHE REMPLAçANT CDI -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtEmbaucheRemplacantCdi">Date d'embauche remplaçant CDI</label>
                <input type="text" class="form-control" id="dtEmbaucheRemplacantCdi" name="dtEmbaucheRemplacantCdi" value="{{ (clause_add.dtEmbaucheRemplacantCdi is defined and clause_add.dtEmbaucheRemplacantCdi is not null) ? clause_add.dtEmbaucheRemplacantCdi|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" >
                <i class="fa fa-calendar"></i>
            </div>

            <!-- DATE COURRIER DE DEMANDE DE TEMPS PARTIEL -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtCourrierDemandeTp" data-toggle="tooltip" data-html="true" title="Date du courrier demandant  un TP inférieur à 24 heures hebdomadaires ou 104 heures mensuelles. ">Date courrier de demande de temps partiel</label>
                <input type="text" class="form-control" id="dtCourrierDemandeTp" name="dtCourrierDemandeTp" value="{{ (clause_add.dtCourrierDemandeTp is defined and clause_add.dtCourrierDemandeTp is not null) ? clause_add.dtCourrierDemandeTp|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" >
                <i class="fa fa-calendar"></i>
            </div>

            <!-- MOTIF TEMPS PARTIEL -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idMotifTempspartiel">Motif temps partiel</label>
                <select class="form-control" name="idMotifTempspartiel" id="idMotifTempspartiel">
                    <option value="" hidden></option>
                    <option value="1" {{ (clause_add.idMotifTempspartiel.idMotifTempspartiel is defined and clause_add.idMotifTempspartiel.idMotifTempspartiel == 1) ? 'selected' : '' }}>Raisons personnelles</option>
                    <option value="2" {{ (clause_add.idMotifTempspartiel.idMotifTempspartiel is defined and clause_add.idMotifTempspartiel.idMotifTempspartiel == 2) ? 'selected' : '' }}>Cumul d'activité</option>
                </select>
            </div>

            <!-- TYPE DE DIPLOME  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTypeDiplome" data-toggle="tooltip" data-html="true" title="Niveau de diplome à préparer">Type de diplome </label>
                <select class="form-control" name="idTypeDiplome" id="idTypeDiplome">
                    <option value="" hidden></option>
                    {% if clause_add.idTypeDiplome.idTypeDiplome is defined and clause_add.idTypeDiplome.idTypeDiplome is not null %}
                        <option value="{{ clause_add.idTypeDiplome.idTypeDiplome }}" selected>{{ clause_add.idTypeDiplome.liTypeDiplome }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- DIPLôME PRéPARé -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="liIntituleDiplome">Diplôme préparé</label>
                <input type="text" class="form-control" id="liIntituleDiplome" name="liIntituleDiplome" value="{{ (clause_add.liIntituleDiplome is defined ) ? clause_add.liIntituleDiplome : '' }}" maxlength="60">
            </div>

            <!-- CYCLE DE FORMATION  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idCycleFormation" data-toggle="tooltip" data-html="true" title="Indiquer en quelle année du cycle est l’étudiant au début du contrat">Cycle de formation </label>
                <select class="form-control" name="idCycleFormation" id="idCycleFormation">
                    <option value="" hidden></option>
                    {% if clause_add.idCycleFormation.idCycleFormation is defined and clause_add.idCycleFormation.idCycleFormation is not null %}
                        <option value="{{ clause_add.idCycleFormation.idCycleFormation }}" selected>{{ clause_add.idCycleFormation.liCycleFormation }}</option>
                    {% endif %}
                </select>
            </div>

        </form>
    </fieldset>

</div>
