<div class="x_panel">
    <div class="x_title">
        <h2>Motif et dates</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="motif" novalidate>

            <!-- TYPE DE CONTRAT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTypecontrat">Type de contrat</label>
                <select class="form-control" name="idTypecontrat" id="idTypecontrat" required>
                    <option value="" hidden></option>
                    {% if contrat.idTypecontrat.idTypecontrat is defined and contrat.idTypecontrat.idTypecontrat is not null %}
                        <option value="{{ contrat.idTypecontrat.idTypecontrat }}" selected>{{ contrat.idTypecontrat.liTypecontrat }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- NATURE DE CONTRAT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idNaturecontrat">Nature de contrat</label>
                <select class="form-control" name="idNaturecontrat" id="idNaturecontrat" required>
                    <option value="" hidden></option>
                    {% if contrat.idNaturecontrat.idNaturecontrat is defined and contrat.idNaturecontrat.idNaturecontrat is not null %}
                        <option value="{{ contrat.idNaturecontrat.idNaturecontrat }}" selected>{{ contrat.idNaturecontrat.liNaturecontrat }}</option>
                    {% endif %}                        {
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DE DéBUT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtDebutcontrat">Date de début</label>
                <input type="text" class="form-control" id="dtDebutcontrat" name="dtDebutcontrat" value="{{ (contrat.dtDebutcontrat is defined and contrat.dtDebutcontrat is not null) ? contrat.dtDebutcontrat|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DE FIN PRéVUE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtFincontratPrevue">Date de fin prévue</label>
                <input type="text" class="form-control" id="dtFincontratPrevue" name="dtFincontratPrevue" value="{{ (contrat.dtFincontratPrevue is defined and contrat.dtFincontratPrevue is not null) ? contrat.dtFincontratPrevue|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" >
                <i class="fa fa-calendar"></i>
            </div>

            <!-- CONTENT CLOSURE -->
            {% if contrat.idMotiffincontrat is defined and contrat.idMotiffincontrat is not null %}
                {% include "@contrat/gestion/modal/cloture/content.html.twig" %}
            {% endif %}

        </form>
    </fieldset>

</div>
