<div class="x_panel">
    <div class="x_title">
        <h2>Période d'essai</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

        <form action="javascript:void(0)" name="periode_des" novalidate>

            <!-- DURéE INITIALE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="nbDureeInitiale">Durée initiale</label>
                <input type="number" class="form-control" id="nbDureeInitiale" name="nbDureeInitiale" value="{{ (contrat.nbDureeInitiale is defined ) ? contrat.nbDureeInitiale : '' }}" max="99" disabled required>
                <span class="valid-nebula"></span>
            </div>

            <!-- TYPE DE PéRIODE D'ESSAI -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTypePeriodeessai">Type de période d'essai</label>
                <select class="form-control" name="idTypePeriodeessai" id="idTypePeriodeessai" required>
                    <option value="" hidden></option>
                    {% if contrat.idTypePeriodeessai.idTypePeriodeessai is defined and contrat.idTypePeriodeessai.idTypePeriodeessai is not null %}
                        <option value="{{ contrat.idTypePeriodeessai.idTypePeriodeessai }}" selected>{{ contrat.idTypePeriodeessai.liTypePeriodeessai }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DE FIN INITIALE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtFinInitiale" data-toggle="tooltip" data-html="true" title="Calcul automatique en fonction de la durée initiale saisie au-dessus.">Date de fin initiale</label>
                <input type="text" class="form-control" id="dtFinInitiale" name="dtFinInitiale" value="{{ (contrat.dtFinInitiale is defined and contrat.dtFinInitiale is not null) ? contrat.dtFinInitiale|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DURéE DE RENOUVELLEMENT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="nbMoisRenouvellement">Durée de renouvellement</label>
                <input type="number" class="form-control" id="nbMoisRenouvellement" name="nbMoisRenouvellement" value="{{ (contrat.nbMoisRenouvellement is defined ) ? contrat.nbMoisRenouvellement : '' }}" max="99" disabled>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DE FIN RENOUVELLEMENT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="dtFinRenouvellement">Date de fin renouvellement</label>
                <input type="text" class="form-control" id="dtFinRenouvellement" name="dtFinRenouvellement" value="{{ (contrat.dtFinRenouvellement is defined and contrat.dtFinRenouvellement is not null) ? contrat.dtFinRenouvellement|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                <i class="fa fa-calendar"></i>
            </div>

        </form>
    </fieldset>

</div>
