<div class="col-xs-12" id="listPrimes">
    <hr>

    <!-- FORMULAIRE -->
    <form action="javascript:void(0)" name="primes_{{ prime.idPrimecontrat.idPrimecontrat }}" novalidate>

        <!-- PRIME CONTRAT -->
        <div class="col-md-3 col-sm-4 col-xs-12">
            <h4>{{ prime.idPrimecontrat.liPrimecontrat }} :</h4>
            <input type="hidden" name="idPrimecontrat" value="{{ prime.idPrimecontrat.idPrimecontrat }}">
        </div>

        {% if prime.idPrimecontrat.isParametrable == '1' %}
            <!-- TAUX PRIME -->
            <div class="form-group col-md-3 col-sm-4 col-xs-12">
                <label for="idTypeTauxprime">Type de prime</label>
                <select class="form-control" name="idTypeTauxprime" id="idTypeTauxprime" required>
                    <option value="" hidden></option>
                    <option value="1" {{ (prime.idTypeTauxprime is defined and prime.idTypeTauxprime.idTypeTauxprime == 1) ? 'selected' : '' }}>Horaire</option>
                    <option value="2" {{ (prime.idTypeTauxprime is defined and prime.idTypeTauxprime.idTypeTauxprime == 2) ? 'selected' : '' }}>Journalière</option>
                    <option value="3" {{ (prime.idTypeTauxprime is defined and prime.idTypeTauxprime.idTypeTauxprime == 3) ? 'selected' : '' }}>Forfaitaire</option>
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- MONTANT PRIME -->
            <div class="form-group col-md-3 col-sm-4 col-xs-12">
                <label for="nbMontantPrime">Montant prime</label>
                <input type="number" class="form-control" id="nbMontantPrime" name="nbMontantPrime" step="0.0001" value="{{ (prime.nbMontantPrime is defined ) ? prime.nbMontantPrime : '' }}" max="9999.9999" required>
                <span class="valid-nebula"></span>
            </div>

        {% endif %}

        {% if prime.idPrimecontrat.isParametrable == '0' %}
            <!-- OUI -->
            <div class="col-md-3 col-sm-4 col-xs-12">
                <input type="checkbox" class="flat" name="isAvecprime" checked>
                <label for="isAvecprime">Oui</label>
            </div>
        {% endif %}

    </form>

</div>

