<div class="x_panel">
    <div class="x_title">
        <h2>Rémunération et durée du travail</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="remuneration" novalidate>

            <!-- TEMPS DE TRAVAIL  -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTempsTravail">Temps de travail</label>
                <select class="form-control" name="idTempsTravail" id="idTempsTravail" required>
                    <option value="" hidden></option>
                    {% if contrat.idTempsTravail.idTempsTravail is defined and contrat.idTempsTravail.idTempsTravail is not null %}
                        <option value="{{ contrat.idTempsTravail.idTempsTravail }}" selected>{{ contrat.idTempsTravail.liTempsTravail }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- JOUR DE FORFAIT  -->
            <div class="form-group col-md-2 col-sm-4 col-xs-6 hide">
                <label for="nbJourForfait">Nombre de jour forfait</label>
                <input type="number" class="form-control" id="nbJourForfait" name="nbJourForfait" value="{{ (contrat.nbJourForfait is defined ) ? contrat.nbJourForfait : '' }}" max="999">
            </div>

            <!-- HORAIRE MENSUEL  -->
            <div class="form-group col-md-2 col-sm-4 col-xs-6">
                <label for="nbHoraireMensuel" data-toggle="tooltip" data-html="true" title="Pour un forfait heure : saisir le temps de travail mensuel prévu au contrat">Horaire mensuel</label>
                <input type="number" class="form-control" id="nbHoraireMensuel" name="nbHoraireMensuel" step="0.01" value="{{ (contrat.nbHoraireMensuel is defined ) ? contrat.nbHoraireMensuel : '' }}" max="999.99" disabled required>
                <span class="valid-nebula"></span>
            </div>

            <!-- HORAIRE ANNUEL -->
            <div class="form-group col-md-2 col-sm-4 col-xs-6">
                <label for="nbHoraireAnnuel">Horaire annuel</label>
                <input type="number" class="form-control" id="nbHoraireAnnuel" name="nbHoraireAnnuel" step="0.01" value="{{ (contrat.nbHoraireAnnuel is defined ) ? contrat.nbHoraireAnnuel : '' }}" max="9999.99" disabled readonly>
            </div>

            <!-- SALAIRE DE BASE -->
            <div class="form-group col-md-2 col-sm-4 col-xs-6">
                <label for="nbSalaireBase" data-toggle="tooltip" data-html="true" title="Salaire mensuel">Salaire de base en chiffre</label>
                <input type="number" class="form-control" id="nbSalaireBase" name="nbSalaireBase" step="0.01" value="{{ (contrat.nbSalaireBase is defined ) ? contrat.nbSalaireBase : '' }}" max="9999999.99" required>
                <span class="valid-nebula"></span>
            </div>

            <!-- SALAIRE DE BASE  -->
            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label for="liSalaireBase" data-toggle="tooltip" data-html="true">Salaire de base en lettre</label>
                <input type="text" class="form-control" id="liSalaireBase" name="liSalaireBase" value="{{ (contrat.liSalaireBase is defined ) ? contrat.liSalaireBase : '' }}" maxlength="100" disabled readonly>
            </div>

            <!-- TAUX HORAIRE -->
            <div class="form-group col-md-2 col-sm-4 col-xs-6">
                <label for="nbTauxHoraire">Taux horaire</label>
                <input type="number" class="form-control" id="nbTauxHoraire" name="nbTauxHoraire" step="0.01" value="{{ (contrat.nbTauxHoraire is defined ) ? contrat.nbTauxHoraire : '' }}" max="999.99" disabled readonly>
                <span class="valid-nebula"></span>
            </div>

            <!-- DéCOMPTE TEMPS DE TRAVAIL -->
            <div class="form-group col-md-2 col-sm-4 col-xs-6 hide">
                <label for="idDecompteTempsTravail">Décompte temps de travail</label>
                <select class="form-control" name="idDecompteTempsTravail" id="idDecompteTempsTravail">
                    <option value="" hidden></option>
                    {% if contrat.idDecompteTempsTravail.idDecompteTempsTravail is defined and contrat.idDecompteTempsTravail.idDecompteTempsTravail is not null %}
                        <option value="{{ contrat.idDecompteTempsTravail.idDecompteTempsTravail }}" selected>{{ contrat.idDecompteTempsTravail.liDecompteTempsTravail }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- CYCLE DE TEMPS PARTIEL -->
            <div class="form-group col-md-2 col-sm-4 col-xs-6 hide">
                <label for="idCycleTempsPartiel" data-toggle="tooltip" data-html="true" title="Si horaire variable d’une semaine sur l’autre, préciser la fréquence de variation, sinon 1 semaine">Cycle de temps partiel</label>
                <select class="form-control" name="idCycleTempsPartiel" id="idCycleTempsPartiel">
                    <option value="" hidden></option>
                    {% if contrat.idCycleTempsPartiel.idCycleTempsPartiel is defined and contrat.idCycleTempsPartiel.idCycleTempsPartiel is not null %}
                        <option value="{{ contrat.idCycleTempsPartiel.idCycleTempsPartiel }}" selected>{{ contrat.idCycleTempsPartiel.liCycleTempsPartiel }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- FRAIS DE DéPLACEMENT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idFraisdeplacement">Frais de déplacement</label>
                <select class="form-control" name="idFraisdeplacement" id="idFraisdeplacement">
                    <option value="" hidden></option>
                    {% if contrat.idFraisdeplacement.idFraisdeplacement is defined and contrat.idFraisdeplacement.idFraisdeplacement is not null %}
                        <option value="{{ contrat.idFraisdeplacement.idFraisdeplacement }}" selected> {{ contrat.idFraisdeplacement.liFraisdeplacement }}</option>
                    {% endif %}
                </select>
            </div>

            <!-- TICKET RESTAURANT -->
            <div class="col-md-4 col-sm-6 col-xs-12 hide">
                <input type="checkbox" class="flat" id="isTicketResto" name="isTicketResto" {{ (contrat.isTicketResto is defined and contrat.isTicketResto == 1) ? 'checked' : '' }}>
                <label for="isTicketResto" data-toggle="tooltip" data-html="true" title="Préciser si la personne souhaite des tickets restaurant">Ticket restaurant</label>
            </div>

        </form>
    </fieldset>

    <div class="clearfix"></div>
    <br>
    <div class="col-xs-12"  id="listTempsPartiel">
        {% include '@contrat/gestion/blocks/repartition/index.html.twig' %}
    </div>

</div>
