<div class="x_panel">
    <div class="x_title">
        <h2>Validation </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="validation" novalidate>

            <!-- DATE SIGNATURE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtSignature">Date signature</label>
                <input type="text" class="form-control" id="dtSignature" name="dtSignature" value="{{ (contrat.dtSignature is defined and contrat.dtSignature is not null) ? contrat.dtSignature|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- SIGNATAIRE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idSignataire">Signataire</label>
                <select class="form-control" name="idSignataire" id="idSignataire" required>
                    <option value="" hidden></option>
                    {% if contrat.idSignataire.idMatricule is defined and contrat.idSignataire.idMatricule is not null %}
                        <option value="{{ contrat.idSignataire.idMatricule }}" selected></option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
