<div class="x_panel">
    <div class="x_title">
        <h2>Activités</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="activites" novalidate>

            <!-- AGENT CYNOPHILE -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isCynophile" id="isCynophile"
                    {{ (cartepro.isCynophile is defined and cartepro.isCynophile == 1) ? 'checked' : '' }}>
                <label for="isCynophile" data-toggle="tooltip" data-html="true" title="Agent cynophile">
                    Agent cynophile
                </label>
            </div>

            <!-- OPéRATEUR DE VIDéOPROTECTION -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isVideoprotection" id="isVideoprotection"
                    {{ (cartepro.isVideoprotection is defined and cartepro.isVideoprotection == 1) ? 'checked' : '' }}>
                <label for="isVideoprotection" data-toggle="tooltip" data-html="true" title="Opérateur de vidéoprotection">
                    Opérateur de vidéoprotection
                </label>
            </div>

            <!-- OPéRATEUR DE TéLéPROTECTION -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isTeleprotection" id="isTeleprotection"
                        {{ (cartepro.isTeleprotection is defined and cartepro.isTeleprotection == 1) ? 'checked' : '' }}>
                <label for="isTeleprotection" data-toggle="tooltip" data-html="true" title="Agent de télésurveillance">
                    Agent de télésurveillance
                </label>
            </div>

            <!-- SûRETé AéROPORTUAIRE -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isAeroport" id="isAeroport"
                    {{ (cartepro.isAeroport is defined and cartepro.isAeroport == 1) ? 'checked' : '' }}>
                <label for="isAeroport" data-toggle="tooltip" data-html="true" title="Sûreté aéroportuaire">
                    Sûreté aéroportuaire
                </label>
            </div>

            <!-- SURVEILLANCE HUMAINE OU éLECTRONIQUE -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <input type="checkbox" class="flat" name="isSurveillance" id="isSurveillance"
                    {{ (cartepro.isSurveillance is defined and cartepro.isSurveillance == 1) ? 'checked' : '' }}>
                <label for="isSurveillance" data-toggle="tooltip" data-html="true" title="Surveillance humaine ou électronique">
                    Surveillance humaine ou électronique
                </label>
            </div>

        </form>
    </fieldset>

</div>
