<div class="x_panel">
    <div class="x_title">
        <h2>Carte professionnelle</h2>

        {% if cartepro.dtFinvalidite is defined and cartepro.dtFinvalidite|date('Y-m-d') < "now"|date('Y-m-d') %}
            <span style="color: white; font-weight: normal; margin-left: 5%" class="label label-danger">Expirée</span>
        {% endif %}

        <!-- DATE DERNIER CONTRôLE -->
        {% if app.request.requestUri matches '/cartepro\\/detail/' and
            (cartepro.dtDerniercontrole is defined and cartepro.dtDerniercontrole is not null)
        %}
            <span style="position:absolute; right: 12%">
                Date de son dernier contrôle :
                <span class="date-dernier-controle" style="color: #c92014; font-weight: bold; font-size: 16px;">
                    {{ cartepro.dtDerniercontrole|date('d/m/Y') }}
                </span>
            </span>
        {% endif %}

        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">
        <form action="javascript:void(0)" name="carte_pro" novalidate>

            <!-- TYPE CARTE PROFESSIONNELLE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTypeCartepro">Type carte professionnelle</label>
                <select class="form-control" name="idTypeCartepro" id="idTypeCartepro" required>
                    <option value="" hidden></option>
                    {% if  cartepro.idTypeCartepro.idTypeCartepro is defined and cartepro.idTypeCartepro.idTypeCartepro is not null %}
                        <option value="{{ cartepro.idTypeCartepro.idTypeCartepro }}" selected>{{ cartepro.idTypeCartepro.liTypeCartepro }}</option>
                   {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- NUMéRO DE CARTE PROFESSIONNELLE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="liNumCartepro">Numéro de carte professionnelle</label>
                    <input type="text" class="form-control" id="liNumCartepro" name="liNumCartepro"
                           value="{{ cartepro.liNumCartepro ?? '' }}" maxlength="32"
                           pattern="^([A-Z]{3}-|[A-Z]-[A-Z]{3}-)((\d+-){4}\d{11})" required>
                    <span class="valid-nebula"></span>
            </div>

            <!-- CONTROLE CARTE PRO -->
            {% if app.request.requestUri matches '/cartepro\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CARTEPRO_ADMIN']) %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <button type="button" class="btn-nebula" id="dernierControleUpdate">
                        Contrôler
                    </button>
                </div>
            {% endif %}

            <!-- DATE DéBUT DE VALIDITé -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtDebutvalidite">Date début de validité</label>
                <input type="text" class="form-control" id="dtDebutvalidite" name="dtDebutvalidite"
                       value="{{ (cartepro.dtDebutvalidite is defined and cartepro.dtDebutvalidite is not null) ? cartepro.dtDebutvalidite|date('d/m/Y') : '' }}"
                       maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE FIN DE VALIDITé -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtFinvalidite">Date fin de validité</label>
                <input type="text" class="form-control" id="dtFinvalidite" name="dtFinvalidite"
                       value="{{ (cartepro.dtFinvalidite is defined and cartepro.dtFinvalidite is not null) ? cartepro.dtFinvalidite|date('d/m/Y') : '' }}"
                       maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>

