<form action="javascript:void(0)" name="chiens_{{ loop.index ?? '' }}">

    <!-- NUMéRO D'IDENTIFICATION -->
    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="liIdentificationChien">Numéro d'identification</label>
        <input type="text" class="form-control" id="liIdentificationChien" name="liIdentificationChien"
               value="{{ (chien.liIdentificationChien is defined) ? chien.liIdentificationChien : '' }}" maxlength="50" pattern=".{2,50}" required>
        <span class="valid-nebula"></span>
    </div>

    <!-- DATE NAISSANCE -->
    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="dtNaissanceChien">Date naissance</label>
        <input type="text" class="form-control" id="dtNaissanceChien" name="dtNaissanceChien"
               value="{{ (chien.dtNaissanceChien is defined and chien.dtNaissanceChien is not null) ? chien.dtNaissanceChien|date('d/m/Y') : '' }}"
               maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
        <i class="fa fa-calendar"></i>
        <span class="valid-nebula"></span>
    </div>

    <!-- DATE VACCINATION -->
    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="dtVaccinationChien">Date vaccination</label>
        <input type="text" class="form-control" id="dtVaccinationChien" name="dtVaccinationChien"
               value="{{ (chien.dtVaccinationChien is defined and chien.dtVaccinationChien is not null) ? chien.dtVaccinationChien|date('d/m/Y') : '' }}"
               maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
        <i class="fa fa-calendar"></i>
        <span class="valid-nebula"></span>
    </div>

    <!-- DATE FIN VALIDITé DE LA MUTUELLE -->
    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="dtFinValiditeMutuelle" data-toggle="tooltip" data-html="true" title="Date fin validité de la mutuelle">
            Date fin validité de la mutuelle
        </label>
        <input type="text" class="form-control" id="dtFinValiditeMutuelle" name="dtFinValiditeMutuelle"
               value="{{ (chien.dtFinValiditeMutuelle is defined and chien.dtFinValiditeMutuelle is not null) ? chien.dtFinValiditeMutuelle|date('d/m/Y') : '' }}"
               maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
        <i class="fa fa-calendar"></i>
    </div>
    <!-- TAUX D'INDEMNITé -->
    <div class="form-group col-lg-4 col-sm-6 col-xs-12">
        <label for="idTauxIndemniteChien" data-toggle="tooltip" data-html="true" title="Si le chien possède une mutuelle en cours de validité, l’indemnité est de 1.13 €">Taux d'indemnité</label>
        <select class="form-control" name="idTauxIndemniteChien" id="idTauxIndemniteChien" required>
            <option value="" hidden></option>
            {% if  chien.idTauxIndemniteChien.idTauxIndemniteChien is defined and chien.idTauxIndemniteChien.idTauxIndemniteChien is not null %}
                <option value="{{ chien.idTauxIndemniteChien.idTauxIndemniteChien }}" selected>
                    {{ chien.idTauxIndemniteChien.liTauxIndemniteChien }}
                </option>
            {% endif %}
        </select>
        <span class="valid-nebula"></span>
    </div>

</form>
