{% extends 'app/base.html.twig' %}

{% block page_content %}
    <!-- CONTENT -->
    <div class="row">
      <div class="col-xs-12">
        <div class="block-nebula-title">
          <h1>{{ page_title }}</h1>
        </div>
      </div>

      <!-- CONTENT PANEL -->
      <div class="col-xs-12">
        <div class="block_nebula">


            <div class="col-md-6 col-sm-8 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Liste de formulaires </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form action="{{ path('generate_form') }}" method="post">
                            <div class="form-group col-md-8 col-sm-8 col-xs-8">
                                <label for="generate_form">Séléctioner un formulaire:</label>
                                <select name="generate_form" id="generate_form" class="form-control" >
                                    <option value="" hidden></option>
                                    <option value="salarie">Salarié</option>
                                    <option value="contrat">Contrat</option>
                                    <option value="avenant">Avenant</option>
                                    <option value="cartepro">Carte Pro</option>
                                    <option value="mutuelle">Mutuelle</option>
                                    <option value="acompte">Acompte</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <button type="submit" class="btn-nebula" id="generer">Générer</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>

        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- /CONTENT -->

{% endblock %}

{% block javascripts %}
    <script>
        $('#generer').click(function(){
            NProgress.inc();
        });
    </script>
{% endblock javascripts %}