<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        <!-- BLOCKS LEFT -->
        {{ app.request.requestUri matches '/salaries(\\/inactif)?\\/detail/'
            ? '<div class="col-md-8 col-sm-8 col-xs-12" id="blocks_left">'
            : '<div class="col-xs-12">' }}

            {% include "@salarie/gestion/blocks/block_info.html.twig" %}
            {% include "@salarie/gestion/blocks/identite.html.twig" %}
            {% include "@salarie/gestion/blocks/coordonnees.html.twig" %}
            {% include "@salarie/gestion/blocks/justificatif.html.twig" %}
            {% include "@salarie/gestion/blocks/personne/index.html.twig" %}
            {% include "@salarie/gestion/blocks/enfants/index.html.twig" %}
            {% include "@salarie/gestion/blocks/rib.html.twig" %}
            {% include "@salarie/gestion/blocks/info_add.html.twig" %}
        </div>

        <!-- BLOCKS RIGHT -->
        {% if app.request.requestUri matches '/salaries(\\/inactif)?\\/detail/' %}
            <div class="col-md-4 col-sm-4 col-xs-12" id="blocks_right">
                {% include "@salarie/gestion/blocks/menuannexe/avertissement.html.twig" %}
                {% include "@salarie/gestion/blocks/menuannexe/contrat.html.twig" %}
                {% include "@salarie/gestion/blocks/menuannexe/dematis.html.twig" %}
                {% include "@salarie/gestion/blocks/menuannexe/parcours.html.twig" %}
                {#{% include "@salarie/gestion/blocks/menuannexe/papiers.html.twig" %}#}
                {% include "@salarie/gestion/blocks/menuannexe/autorisation.html.twig" %}
                {% include "@salarie/gestion/blocks/menuannexe/irp.html.twig" %}
                {% include "@salarie/gestion/blocks/menuannexe/paie.html.twig" %}
                {# {% include "@salarie/gestion/blocks/menuannexe/sante.html.twig" %}#}
                {% include "@salarie/gestion/blocks/menuannexe/histo.html.twig" %}
            </div>
        {% endif %}

        <!-- BUTTON -->
        <div class="col-xs-12">

            <button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>

            <!-- PAGE NEW -->
            {% if app.request.requestUri matches '/salaries\\/new/' %}
                <button type="button" class="btn-nebula" id="send_form" disabled>Envoyer</button>
            {% endif %}

            {% if app.request.requestUri matches '/salaries\\/inactif\\/detail/' %}
                <button type="button" class="btn-nebula-purple" id="reactiver_salarie">réactiver</button>
            {% endif %}

            <!-- PAGE DETAIL -->
            {% if app.request.requestUri matches '/salaries\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_SALARIE_ADMIN']) %}
                <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
                <button type="button" class="btn-nebula" id="update_form">Modifier</button>
            {% endif %}
        </div>


        <!-- MENU ACTION -->
        {% include '@salarie/gestion/extra/menu_action.html.twig' %}


    </div>
</div>

