{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}

{% block page_content %}

    {% include '@salarie/gestion/breadcrumb.html.twig' %}

    <!-- CONTENT -->
    <div class="row">

        <!-- TITLE PANEL -->
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <div class="row">
                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                        <h1>{{ page_title }}</h1>
                    </div>

                    {% if app.request.requestUri matches '/salaries\\/detail/' %}
                        <div class="button-log-apps">

                            <a  data-toggle="modal" data-target="#myModalLogsGta">
                                <i id="icon-gta" class="fa fa-calendar" data-toggle="tooltip" data-html="true" title="" data-original-title="Voir l'interface Gestion des Temps et des Activités"></i>
                            </a>

                            <a type="button" data-toggle="modal" data-target="#myModalLogsRhpi">
                                <i id="icon-rhpi" class="fa fa-euro" data-toggle="tooltip" data-html="true" title="" data-original-title="Voir l'interface RHPI"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        {% include '@salarie/gestion/form.html.twig' %}

    </div>

{% endblock  %}

{% block modals %}

    {% if app.request.requestUri matches '/salaries\\/new/' %}
        <!-- MODAL REDIRECTION -->
        {% include "@salarie/gestion/modal/redirection/index.html.twig" %}
    {% endif %}

    <!-- MODAL LOGS RHPI -->
    {% include "@salarie/gestion/modal/logs/rhpi/index.html.twig" %}

    <!-- MODAL LOGS GTA -->
    {% include "@salarie/gestion/modal/logs/gta/index.html.twig" %}

    <!-- MODAL ENFANT -->
    {% include "@salarie/gestion/modal/enfants/index.html.twig" %}

    <!-- MODAL PHOTO -->
    {% include "@salarie/gestion/modal/photo/index.html.twig" %}

    {% if app.request.requestUri matches '/salaries(\\/inactif)?\\/detail/' %}

        <!-- MODAL CONTRAT INACTIF -->
        {% include "@contrat/gestion/modal/inactif/index.html.twig" with {'type': 'Contrat'} %}

        <!-- MODAL DEMATIS -->
        {% include "@salarie/gestion/modal/dematis/index.html.twig" %}

    {% endif %}

    {% if app.request.requestUri matches '/salaries\\/detail/' %}

        <!-- MODAL FICHE SALARIE -->
        {% include "@salarie/gestion/modal/fiche/index.html.twig" %}
        {% include '@entretien/gestion/modal/entretien/index.html.twig' %}
        {% include '@entretien/gestion/modal/absence/index.html.twig' %}
        {% include '@entretien/gestion/modal/planification/index.html.twig' %}
        {% include '@entretien/gestion/modal/convocation/index.html.twig' %}
    {% endif %}

{% endblock %}

{% block javascripts %}{% endblock javascripts %}