<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        <!-- PANNEAU -->
        <div class="col-xs-12">
            {% include "@admin/tables/panneau/index.html.twig" %}
        </div>

    </div>

</div>
