{% extends "@admin/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@admin/tables/breadcrumb.html.twig' %}
    {% endblock %}


<!-- CONTENT -->
<div class="row">

    <!-- TITLE PANEL -->
    <div class="col-xs-12">
        <div class="block-nebula-title">
            <h1>{{ page_title }}</h1>
        </div>
    </div>

    <!-- CONTENT PANEL -->
    {% include "@admin/tables/form.html.twig" %}

</div>

{% endblock  %}


{% block modals %}

    <!-- MODAL ADMIN TABLES -->
    {% include '@admin/tables/modal/index.html.twig' %}

    <!-- MODAL ADMIN TABLES CUSTOM -->
    {% include '@admin/tables/modal/gestion_droit/qualifcontrat/index.html.twig' %}

    <!-- MODAL ADMIN TABLES CUSTOM -->
    {% include '@admin/tables/modal/gestion_droit/combiniveauxelements/index.html.twig' %}

{% endblock %}


{% block javascripts %}

    <!-- ckeditor -->
    <script src="{{ asset('assets/js/ckeditor/document/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/js/ckeditor/document/translations/fr.js') }}"></script>


{% endblock javascripts %}