<div class="x_panel" id="panel-avenant">
    <div class="x_title">
        <h2>Avenant</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

        <form action="javascript:void(0)" name="avenant" novalidate>

            <!-- TYPE D'AVENANT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="idTypeavenant">Type avenant</label>
                <select class="form-control" name="idTypeavenant" id="idTypeavenant" required>
                    <option value="" hidden></option>
                    {% if contrat.idTypeavenant.idTypeavenant is defined and contrat.idTypeavenant.idTypeavenant is not null %}
                        <option value="{{ contrat.idTypeavenant.idTypeavenant }}" selected>{{ contrat.idTypeavenant.liTypeavenant }}</option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DEBUT AVENANT -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtDebutAvenant">Date début avenant</label>
                <input type="text" class="form-control" id="dtDebutAvenant" name="dtDebutAvenant" value="{{ (contrat.dtDebutAvenant is defined and contrat.dtDebutAvenant is not null) ? contrat.dtDebutAvenant|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE FIN -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                <label for="dtFinAvenant">Date fin avenant</label>
                <input type="text" class="form-control" id="dtFinAvenant" name="dtFinAvenant" value="{{ (contrat.dtFinAvenant is defined and contrat.dtFinAvenant is not null) ? contrat.dtFinAvenant|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
