<!-- CONTENT -->
<div class="col-md-2">
    <form action="javascript:void(0)" name="block_info" enctype="multipart/form-data">

        <!-- IMAGE PROFILE -->
        <div id="photo_info">
            <img src="{{ salarie.liCheminPhoto is defined and salarie.liCheminPhoto is not null ? asset('uploads/images/salaries/' ~ salarie.liCheminPhoto ) : asset('assets/images/user.png') }}">
            <span class="icon-photo-info"></span>
        </div>

        <!-- IDENTIFIANT UTILISATEUR -->
        <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}">

        <!-- MATRICULE UTILISATEUR -->
        <input type="hidden" name="idMatricule" value="{{ salarie.idMatricule }}">

        <!-- CONTRAT ORIGINE -->
        <input type="hidden" name="idContratOrigine" value="{{ contrat.idContratOrigine.idContrat?? contrat.idContrat }}">

        <!-- VALIDATION -->
        <input type="checkbox" name="isValid" disabled hidden {{ (contrat.isValid is defined and contrat.isValid == 1) ? 'checked' : '' }}>

    </form>

    <!-- CALC YEAR OLD SALARIE -->
    {% if salarie.dtNaissance is defined and salarie.dtNaissance is not null %}
        {% set age_salarie = date(salarie.dtNaissance, 'Y').diff(date('Y')) %}
    {% endif %}

    <!-- SHOW AGE -->
    <input type="text" class="form-control" id="age" value="{{ age_salarie.y ~ ' ans' }}" readonly>
</div>

<!-- INFO -->
<div class="col-md-offset-1 col-md-8  col-sm-offset-1 col-sm-6 col-xs-12">
    <!-- MATRICULE -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="idMatricule">Matricule</label>
        <input type="text" class="form-control" id="idMatricule" name="idMatricule"  value="{{ salarie.idMatricule is defined ? salarie.idMatricule : '' }}" readonly>
    </div>

    <!-- CODE CONTRAT -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="codeContrat">Code contrat</label>
        <input type="text" class="form-control" id="codeContrat" name="codeContrat" value="{{ contrat.idContratOrigine.idContrat is defined ? contrat.idContratOrigine.idContrat : contrat.idContrat is defined ? contrat.idContrat : '' }}" readonly>
    </div>

    <!-- NOM COMPLET -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="liPrenom">Nom complet</label>
        <input type="text" class="form-control" id="liPrenom" name="liPrenom" value="{{ salarie.liPrenom is defined and salarie.liNom is defined ? salarie.liPrenom|capitalize ~ ' ' ~ salarie.liNom  : '' }}" readonly>
    </div>

    <!-- DATE FIN DU DERNIER CONTRAT -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label for="dtFincontrat">Date fin du dernier contrat</label>
        <input type="text" class="form-control" id="dtFincontrat" name="dtFincontrat" value="{{ contrat.dtFincontrat is defined and contrat.dtFincontrat is not null ? contrat.dtFincontrat|date('d/m/Y') : '' }}" readonly>
    </div>

    <!-- CODE AVENANT -->
    <div class="form-group col-md-6 col-sm-6 col-xs-12 hide">
        <label for="idAvenant">Code avenant</label>
        <input type="text" class="form-control" id="idAvenant" name="idAvenant" value="{{ (contrat.idContrat is defined and contrat.idContrat is not null) ? contrat.idContrat : '' }}" readonly>
    </div>


</div>


<!-- STATUS INFO -->
{% include '@salarie/status_info.html.twig' %}
