<div class="x_panel">
    <div class="x_title">
        <h2>Période probatoire</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" class="flat" name="isProbatoire">
            <label for="isProbatoire">Période probatoire</label>
        </div>

        <form action="javascript:void(0)" name="periode_prob" novalidate>

            <!-- DURéE PERIODE PROBATOIRE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="nbDureePeriodeProbatoire">Durée période probatoire</label>
                <input type="number" class="form-control" id="nbDureePeriodeProbatoire" name="nbDureePeriodeProbatoire" value="{{ (contrat.nbDureePeriodeProbatoire is defined ) ? contrat.nbDureePeriodeProbatoire : '' }}" maxlength="2" pattern="[0-9]{2,2}">
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE FIN PERIODE PROBATOIRE -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="dtFinPeriodeProbatoire">Date de fin de période probatoire</label>
                <input type="text" class="form-control" id="dtFinPeriodeProbatoire" name="dtFinPeriodeProbatoire" value="{{ (contrat.dtFinPeriodeProbatoire is defined and contrat.dtFinPeriodeProbatoire is not null) ? contrat.dtFinPeriodeProbatoire|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

        </form>
    </fieldset>

</div>
