<div class="x_panel">
    <div class="x_title">
        <h2>Primes et indemnités</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content" id="type_prime">
        {% include '@contrat/gestion/blocks/primes/list.html.twig' %}
    </fieldset>
</div>


