<!-- PRIME CONTRAT -->
<div class="col-xs-12" id="primecontrat">
{% if params.primescontrat is defined %}

    {% for param in params.primescontrat %}
        <div class=" col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" class="flat" name="{{ param.liPrimecontrat }}" id="{{ param.idPrimecontrat }}"
                   value="{{ param.isParametrable }}"
            {% if contrat.primes is defined and contrat.primes|length > 0 %}
                {% for prime in contrat.primes %}
                    {{ (param.idPrimecontrat == prime.idPrimecontrat.idPrimecontrat) ? 'checked' : '' }}
                {% endfor %}
            {% endif %}
            >
            <label data-toggle="tooltip" data-html="true" title="{{ param.liPrimecontrat }}">{{ param.liPrimecontrat }}</label>
        </div>
    {% endfor %}

{% endif %}
</div>

<div class="clearfix"></div>
<br>
<div class="col-xs-12"  id="listTypePrime">
    {% if contrat.primes is defined and contrat.primes|length > 0 %}
        {% for prime in contrat.primes %}
            {% include '@contrat/gestion/blocks/primes.html.twig' %}
        {% endfor %}
    {% endif %}
</div>

