<div class="x_panel">
    <div class="x_title">
        <h2>Applications et Droit</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

        <div class="col-md-8 col-sm-8 col-xs-12" id="list_apps_right">

            <form action="javascript:void(0)" name="user_app_right" novalidate>

                <!-- APPLICATION -->
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="idApplication">Application</label>
                    <select class="form-control" name="idApplication" id="idApplication" required>
                        <option value="" hidden></option>
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- DROIT -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="checkbox" class="js-switch" name="isEcriture" id="isEcriture"> Administrateur
                    <label for="isEcriture"></label>
                </div>

                <!-- BUTTON ADD APP RIGHT -->
                <button type="button" class="btn-nebula-tool" id="add_app_right" disabled>
                    <i class="fa fa-plus-circle" data-toggle="tooltip" data-html="true" title="Ajouter role" ></i>
                </button>

            </form>

        </div>

        {% if user.jsRole is defined and user.jsRole|length > 0 %}
            {% set roles = user.jsRole %}
        {% endif %}


        <!-- BUTTONS REMOVE AND ADD ENFANT -->
        <button class="btn-nebula-tool pull-right hide" id="remove_app_right">
            <i class="fa fa-trash" data-toggle="tooltip" data-html="true" title="Supprimer role(s)" ></i>
        </button>


        <!-- LIST OF APPS AND RIGHT -->
        <div class="col-xs-4" id="list_user_right">
            {% include '@admin/utilisateurs/panneau/blocks/application/list.html.twig' %}
        </div>

    </fieldset>
</div>