<!-- LIST OF APPS AND RIGHT -->
{% if roles is defined and roles|length > 0 %}
    <ul class="to_do">
        {% for role in  roles %}
            <li class="user-app-right">
                <p>
                    <input type="checkbox" class="flat" name="idApplication" value="{{ role.idApplication }}" data-ecriture="{{ role.isEcriture }}" data-alias="{{ role.liAlias }}"> {{ role.liAlias }}
                </p>
            </li>

        {% endfor %}

    </ul>

{% else %}
    <p class="text-center">Aucun rôle attribué.</p>

{% endif %}