<div class="col-xs-9">

    <!-- DOCUMENT EDITOR -->
    <div class="document-editor">
        <div class="document-editor__toolbar"></div>
        <div class="document-editor__editable-container">
            <div class="document-editor__editable">
            </div>
        </div>
    </div>

</div>

<div class="col-xs-3">
    {% include '@admin/document/panneau/blocks/editor/variables.html.twig' %}
</div>