<!-- LIST OF VARIABLES -->
<div class="x_panel" id="liste-variables">
    <div class="x_title">
        <h2>Variables</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- OBJECT -->
        <div class="form-group col-xs-12">
            <label for="idTableObjet">Objets</label>
            <select class="form-control" data-tables-objet="{{ objets|json_encode }}" id="idTableObjet" name="idTableObjet">
                <option value="" hidden></option>
            </select>
        </div>

        <!-- VARIABLES -->
        <div class="form-group col-xs-12">
            <label for="liColonneObjet">Elements</label>
            <select class="form-control" id="liColonneObjet" name="liColonneObjet">
                <option value="" hidden></option>
            </select>
        </div>

    </div>
</div>

<div class="count-chars-editor"></div>
