<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form name="filter_log">

                <!-- STATUT -->
                <div class="form-group col-md-3 col-sm-4 col-xs-12">
                    <label for="idStatus">Statut</label>
                    <select class="form-control" name="idStatus" id="idStatus" required>
                        <option value="" hidden></option>
                        <option value="ALL">Tous les statuts</option>
                        <option value="EN_ATTENTE">EN ATTENTE</option>
                        <option value="KO">KO</option>
                    </select>
                    <span class="valid-nebula"></span>
                </div>

            </form>

            <p id="textFiltre">Utiliser le filtre pour accéder aux données</p>

        </div>
    </div>
</div>