{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}

{% endblock stylesheets %}


{% block page_content %}

    {% include '@salarie_log/breadcrumb.html.twig' %}

    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="block_nebula">

                <!-- FILTER -->
                {% include "@salarie_log/filter.html.twig" %}

                <!-- LIST OF LOGS -->
                {% include '@salarie_log/list.html.twig' %}

            </div>
        </div>

        <div class="clearfix"></div>

    </div>
    <!-- /CONTENT -->

{% endblock %}


{% block javascripts %}

{% endblock javascripts %}