<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des logs</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <!-- LIST OF LOGS -->
            <table id="datatable-log" class="table table-striped table-bordered dt-responsive nowrap">
                <thead>
                <tr>
                    <!--<th><input type="checkbox" id="select-all"/></th>-->
                    <th></th>
                    <th>Matricule</th>
                    <th>Nom complet</th>
                    <th>Interface</th>
                    <th>Element</th>
                    <th>Agence</th>
                    <th>Libellé élément</th>
                    <th>Log</th>
                    <th>Contrat/Avenant</th>
                    <th>Statut</th>
                    <th>Situation</th>
                </tr>
                </thead>
                <!-- CONTENT LOGS -->
                <!-- Regardez le fichier table_log.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
        {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}
            <button type="button" class="btn-nebula-red" id="supprimer" disabled>Supprimer</button>
        {% endif %}

    </div>
</div>
