<div class="x_panel">
    <div class="x_title">
        <h2>Exonération</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

        <!-- EXONERATION -->
        <div class="col-md-4 col-sm-6 col-xs-12">
            <input type="checkbox" class="flat" name="isExoneration" id="isExoneration">
            <label for="isExoneration">Exonération</label>
        </div>

        <div class="clearfix"></div>

        <!-- FORM EXONERATION -->
        <form action="javascript:void(0)" name="exoneration" novalidate>

            <!-- MOTIF D'EXONéRATION -->
            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="idMotifExonerationMutuelle">Motif d'exonération</label>
                <select class="form-control" name="idMotifExonerationMutuelle" id="idMotifExonerationMutuelle" required>
                    <option value="" hidden></option>
                    {% if  exoneration.idMotifExonerationMutuelle.idMotifExonerationMutuelle is defined and exoneration.idMotifExonerationMutuelle.idMotifExonerationMutuelle is not null %}
                        <option value="{{ exoneration.idMotifExonerationMutuelle.idMotifExonerationMutuelle }}" selected>
                            {{ exoneration.idMotifExonerationMutuelle.liMotifExonerationMutuelle }}
                        </option>
                    {% endif %}
                </select>
                <span class="valid-nebula"></span>
            </div>

            <div class="form-group col-md-4 col-sm-6 col-xs-12 hide">
                <label for="dtDebutApplication">Date début d'application</label>
                <input type="text" class="form-control" id="dtDebutApplication" name="dtDebutApplication" value="{{ (exoneration.dtDebutApplication is defined and exoneration.dtDebutApplication is not null) ? exoneration.dtDebutApplication|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

            <!-- DATE DE FIN D'APPLICATION -->
            <div class="form-group col-md-4  col-sm-6 col-xs-12 hide">
                <label for="dtFinApplication">Date de fin d'application</label>
                <input type="text" class="form-control" id="dtFinApplication" name="dtFinApplication" value="{{ (exoneration.dtFinApplication is defined and exoneration.dtFinApplication is not null) ? exoneration.dtFinApplication|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}">
                <i class="fa fa-calendar"></i>
                <span class="valid-nebula"></span>
            </div>

        </form>

    </fieldset>

</div>