    <div class="x_panel">
        <div class="x_title">
            <h2>Mutuelle&nbsp;</h2>
            {% if mutuelle.exoneration is defined and mutuelle.exoneration|length > 0 %}
                <span style="color: white; font-weight: normal; margin-left: 6px;" class="label label-success"> Exonérée</span>
            {% endif %}
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <!-- CONTENT -->
        <fieldset class="x_content">
            <form action="javascript:void(0)" name="mutuelle" novalidate>

                <!-- CONTRAT CONCERNé -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="idContrat">Contrat</label>
                    <select class="form-control" name="idContrat" id="idContrat" required>
                        <option value="" hidden></option>
                        {% if mutuelle.idContrat is defined and mutuelle.idContrat is not null %}
                            <option value="{{ mutuelle.idContrat.idContrat }}" selected>
                                {{ mutuelle.idContrat.idTypecontrat.liTypecontrat }} -
                                {{ mutuelle.idContrat.idSociete.liSociete }} -
                                {{ mutuelle.idContrat.dtDebutcontrat ? mutuelle.idContrat.dtDebutcontrat|date('d/m/Y') : '' }} -
                                {{ mutuelle.idContrat.dtFincontrat ? mutuelle.idContrat.dtFincontrat|date('d/m/Y') : mutuelle.idContrat.dtFincontratPrevue ? mutuelle.idContrat.dtFincontratPrevue|date('d/m/Y') : ''  }}
                            </option>
                        {% endif %}
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- TYPE MUTUELLE -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="idTypeMutuelle">Type mutuelle</label>
                    <select class="form-control" name="idTypeMutuelle" id="idTypeMutuelle" required>
                        <option value="" hidden></option>
                        {% if  mutuelle.idTypeMutuelle.idTypeMutuelle is defined and mutuelle.idTypeMutuelle.idTypeMutuelle is not null %}
                            <option value="{{ mutuelle.idTypeMutuelle.idTypeMutuelle }}" selected>
                                {{ mutuelle.idTypeMutuelle.liTypeMutuelle }}
                            </option>
                        {% endif %}
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <!-- DATE DéBUT D'ADHéSION -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="dtDebutAdhesion">Date début d'adhésion</label>
                    <input type="text" class="form-control" id="dtDebutAdhesion" name="dtDebutAdhesion" value="{{ (mutuelle.dtDebutAdhesion is defined and mutuelle.dtDebutAdhesion is not null) ? mutuelle.dtDebutAdhesion|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" required>
                    <i class="fa fa-calendar"></i>
                    <span class="valid-nebula"></span>
                </div>

                <!-- DATE FIN D'ADHéSION -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="dtFinAdhesion">Date fin d'adhésion</label>
                    <input type="text" class="form-control" id="dtFinAdhesion" name="dtFinAdhesion" value="{{ (mutuelle.dtFinAdhesion is defined and mutuelle.dtFinAdhesion is not null) ? mutuelle.dtFinAdhesion|date('d/m/Y') : '' }}" maxlength="10" pattern="\d{2}\/\d{2}\/\d{4}" >
                    <i class="fa fa-calendar"></i>
                </div>

                <!-- MUTUELLE DE L'EST -->
                <div class="col-xs-4">
                    <input type="checkbox" class="flat" name="isMutuelleEst" id="isMutuelleEst" {{ (mutuelle.isMutuelleEst is defined and mutuelle.isMutuelleEst == 1) ? 'checked' : '' }}>
                    <label for="isMutuelleEst" data-toggle="tooltip" data-html="true" title="Cocher si sur attestation carte vitale est indiqué 'régime Alsace Moselle'">
                        Mutuelle de l'Est
                    </label>
                </div>

                <!-- MATRICULE MAJ -->
                <input type="hidden" name="idMatriculeMaj" value="{{ app.user.idMatricule }}" >

            </form>
        </fieldset>

    </div>
