<!-- Tab Content -->
<div class="col-xs-10">
    <div class="tab-content">

        <!-- CONTENT PARAMS -->
        <div class="tab-pane active" id="table_param">
            <!-- FORM PARAMS -->
            {% include '@admin/tables/panneau/blocks/params.html.twig' %}

            <!-- LIST ELEMENTS -->
            {% include '@admin/tables/panneau/blocks/params/list.html.twig' %}

        </div>

        <!-- CONTENT COMBIS -->
        <div class="tab-pane" id="table_combi">
            <!-- FORM COMBIS -->
            {% include '@admin/tables/panneau/blocks/combis.html.twig' %}

            <!-- LIST ELEMENTS -->
            {% include '@admin/tables/panneau/blocks/combis/list.html.twig' %}

        </div>

        <!-- CONTENT OTHERS -->
        <div class="tab-pane" id="table_param_gestion_droit">
            <!-- FORM PARAM GESTION DROIT -->
            {% include '@admin/tables/panneau/blocks/droit.html.twig' %}

            <!-- FORM PARAM GESTION DROIT -->
            {% include '@admin/tables/panneau/blocks/droit/list.html.twig' %}

        </div>

    </div>
</div>

<div class="clearfix"></div>
