<!-- Nav tabs -->
<div class="col-xs-2">
    <ul class="nav nav-tabs tabs-left" id="menu-tables">
        <li class="active">
            <a href="#table_param" data-toggle="tab">
                Params
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
        <li>
            <a href="#table_combi" data-toggle="tab">
                Combis
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
        <li>
            <a href="#table_param_gestion_droit" data-toggle="tab">
                Gestion Droits
                <span class="fa fa-chevron-right pull-right"></span>
            </a>

        </li>
    </ul>
</div>
