{% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_CONTRAT_USER']) %}
    <div class="col-xs-12 current-contrat" id="content_nebula" hidden>

        <div class="x_panel">
            <div class="x_title">
                <h2>Contrat en cours</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li id="idAdvertissementContrat" class="hide"><a class="advertissement"><i class="fa fa-exclamation-circle"></i> Contrat en cours de suppression</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <!-- CONTRAT -->
                <div class="col-md-12 col-sm-12 col-xs-12 align-with-photo">
                    <a id="linkContrat" href="#" target="_blank" style="color: inherit" data-toggle="tooltip" data-html="true" title="Afficher le détail du contrat"></a>
                </div>

                <!-- BOUTONS CONTRAT -->
                {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}
                    <div class="col-md-10 col-sm-12 col-xs-12 button-action">

                        <!-- BUTTON DOWNLOAD CONTRAT -->
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Télécharger le contrat">
                            <a id="idTelechargerContrat" href="javascript:void(0)"><i class="fa fa-download fa-2x"></i> Télécharger</a>
                        </div>

                        <!-- BUTTON DUPLICATE CONTRAT -->
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Dupliquer le contrat">
                            <a id="idDupliquerContrat" href="javascript:void(0)"><i class="fa fa-copy fa-2x"></i> Dupliquer</a>
                        </div>

                        <!-- BUTTON TRANSFER CONTRAT -->
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Transférer le contrat">
                            <a id="idTransfererContrat" class="dropdown-toggle my-tooltip" data-toggle="dropdown" href="javascript:void(0)"><i class="fa fa-share fa-2x"></i> Transférer</a>
                            <div class="dropdown-menu custom-menu">
                                <div><a class="dropdown-item custom-item transfert_agence" href="javascript:void(0)">Agence</a></div>
                                <div class="dropdown-divider"></div>
                                <div><a class="dropdown-item custom-item transfert_region" href="javascript:void(0)">Région</a></div>
                                <div class="dropdown-divider"></div>
                                <div><a class="dropdown-item custom-item transfert_societe" href="javascript:void(0)">Société</a></div>
                            </div>
                        </div>

                        <!-- BUTTON CLOSURE CONTRAT -->
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Clôturer le contrat">
                            <a id="idCloturerContrat" class="btn-cloturer" href="javascript:void(0)"><i class="fa fa-lock fa-2x"></i> Clôturer</a>
                        </div>

                        <!-- BUTTON DELETE CONTRAT -->
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Supprimer le contrat">
                            <a id="idSupprimerContrat" href="javascript:void(0)"><i class="fa fa-trash fa-2x"></i> Supprimer</a>
                        </div>

                        <!-- BUTTON NEW AVENANT -->
                        {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_AVENANT_ADMIN']) %}
                            <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Ajouter un avenant">
                                <a id="idAjouterAvenant" href="javascript:void(0)" target="_blank"><i class="fa fa-plus-circle fa-2x"></i> Avenant</a>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endif %}

