{% extends 'app/base.html.twig' %}

{% block stylesheets %}{% endblock stylesheets %}

{% block page_content %}

    {% block breadcrumb %}
        {% include '@salarie/accueil/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- WELCOME -->
    <div class="row">
        <div class="col-xs-12">
            <div class="welcome" id="accueil_content">
                <h1  style="font-size: 26px;"><span style="font-weight:300">Bonjour</span> {{ app.user.name|split(' ')[0] }}</h1>
            </div>

            <!-- ALERT MESSAGE CALENDAR -->
            <div id="alert_message_calendar"></div>

            {% block indicators %}
                <div class="indicateur-accueil">
                    {% include '@salarie/indicateur/indicators.html.twig' %}
                </div>
            {% endblock %}

        </div>
    </div>

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">
            <div class="block_nebula page-accueil">

                {% include '@salarie/accueil/search.html.twig' %}

                {% include '@salarie/accueil/salarie.html.twig' %}

                {% include '@salarie/accueil/contrat.html.twig' %}

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}

{% block modals %}

    <!-- MODAL CLOSURE -->
    {% include "@contrat/gestion/modal/cloture/index.html.twig" %}

    <!-- MODAL TRANSFERT -->
    {% include "@contrat/gestion/modal/transfert/index.html.twig" %}

    <!-- MODAL DUPLIQUE -->
    {% include "@contrat/gestion/modal/duplique/index.html.twig" %}

{% endblock %}


{% block javascripts %}{% endblock javascripts %}