<div class="col-xs-12 current-salarie" id="content_nebula" hidden>

    <div class="x_panel">
        <div class="x_title">
            <h2>Salarié info</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li id="idAdvertissementSalarie" class="hide"><a class="advertissement"><i class="fa fa-exclamation-circle"></i> Salarié en cours de suppression</a></li>
                <li><a id="refreshSalarie" data-toggle="tooltip" data-html="true" title="Rafraichir les données"><i class="fa fa-refresh"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {% include '@salarie/gestion/blocks/block_info.html.twig' %}

            <div class="clearfix"></div>

            <!-- BOUTONS SALARIE -->
            {% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_SALARIE_USER']) %}
                <div class="col-md-10 col-sm-12 col-xs-12 button-action">

                    <!-- BUTTON DETAIL SALARIE -->
                    <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Afficher le détail du salarié">
                        <a id="idFiche" href="javascript:void(0)" target="_blank"><i class="fa fa fa-id-card fa-2x"></i> Fiche</a>
                    </div>

                    <!-- BUTTON REACTIVATION SALARIE -->
                    <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Réactiver le salarié">
                        <a id="idReactiver" href="javascript:void(0)"><i class="fa fa-undo fa-2x"></i> Réactiver</a>
                    </div>

                    <!-- BUTTON LIST CARTE PRO -->
                    {% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_CARTEPRO_USER']) %}
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Afficher les cartes pro">
                            <a id="idCartepro" href="javascript:void(0)" target="_blank"><i class="fa fa-list-alt fa-2x"></i> Cartes Pro</a>
                        </div>
                    {% endif %}

                    <!-- BUTTON LIST ACOMPTES -->
                    {% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_ACOMPTE_USER']) %}
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Afficher les acomptes">
                            <a id="idAcompte" href="javascript:void(0)" target="_blank"><i class="fa fa-euro fa-2x"></i> Acomptes</a>
                        </div>
                    {% endif %}

                    <!-- BUTTON NEW CONTRAT -->
                    {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}
                        <div class="col-md-2 col-sm-2 col-xs-2" data-toggle="tooltip" data-html="true" title="Ajouter un contrat">
                            <a id="idAjouterContrat" href="javascript:void(0)" target="_blank"><i class="fa fa-plus-circle fa-2x"></i> Contrat</a>
                        </div>
                    {% endif %}

                </div>
            {% endif %}

        </div>
    </div>
</div>

