<div class="col-xs-12 current-salarie" id="content_nebula">
    <div class="x_panel">
        <div class="x_content">

            <div class="col-xs-10">

                <!-- RECHERCHER SALARIE -->
                <div class="form-group col-md-4 col-sm-4 col-xs-4">
                    <label for="idSearch">Rechercher salarié</label>
                    <select class="form-control" name="idSearch" id="idSearch">
                    </select>
                </div>

                <!-- AJOUTER SALARIE -->
                {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_SALARIE_ADMIN']) %}
                    <div class="col-md-2 col-sm-2 col-xs-2 align-with-input" data-toggle="tooltip" data-html="true" title="Ajouter un salarié">

                        <a href="{{ path('salarie_new') }}">
                            <i class="fa fa-plus-circle fa-2x"></i> Salarié
                        </a>

                    </div>
                {% endif %}

            </div>

        </div>
    </div>
</div>