{% if param_prg is defined and param_prg|length > 0 %}

    <!-- CONTENT -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <form action="javascript:void(0)" name="prg_elements_{{ loop.index }}" novalidate>

            <!-- ELEMENT -->
            <div class="col-xs-12">
                <label for="idElementParam_{{ loop.index }}" class="text-center"><strong>{{ param_prg.liTableParamDescription }}</strong></label>
                <select name="idElementParam" id="idElementParam_{{ loop.index }}" multiple data-placeholder="Tous les éléments.">
                    <option value="" hidden></option>
                </select>
                <input type="hidden" name="idTableParam" id="idTableParam_{{ loop.index }}" value="{{ param_prg.idTableParam is defined and param_prg.idTableParam is not null ? param_prg.idTableParam : '' }}">
            </div>

            <input type="reset" class="btn btn-default btn-sm" id="reset_form_element_{{ loop.index }}" onclick="resetSelectElementsPrg()">
            <button class="btn btn-default btn-sm" id="select_all_element_{{ loop.index }}" onclick="selectAllElementsPrg(this)">Sélécionner tous</button>

        </form>
    </div>

{% endif %}