
    <div class="col-xs-12" id="content_nebula">
        <div class="x_panel">
            <div class="x_title">
                <h2>Liste des éléments</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                {% if params is defined and params|length > 0 %}
                    <!-- LIST ELEMENT -->
                    <div class="col-xs-12"  id="liste-prg-elements">
                        {% for param_prg in  params %}
                            {% include '@admin/document/panneau/blocks/paragraphe/element/content.html.twig' %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

