<!-- TYPE DOCUMENT -->
<div class="form-group col-md-8 col-sm-8 col-xs-12">
    <label for="idTypeDocument">Type Salarié Protégé</label>
    <select name="idTypeIrp" id="idTypeIrp" class="form-control" required>
        <option value="" hidden></option>
        <option value="MANDAT">Création d'un Mandat avec Protection</option>
        <option value="PROTECTION">Création d'une Protection</option>
    </select>
    <span class="valid-nebula"></span>
</div>