<!-- MODAL ENFANT -->
<div class="modal fade" role="dialog" aria-hidden="true" id="typeIrp">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Que souhaitez-vous ajouter ?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="col-md-offset-1">
                    <!-- CONTENT TYPE DOCUMENT -->
                    <form action="{{ path('irp_creation_index', { idMatricule: salarie.idMatricule}) }}" name="type_irp" method="POST" novalidate>
                        {% include '@irp/gestion/modal/choice/content.html.twig' %}

                    </form>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="cancel_type_irp">annuler</button>
                <button type="submit" class="btn-nebula" id="valid_type_irp" disabled>valider</button>
            </div>
        </div>
    </div>

</div>

