<div class="col-xs-12" id="content_nebula">
    <div class="block_nebula" id="form_nebula">

        <!-- BLOCKS -->
        <div class="col-md-8 col-sm-8 col-xs-12" id="blocks_left">
            <div class="col-xs-12">
                {% include "@acompte/gestion/blocks/block_info.html.twig" %}
                {% include "@acompte/gestion/blocks/acompte.html.twig" %}
            </div>
        </div>

        <!-- BLOCKS RIGHT -->
        <div class="col-md-4 col-sm-4 col-xs-12" id="blocks_right">
            {% include "@acompte/gestion/blocks/menuannexe/avertissement.html.twig" %}
            {% include "@acompte/gestion/blocks/menuannexe/histo.html.twig" %}
        </div>

        <!-- BUTTON -->
        <div class="col-xs-12">

            <button type="button" class="btn-nebula-default" id="reset_form">Annuler</button>

            <!-- PAGE NEW -->
            {% if app.request.requestUri matches '/salaries\\/acomptes\\/new/' %}
                <button type="button" class="btn-nebula" id="send_form" disabled>Envoyer</button>
            {% endif %}

            <!-- PAGE DETAIL -->
            {% if app.request.requestUri matches '/salaries\\/acomptes\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_ACOMPTE_ADMIN']) %}

                {% if acompte.idCalendrierPaieDebut.idCalendrierPaie is defined and acompte.idCalendrierPaieDebut.idCalendrierPaie > "now"|date('Ym')|number_format %}
                    <button type="button" class="btn-nebula-red" id="remove_form">Supprimer</button>
                {% endif %}

                <!-- Show button modify if type of acompte is equal 1 ( Récurrent ) -->
                {% if acompte.idTypeAcompte.idTypeAcompte is defined and acompte.idTypeAcompte.idTypeAcompte == 1 %}
                    <button type="button" class="btn-nebula" id="update_form">Modifier</button>
                {% endif %}

            {% endif %}

        </div>

    </div>
</div>
