{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@acompte/gestion/breadcrumb.html.twig' %}
    {% endblock %}


    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT -->
        {% include "@acompte/gestion/form.html.twig" %}

    </div>


{% endblock %}


{% block modals %}

    {% if app.request.requestUri matches '/salaries\\/acomptes\\/new/' %}
        <!-- MODAL REDIRECTION -->
        {% include "@acompte/gestion/modal/redirection/index.html.twig" %}
    {% endif %}

{% endblock %}


{% block javascripts %}{% endblock javascripts %}