<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <!-- NAV MENU LEFT -->
            {% include 'app/topnav/nav_menu_left.html.twig' %}

            <!-- NAV MENU RIGHT -->
            {% include 'app/topnav/nav_menu_right.html.twig' %}

        </nav>
    </div>
</div>
<!-- /top navigation -->