<ul class="nav navbar-nav navbar-right">
    <li class="">
        <a href="javascript:void(0)" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="{{ asset('assets/images/user.png') }}" alt="">{{ app.user.username }}
            <span class=" fa fa-angle-down"></span>
        </a>
        {#<ul class="dropdown-menu dropdown-usermenu pull-right">#}
        {#<li><a href="javascript:void(0)"> Profile</a></li> #}{# {{ path('app_profile')}} #}
        {#<li>#}
        {#<a href="javascript:void(0)">#}
        {#<span>Settings</span>#}
        {#</a>#}
        {#</li>#}
        {#<li><a href="javascript:void(0)">Help</a></li>#}
        {#</ul>#}
    </li>

    <li role="presentation" class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope"></i>
            <span class="pulse badge bg-green" id="count_message"></span>
        </a>
        <ul id="moisac-notify-user" class="dropdown-menu list-unstyled msg_list" role="menu">
            {#<li>#}
            {#<a>#}
            {#<span class="image"><img src="{{ asset('assets/images/img.jpg') }}" alt="Profile Image" /></span>#}
            {#<span>#}
            {#<span>John Smith</span>#}
            {#<span class="time">3 mins ago</span>#}
            {#</span>#}
            {#<span class="message">#}
            {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
            {#</span>#}
            {#</a>#}
            {#</li>#}
            {#<li>#}
            {#<a>#}
            {#<span class="image"><img src="{{ asset('assets/images/img.jpg') }}" alt="Profile Image" /></span>#}
            {#<span>#}
            {#<span>John Smith</span>#}
            {#<span class="time">3 mins ago</span>#}
            {#</span>#}
            {#<span class="message">#}
            {#Film festivals used to be do-or-die moments for movie makers. They were where...#}
            {#</span>#}
            {#</a>#}
            {#</li>#}
            {#<li>#}
            {#<div class="text-center">#}
            {#<a>#}
            {#<strong>Alerts</strong>#}
            {#<i class="fa fa-angle-right"></i>#}
            {#</a>#}
            {#</div>                            #}
            {#</li>#}
        </ul>
    </li>
</ul>
