<ul class="nav navbar-nav navbar-left" id="menu_modules">

    <!-- CALENDRIER -->
    <li class="nav-module-calendrier">
        <a href="{{ path('calendrier_index') }}" class="dropdown-toggle">
            Calendrier
        </a>
    </li>

    <!-- RAPPORT -->
    <li class="nav-module-rapport">
        <a href="{{ path('rapport_dashboard_index') }}" class="dropdown-toggle">
            Reporting Meteor
        </a>
    </li>

</ul>