<!-- MODAL CHIEN -->
<div class="modal fade" id="myModalChien" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title pull-left" id="myModalLabel">Ajouter un chien</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_add_chien">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% include '@salarie/cartepro/gestion/blocks/chien.html.twig' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-nebula-default" data-dismiss="modal" id="cancel_add_chien">Annuler</button>
                <button type="button" class="btn-nebula" data-dismiss="modal" id="add_chien" disabled>Ajouter</button>
            </div>

        </div>
    </div>
</div>