<div class="col-xs-12 block_content_rapport hide" id="nebula_content">

    <div class="x_panel">
        <div class="x_title">
            <h2>Liste de {{ page_title }}</h2>
            <ul class="nav navbar-right panel_toolbox">

                <li data-toggle="tooltip" data-html="true" title="Cliquez pour afficher les informations pour ce rapport'">
                    <a class="btn-preview-rapport-image" style="margin-right: 12px">
                        <i class="fa fa-info-circle" style="font-size: 18px;"></i>
                    </a>
                </li>

                <li data-toggle="tooltip" data-html="true" title="Cliquez pour afficher la synthèse de filtre utilisé">
                    <a class="btn-preview-block-filter" style="margin-right: 12px">
                        <i class="fa fa-filter" style="font-size: 18px;"></i>
                    </a>
                </li>
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">

            <!-- CONTENT RAPPORT -->
            <div id="container_widget_tabs" role="tabpanel" data-example-id="togglable-tabs">

                <!-- LIST TABS -->
                <ul id="widget_tab" class="nav nav-tabs bar_tabs" role="tablist">

                    <!-- TABLEAU TAB -->
                    <li id="widget_tab_tableau" role="presentation" class="active">
                        <a href="#tab_rapport_tableau" id="rap-tableau-tab" role="tab" data-toggle="tab" aria-expanded="true">
                            Tableau
                        </a>
                    </li>
                    <li id="widget_tab_graphique" role="presentation" class="">
                        <a href="#tab_rapport_graphique" role="tab" id="rap-graphique-tab" data-toggle="tab" aria-expanded="false">
                            Graphique
                        </a>
                    </li>

                </ul>

                <!-- CONTENT TAB -->
                <div id="widget_tab_content">
                    <div id="tab_rapport_tableau" role="tabpanel" class="tab-pane fade active in" aria-labelledby="rap-tableau-tab">

                        <!-- RAPPORT PIVOT -->
                        <fieldset class="legend-pivot hide">
                            <legend>Tableau de synthèse</legend>
                            <div id="rapport_widget_pivot"></div>
                        </fieldset>

                        <!-- RAPPORT DATATABLE -->
                        <fieldset class="legend-datatable hide">
                            <legend>Tableau détaillé</legend>
                            <div id="rapport_widget_datatable">
                                <table id='datatable-rapport' class="table table-striped table-bordered table-responsive nowrap">
                                </table>
                            </div>

                            {% include '@rapport/includes/pictogramme.html.twig' %}

                        </fieldset>

                    </div>

                    <div id="tab_rapport_graphique" role="tabpanel" class="tab-pane fade" aria-labelledby="rap-graphique-tab">

                        <!-- RAPPORT CHART -->
                        <div class="rapport_widget_chart"></div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
