{% extends 'app/example-base.html.twig' %}

{% block stylesheets %}

    <!-- Widget Webix -->
    <link href="{{ asset('assets/widgets/webix/standard/codebase/webix.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/widgets/webix/pivot/codebase/pivot.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/widgets/webix/query/codebase/query.css') }}" rel="stylesheet">

    <!-- SearchBuilder -->
    <link href="{{ asset('assets/js/dataTables/plugins/searchBuilder/searchBuilder.min.css') }}" rel="stylesheet">

    <!-- Knockout Daterangepicker -->
    <link href="{{ asset('assets/vendors/knockout-daterangepicker/dist/daterangepicker.min.css') }}" rel="stylesheet">

{% endblock stylesheets %}


{% block site_title %}
    <a href="" class="site_title">
        <i class="fa fa-bar-chart"></i> <span>Rapport</span>
    </a>
{% endblock %}


{% block top_nav_menu_left %}
    {% include '@rapport/includes/top_nav_menu_left.html.twig' %}
{% endblock %}

{% block sidebar_menu %}
    {% include '@rapport/includes/sidebar_menu.html.twig' %}
{% endblock %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@rapport/includes/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">

            <div class="page-rapport">

                <div class="block_nebula">
                    {% include '@rapport/filtre/index.html.twig' %}
                    {% include '@rapport/alert/index.html.twig' %}
                    {% include '@rapport/content.html.twig' %}
                </div>

            </div>
        </div>

        <div class="clearfix"></div>

    </div>

{% endblock %}

{% block modals %}
    {% include '@rapport/modal/index.html.twig' %}
    {% include '@rapport/modal/datatable/index.html.twig' %}
    {% include '@rapport/modal/agenda/agenda.html.twig' %}
{% endblock %}

{% block javascripts %}

    <!-- Widget Webix -->
    <script src="{{ asset('assets/widgets/webix/standard/codebase/webix.js') }}"></script>
    <script src="{{ asset('assets/widgets/webix/pivot/codebase/pivot.js') }}"></script>
    <script src="{{ asset('assets/widgets/webix/query/codebase/query.js') }}"></script>
    <script src="{{ asset('assets/widgets/webix/locales/fr-FR.js') }}"></script>

    <!-- SearchBuilder -->
    <script src="{{ asset('assets/js/dataTables/plugins/searchBuilder/searchBuilder.min.js') }}"></script>

    <!-- Knockout Daterangepicker -->
    <script src="{{ asset('assets/vendors/knockout/dist/knockout.js') }}"></script>
    <script src="{{ asset('assets/vendors/knockout-daterangepicker/dist/daterangepicker.min.js') }}"></script>

    <!-- Custom Scripts -->
    <script src="{{ asset('dist/js/rapport.min.js') }}"></script>
    <script src="{{ asset('dist/js/calendrier.min.js') }}"></script>

{% endblock javascripts %}