
<div class="form-group hidden">
    <label for="idProcess" >idProcess</label>
    <input type="text" class="form-control" id="idProcess" name="idProcess" value="{{ (process.idProcess is defined and process.idProcess is not null) ? process.idProcess : '' }}">
</div>

<form action="javascript:void(0)" name="modal_process" novalidate>

    <div class="form-group">
        <label for="liProcess" >Processus</label>
        <input type="text" class="form-control" id="liProcess" name="liProcess" value="{{ (process.liProcess is defined and process.liProcess is not null) ? process.liProcess : '' }}">
    </div>

</form>