<!-- MENU ACTION -->
<nav class="navbar navbar-fixed-right navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate menu-pendant">

        <li> <!-- BUTTON REMOVE -->
            <a href="javascript:void(0)" class="btn-supprimer">
                <span class="desc animate">Supprimer</span>
                <span class="fa fa-trash"></span>
            </a>
        </li>

    </ul>
</nav>