.list-folder-nebula ul {
  margin-left: 10px;
  max-height: 140px;
  overflow-y: auto;
  list-style: none;
  line-height: 2em;
  li{
    font-size: 12px;
    position: relative;
    &:before{
      position: absolute;
      left: -22px;
      top: 0;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 1em;
      border-bottom: 1px solid #ddd;
      width: 15px;
    }

    &:after {
      position: absolute;
      left: -22px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 100%;
    }

    &.root{
      &:before{
        display: none;
      }

      &:after{
        display: none;
      }
    }

    &:last-child{
      &:after{ display: none }
    }
  }
}

#plus-folder {
  position: absolute;
  top: 8px;
  left: -12px;

  font-size: 10px;
  cursor: pointer;
  color: #FF1100

}

.list-folder-nebula {
  & i {
    &.fa-folder {
      font-size: 16px;
      color: $color-gris5;
    }

    &.fa-file {
      color: $color-gris5;
    }

  }

}

.onValidate.fa-folder-open {
  color: $color-info2;
}