div.button-log-apps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96px;
  float: right;
  margin-right: 42px;
  margin-top: 4px;

  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #005cb5;
    background-color: $color-bg3;
    font-size: 18px;

    &:hover {
      cursor: pointer;
      border: 1px solid lighten(#005cb5, 45%);
    }

    & i {
      color: $color-tertiary5;

      &.fa-euro {
        font-size: 22px;
      }
    }
  }
}