#controlNir.modal {
  text-align: center;
  padding: 0 !important;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
}

#controlNir .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#result_nir {
  padding: 6px;
  position: absolute;
  left: 6px;
  top: 100%;

  & li {
    cursor: pointer;
    text-align: left;
  }
  & img {
    width: 15%;
  }

}
