.list-folder-tree ul, {
  margin-left: 10px;
  max-height: 140px;
  overflow-y: auto;
  list-style: none;
  line-height: 2em;

  li{
    font-size: 12px;
    position: relative;
    &:before{
      position: absolute;
      left: -22px;
      top: -2px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 1em;
      border-bottom: 1px solid #ddd;
      width: 15px;
    }

    &:after {
      position: absolute;
      left: -22px;
      bottom: -7px;
      content: '';
      display: block;
      border-left: 1px solid #ddd;
      height: 100%;
    }

    &.root {
      &:before{
        display: none;
      }

      &:after{
        display: none;
      }
    }

    &:last-child {
      &:after{ display: none }
    }

    & i {
      font-size: 16px;
      margin-right: 4px;
      color: $color-info;

      &.fa-file-pdf-o {
        color: $color-secondary;
      }
    }
    
    & ul {
      margin-left: 5px;
      & li {
        margin-left: -18px;

        & a[data-uid] {
          font-size: 10px;
          text-overflow: ellipsis;
        }
      }

    }

  }

}

.file-list li:before{
  list-style-type: none;
  font-family: FontAwesome;
  display:block;
  content:'\f0f6';
  position:absolute;
  top:0;
  left:0;
  width:12px;
  height:12px;
  font-size:1.3em;
  color:#555;
}

li.folder-root ul{
  transition: all .3s ease-in-out;
  overflow:hidden;
}

li.folder-root.closed>ul{
  opacity:0;
  max-height:0;
}

li.folder-root.open>ul{
  opacity:1;
  display:block;
  max-height:1000px;
}
