// ******** IMG INFO **********
div#photo_info {
  width: 140px;
  height: 140px;
  margin-left: 15%;
  background-color: $color-gris3;
  border: 3px solid lighten($color-white, 50%);
  border-radius: 50%;
  margin-bottom: 20px;
  overflow:hidden;

  & img {
    width: 100%;
    border-radius: 50%;
    z-index: 1;
    -moz-force-broken-image-icon: 1;
  }

}

.photo-small {
  width: 90px !important;
  height: 90px !important;
}

.icon-photo-info {
  display: none;

  &::after, &::before {
    font-family: FontAwesome, serif;
    content: "\f030";
    z-index: 10;
    position: absolute;
    left: 140px;
    top: 100px;
    text-align: center;
    cursor: pointer;
  }

  &::after {
    left: 142px;
    top: 102px;
    font-size: 24px;

  }

  &::before {
    font-size: 28px;
    text-shadow: 0 0 14px #fff;
    color: white;
  }
}

// *** INPUT IMG ***
input[name="imageSalarie"] {
  display: none;

}


// *** INPUT AGE ***
#age {
  margin-top: -16px;
  margin-left: 72px;
  font-size: 1.2em;

}

// *** CROP IMAGE ***
#crop-image-nebula {
  width: 540px;
}

.crop-image {
  padding: 0.5em;
  width: calc(100%/2 - 1em);
}

#cropImage {
  &.modal {
    &:before {
      height: 10%
    }
  }
  & .modal-body {
  }
}
