#salarieReactive.modal {
  text-align: center;
  padding: 0!important;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
}

#salarieReactive .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}