#redirection.modal {
  text-align: center;
  padding: 0 !important;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
}

#redirection .modal-dialog {
  display: inline-block;
  vertical-align: middle;
}