<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <form name="filter_processus_calendrier">

                <!-- Processus -->
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label for="idProcess">Processus</label>
                    <select class="form-control" name="idProcess" id="idProcess">
                        <option value="0" hidden></option>
                    </select>
                    <span class="valid-nebula"></span>
                </div>

                <button type="button" class="btn-nebula" id="send_form_filter_process_calendrier">FILTRER</button>

            </form>

        </div>
    </div>
</div>