<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">

    <div class="x_panel" id="content_filter_rapport">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <div class="clearfix"></div>

        </div>

        <fieldset class="x_content">

            <!-- Mot clé -->
            <form action="javascript:void(0)" name="form_filter_rapport">

                <div class="col-md-8">
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="dtDebutRapport">Rechercher un rapport par mot-clé</label>
                        <div class="input-group">
                            <input id="liMotCle" type="text" class="form-control">
                            <div class="input-group-btn">
                                <a id="searchMotCleRapport" class="btn"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- THEME -->
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="idThemeRapport">Thème</label>
                        <select class="form-control" name="idTheme" id="idThemeRapport">
                            <option value="" hidden></option>
                        </select>
                    </div>

                    <!-- RAPPORT -->
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="idRapport">Rapport</label>
                        <select class="form-control" name="idRapport" id="idRapport" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                    <!-- PERIMETRE -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <label for="idAgence">Périmètre</label>
                        <select class="form-control" name="idAgence" id="idAgence" multiple>
                            <option value="" hidden></option>
                        </select>
                    </div>

                </div>

                <div class="row">
                    <!-- DATE DEBUT -->
                    <div class="form-group col-md-2 col-sm-6 col-xs-12">
                        <label for="dtDebutRapport">Date début</label>
                        <input type="text" class="form-control" id="dtDebutRapport" name="dtDebutRapport">
                        <i class="fa fa-calendar"></i>
                    </div>

                    <!-- DATE FIN -->
                    <div class="form-group col-md-2 col-sm-6 col-xs-12">
                        <label for="dtFinRapport">Date fin</label>
                        <input type="text" class="form-control" id="dtFinRapport" name="dtFinRapport">
                        <i class="fa fa-calendar"></i>
                    </div>
                </div>

                <!-- CHECKBOX SOUSTRAITANT -->
                <div class="col-md-4 col-sm-6 col-xs-12 hide">
                    <input type="checkbox" class="flat" name="isSousTraitantInterne" id="isSousTraitantInterneFiltreRapport">
                    <label for="isSousTraitantInterneFiltreRapport">Inclure STT Seris</label>
                </div>

            </form>

            <!-- CHAMPS RECHERCHE -->
            <form action="javascript:void(0)" name="form_search_fields" novalidate>
            </form>

            <!-- BUTTONS -->
            <div class="pull-right">
                <button type="button" class="btn-nebula-default" id="send_form_rapport_reinitialiser">reinitialiser</button>
                <button type="button" class="btn-nebula" id="send_form_rapport_filtrer" disabled>afficher</button>
            </div>

        </fieldset>

    </div>
</div>