<div class="col-xs-12" id="nebula_content">
    <button type="button" class="btn-nebula" data-dismiss="modal" id="addEtape">Nouveau</button>
    <div class="x_panel">
        <div class="x_title">
            <h2>Etape</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="table-responsive">
                <table id='datatable-etapes' data-table-etapes="{{ listEtapes is defined and listEtapes is not null ? listEtapes|json_encode : '' }}" class="table table-striped table-bordered dt-responsive nowrap" width="100%">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Libellé</th>
                        <th>Commentaire</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <!-- CONTENT ETAPES -->
                    <!-- Regardez le fichier admin.js pour travailler sur le contenu du tableau -->
                </table>
            </div>
        </div>
    </div>
</div>