<div class="x_panel">
    <div class="x_title">
        <h2>Exonération</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <!-- CONTENT -->
    <fieldset class="x_content">

        <div class="list-folder-nebula">

            {% if mutuelle.exoneration is defined and mutuelle.exoneration|length > 0 %}
                {% set exoneration = mutuelle.exoneration[0] %}
            {% endif %}

            <!-- LIST OF EXONERATION -->
            <ul id="content_list_exoneration">
                {% if exoneration is defined %}
                    <li>
                        <a href="#modalExoneration" data-target="#modalExoneration" data-toggle="modal" class="exoneration-modify">
                            <i class="fa fa-folder"></i>
                            {{ exoneration.idMotifExonerationMutuelle.liMotifExonerationMutuelle }}
                            {{ exoneration.dtDebutApplication ? ' - ' ~ exoneration.dtDebutApplication|date('d/m/Y') : '' }}
                            {{ exoneration.dtFinApplication ? ' au ' ~ exoneration.dtFinApplication|date('d/m/Y') : '' }}
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>

        {% if exoneration is not defined and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_MUTUELLE_ADMIN']) %}
            <a href="javascript:void(0)" class="btn-add-mutuelle" data-toggle="tooltip" data-html="true" title="Ajouter une mutuelle">
                <i class="fa fa-plus-circle m-1-3"></i> Ajouter
            </a>
        {% endif %}

    </fieldset>

</div>