<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="{{ path('mosaic_index') }}" class="site_title">
                <i class="fa fa-modx"></i> <span>Mosaïc</span>
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
       {% include 'app/sidebar/info.html.twig' %}

        <div class="clearfix"></div>
        <!-- menu sidebar -->
        {% include 'app/sidebar/menu.html.twig' %}

        <!-- menu footer buttons -->
       {% include 'app/sidebar/footer.html.twig' %}

    </div>
</div>
