<!-- PROFILE -->
<div class="profile">

    <div class="profile_pic">
        <img src="{{ asset('assets/images/user.png') }}"  class="img-circle profile_img">
    </div>

    <div class="profile_info text-center">
        <h2>{{ app.user.username }}</h2>
        <span>
            {{ app.user.roles|join matches '/ADMIN/' ? 'Administrateur' : 'Utilisateur' }}

        </span>
    </div>

</div>

<!-- ICON TO SWITCH REMOTE USER -->
{% if app.environment != 'prod' %}

    <div class="remote-user">
        <a href="javascript:void(0)" class="btn-remote-user">
            <span class="fa fa-sign-out"></span>
        </a>
    </div>

{% endif %}