<!-- SIDEBAR MENU -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">

            <!-- MENU ACCUEIL -->
            <li>
                <a href="{{ path('mosaic_index') }}"><i class="fa fa-home"></i>Accueil</a>
            </li>

            <!-- MENU INDICATEUR -->
            <li>
                <a><i class="fa fa-dashboard"></i>Indicateur<span class="fa fa-chevron-right"></span></a>
                <ul class="nav child_menu">
                    <li><a href="{{ path('indicateur_index') }}">Liste des indicateurs</a></li>
                </ul>
            </li>

            <!-- MENU SALARIE -->
            <li>
                <a><i class="fa fa-id-card"></i>Salarié<span class="fa fa-chevron-right"></span></a>
                <ul class="nav child_menu">
                    <li><a  href="{{ path('salarie_index') }}">Liste des salariés</a></li>
                    <li><a  href="{{ path('salarie_hors_cee_index') }}">Liste des salariés non européen</a></li>

                </ul>
            </li>

            <!-- MENU CONTRAT -->
            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}
            <li>
                <a><i class="fa fa-file-text"></i>Contrat<span class="fa fa-chevron-right"></span></a>
                <ul class="nav child_menu">
                    {#<li><a  href="javascript:void(0)">Liste des entrées / sorties</a></li>#}
                    {#<li><a  href="javascript:void(0)">Liste de l'historique des contrats</a></li>#}
                    <li><a  href="{{ path('contrat_index') }}">Liste des contrats à valider</a></li>
                    <li><a  href="{{ path('contrats_cloture_index') }}">Liste des contrats cloturés</a></li>

                    <!-- MANAGE AVENANT -->
                    {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_AVENANT_ADMIN']) %}
                        <li><a  href="{{ path('avenant_index') }}">Liste des avenants à valider</a></li>
                    {% endif %}

                    <!-- MANAGE ANALYTIQUE -->
                    {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_ANALYTIQUE_ADMIN']) %}
                        <li><a  href="{{ path('analytique_index') }}">Liste des analytiques</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            <!-- MENU AUTORISATION -->
            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CARTEPRO_USER']) %}
                <li>
                    <a><i class="fa fa-briefcase"></i>Autorisation<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ path('cartepro_index') }}">Liste des cartes pro</a></li>
                    </ul>
                </li>
            {% endif %}

            <!-- MENU MANDAT ET PROTECTION -->
            {% if is_granted(['ROLE_MOSAIC_USER', 'ROLE_IRP_USER']) %}
                <li>
                    <a><i class="fa fa-legal"></i>Mandat / Protection<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu">
                        <li><a  href="{{ path('irp_all_index') }}">Liste des Mandats / Protections</a></li>
                        <li><a  href="{{ path('mandat_classeur_social_index') }}">Classeur Social</a></li>
                    </ul>
                </li>
            {% endif %}

            <!-- MENU PAIE -->
            {% if is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_ACOMPTE_USER']) %}
                <li>
                    <a><i class="fa fa-credit-card"></i>Paie<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ path('acomptes_index') }}">Liste des acomptes</a></li>
                        {#<li><a href="{{ path('mutuelle_index') }}">Liste des mutuelles</a></li>#}
                    </ul>
                </li>
            {% endif %}

            <!-- MENU LOGS -->
            <li>
                <a><i class="fa fa-users"></i>Entretien<span class="fa fa-chevron-right"></span></a>
                <ul class="nav child_menu">
                    <li><a  href="{{ path('entretien_index') }}">Liste des entretiens professionnels</a></li>
                </ul>
            </li>

            <!-- MENU LOGS -->
            <li>
                <a><i class="fa fa-exchange"></i>Log<span class="fa fa-chevron-right"></span></a>
                <ul class="nav child_menu">
                    <li><a  href="{{ path('logs_index') }}">Liste des logs interface</a></li>
                </ul>
            </li>

            <!-- MENU ADMINISTRATION -->
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li>
                    <a><i class="fa fa-sliders"></i>Paramètres<span class="fa fa-chevron-right"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="{{ path('admin_document_index') }}">Gestion des documents</a></li>
                        <li><a href="{{ path('admin_users_index') }}">Gestion des utilisateurs</a></li>
                        <li><a href="{{ path('admin_tables_index') }}">Gestion des tables</a></li>
                    </ul>
                </li>
            {% endif %}

        </ul>
    </div>

</div>

