{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@mutuelle/gestion/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        {% include "@mutuelle/gestion/form.html.twig" %}
    </div>

{% endblock %}


{% block modals %}

    {% if app.request.requestUri matches '/salaries\\/mutuelles\\/new/' %}
        <!-- MODAL REDIRECTION -->
        {% include "@cartepro/gestion/modal/redirection/index.html.twig" %}
    {% endif %}

    {% if app.request.requestUri matches '/salaries\\/mutuelles\\/detail/' %}
        <!-- MODAL EXONERATION -->
        {% include "@mutuelle/gestion/modal/exoneration/index.html.twig" %}
    {% endif %}

{% endblock %}


{% block javascripts %}{% endblock javascripts %}