<div class="col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Liste des mutuelles</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {% if app.request.requestUri matches '/salaries\\/mutuelles\\/liste/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_MUTUELLE_ADMIN']) %}

                <!-- BUTTON ADD -->
                <div class="col-xs-12">
                    <button id="create_mutuelle" class="btn-nebula alignright">
                        Créer une mutuelle
                    </button>
                </div>

            {% endif %}

            <!-- LIST OF CARTE PRO -->
            <table id="datatable-mutuelle" class="table table-striped table-bordered dt-responsive nowrap">
                <!-- CONTENT MUTUELLE -->
                <!-- Regardez le fichier table_mutuelle.js pour travailler sur le contenu du tableau -->
            </table>

        </div>
    </div>
</div>