<div class="col-md-12 col-sm-12 col-xs-12" id="content_nebula">
    <div class="x_panel">
        <div class="x_title">
            <h2>Filtres</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-right"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <div class="col-md-8 col-sm-8 col-xs-12">

                <form name="filter_date">

                    <!-- ANNEE -->
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="idYear">Année</label>
                        <select class="form-control" name="idYear" id="idYear" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                    <!-- MOIS -->
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label for="idMonth">Mois</label>
                        <select class="form-control" name="idMonth" id="idMonth" required>
                            <option value="" hidden></option>
                        </select>
                        <span class="valid-nebula"></span>
                    </div>

                </form>

            </div>

            <!-- CSE -->
            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="col-xs-12">
                    <label for="idCse" class="text-center"><strong>CSE</strong></label>
                    <select name="idCse" id="idCse" multiple data-placeholder="Tous les éléments." required></select>
                    <span class="valid-nebula select-multiple-valid-nebula"></span>
                </div>

                <button class="btn btn-default btn-sm" id="reset_form_element">Réinitialiser</button>
                <button class="btn btn-default btn-sm" id="select_all_element">Sélectionner tous</button>

            </div>

            <button type="button" class="btn-nebula" id="download-mandat" disabled>Télécharger le classeur</button>

        </div>
    </div>
</div>