{% extends "@salarie/index.html.twig" %}

{% block stylesheets %}{% endblock stylesheets %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@irp/mandat/breadcrumb.html.twig' %}
    {% endblock %}


    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>{{ page_title }}</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="block_nebula">

                <!-- FILTER -->
                {% include "@irp/mandat/filter.html.twig" %}

            </div>
        </div>

        <div class="clearfix"></div>

    </div>

{% endblock %}


{% block modals %}{% endblock %}


{% block javascripts %}{% endblock javascripts %}