<div class="form-group hidden">
    <label for="idEtapeDate" >idEtapeDate</label>
    <input type="text" class="form-control" id="idEtapeDate" name="idEtapeDate" value="{{ (etapeDate.idEtapeDate is defined and etapeDate.idEtapeDate is not null) ? etapeDate.idEtapeDate : '' }}" readonly>
</div>

<div class="form-group">
    <label for="liProcess" >Processus</label>
    <input type="text" class="form-control" id="liProcess" name="liProcess" value="{{ (etapeDate.idEtape.idProcess.liProcess is defined and etapeDate.idEtape.idProcess.liProcess is not null) ? etapeDate.idEtape.idProcess.liProcess : '' }}" readonly>
</div>

<div class="form-group">
    <label for="liEtape">Etape</label>
    <input type="text" class="form-control" id="liEtape" name="liEtape" value="{{ (etapeDate.idEtape.liEtape is defined and etapeDate.idEtape.liEtape is not null) ? etapeDate.idEtape.liEtape : '' }}" readonly>

</div>

<div class="form-group">
    <label for="liCommentaire" >Description</label>
    <input type="text" class="form-control" id="liCommentaire" name="liCommentaire" value="{{ (etapeDate.idEtape.liCommentaire is defined and etapeDate.idEtape.liCommentaire is not null) ? etapeDate.idEtape.liCommentaire : '' }}" readonly>
</div>

<hr>

<div class="form-group">
    <label for="dtEtapeDate">Date de réalisation</label>
    <input type="text" class="form-control" id="dtEtapeDate" name="dtEtapeDate" value="{{ (etapeDate.dtEtapeDate is defined and etapeDate.dtEtapeDate is not null) ? etapeDate.dtEtapeDate|date('d/m/Y H:i:s') : '' }}"  readonly>
</div>

<div class="form-group">
    <div class="col-md-4 col-sm-4 col-xs-8">
        <label for="isPrive">Privé</label>
    </div>

    {% if etapeDate.idEtape.isPrive is defined and etapeDate.idEtape.isPrive is not null and etapeDate.idEtape.isPrive == 1  %}
        {% set checkedIsPrive = "checked" %}
    {% else %}
        {% set checkedIsPrive = "" %}
    {% endif %}

    <div class="col-md-4 col-sm-4 col-xs-8">
        <input id="isPrive" name="isPrive" type="checkbox" class="js-switch" {{ checkedIsPrive }} readonly/>
    </div>

</div>

{% if checkedIsPrive == "checked"  %}
    {% set hidden = "hidden" %}
{% else %}
    {% set hidden = "" %}
{% endif %}

<div class="form-group {{ hidden }}">
    <label for="dtEtapeAlerte">Date d'alerte</label>
    <input type="text" class="form-control" id="dtEtapeAlerte" name="dtEtapeAlerte" value="{{ (etapeDate.dtEtapeAlerte is defined and etapeDate.dtEtapeAlerte is not null) ? etapeDate.dtEtapeAlerte|date('d/m/Y H:i:s') : '' }}"  readonly>

</div>

<hr>

<form action="javascript:void(0)" name="modal_etape" novalidate>
    <div class="form-group">
        <div class="col-md-4 col-sm-4 col-xs-8">
            <label for="isRealise">Réalisé</label>
        </div>

        <div class="col-md-4 col-sm-4 col-xs-8">
            <input id="isRealise" name="isRealise" type="checkbox" class="js-switch"
                    {{ (etapeDate.isRealise is defined and etapeDate.isRealise is not null and etapeDate.isRealise == 1) ? 'checked' : '' }}
                    {{ is_granted(['ROLE_CALENDRIER_ADMIN']) ? '' : 'readonly' }}
            />
        </div>

    </div>

    <div class="row first-option" aria-required="true">
        <div class="col-md-4 col-sm-4 col-xs-8">
            <label>Statut</label>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <input type="radio" class="flat" name="isKo" id="isKoOff"
                    {{ (etapeDate.isKo is defined and etapeDate.isKo is not null and etapeDate.isKo == 0 ) ? 'checked' : '' }}
                    {{ is_granted(['ROLE_CALENDRIER_ADMIN']) ? '' : 'disabled' }}
            />
            <label for="isKoOff" style="margin-top: 5px">KO</label>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-8">
            <input type="radio" class="flat" name="isKo" id="isKoOn"
                    {{ (etapeDate.isKo is defined and etapeDate.isKo is not null and etapeDate.isKo == 1 ) ? 'checked' : '' }}
                    {{ is_granted(['ROLE_CALENDRIER_ADMIN']) ? '' : 'disabled' }}
            />
            <label for="isKoOn" style="margin-top: 5px">OK</label>
        </div>
    </div>

    <div class="form-group">
        <label for="liCommentaire">Commentaire</label>
        <input type="text" class="form-control" id="liCommentaire" name="liCommentaire"
               value="{{ (etapeDate.liCommentaire is defined and etapeDate.liCommentaire is not null) ? etapeDate.liCommentaire : '' }}"
                {{ is_granted(['ROLE_CALENDRIER_ADMIN']) ? '' : 'readonly' }}
        />
    </div>
</form>