<nav class="navbar navbar-fixed-right navbar-minimal animate" role="navigation">
    <div class="navbar-toggler animate">
        <span class="menu-icon"></span>
    </div>
    <ul class="navbar-menu animate menu-pendant">

        {% if app.request.requestUri matches '/contrats\\/new/' %}

            <li>
                <a href="javascript:void(0)" class="btn-save">
                    <span class="desc animate">Sauvegarder</span>
                    <span class="fa fa-save"></span>
                </a>
            </li>

        {% endif %}

        <!-- FUNCTION TO PAGE DETAIL -->
        {% if app.request.requestUri matches '/contrats\\/detail/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}

            <!-- BUTTON TELECHARGER -->
            <li>
                <a href="javascript:void(0)" class="btn-telecharger" >
                    <span class="desc animate">Télécharger</span>
                    <span class="fa fa-download"></span>
                </a>
            </li>

            <!-- DUPLICATE -->
            <li>
                <a href="javascript:void(0)" class="btn-dupliquer" id="copy_form">
                    <span class="desc animate">Dupliquer</span>
                    <span class="fa fa-copy"></span>
                </a>
            </li>

            <!-- BUTTON TRANSFERT -->
            <li class="dropdown">
                <a class="dropdown-toggle btn-tranferer" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">
                    <span class="desc animate">Transferer</span>
                    <span class="fa fa-share"></span>
                </a>
                <ul class="dropdown-menu animated slideInRight" role="menu" id="list_contrat_transfert">
                    <li><a href="javascript:void(0)" class="transfert_agence">Agence</a></li>
                    <li><a href="javascript:void(0)" class="transfert_region">Région</a></li>
                    <li><a href="javascript:void(0)" class="transfert_societe">Société</a></li>
                </ul>

            </li>

            <!-- BUTTON CLOSURE -->
            <li>
                <a href="javascript:void(0)" class="btn-cloturer" data-access-decloture="{{ is_granted(['ROLE_MOSAIC_ADMIN']) }}">
                    <span class="desc animate">Clôturer</span>
                    <span class="fa fa-lock"></span>
                </a>
            </li>

        {% endif %}

        {% if app.request.requestUri matches '/contrats\\/(detail|validate)/' and is_granted(['ROLE_MOSAIC_ADMIN', 'ROLE_CONTRAT_ADMIN']) %}

            <!-- BUTTON REMOVE -->
            <li>
                <a href="javascript:void(0)" class="btn-supprimer" >
                    <span class="desc animate">Supprimer</span>
                    <span class="fa fa-trash"></span>
                </a>
            </li>

        {% endif %}

        <!-- LIST OF CONTRAT SAVED -->
        <li class="dropdown">
            <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button">
                <span class="desc animate">Contrats</span>
                <span class="fa fa-folder-open"></span>
            </a>

            <ul class="dropdown-menu animated slideInRight" role="menu" id="list_contrat_saved"></ul>
        </li>

    </ul>
</nav>

