{% extends 'app/example-base.html.twig' %}

{% block stylesheets %}
{% endblock stylesheets %}


{% block site_title %}
    <a href="" class="site_title">
        <i class="fa fa-bar-chart"></i> <span>Accueil Reporting Exploitation</span>
    </a>
{% endblock %}


{% block top_nav_menu_left %}
    {% include '@rapport/includes/top_nav_menu_left.html.twig' %}
{% endblock %}

{% block sidebar_menu %}
    {% include '@rapport/includes/sidebar_menu.html.twig' %}
{% endblock %}


{% block page_content %}

    {% block breadcrumb %}
        {% include '@rapport/includes/breadcrumb.html.twig' %}
    {% endblock %}

    <!-- CONTENT -->
    <div class="row">
        <div class="col-xs-12">
            <div class="block-nebula-title">
                <h1>Accueil Reporting Exploitation</h1>
            </div>
        </div>

        <!-- CONTENT PANEL -->
        <div class="col-xs-12">

            <div class="block_nebula" style="background-color: #f7f7f7">
                {% include '@rapport/dashboard/filtre/index.html.twig' %}
                {% include '@rapport/dashboard/content.html.twig' %}
            </div>

        </div>

        <div class="clearfix"></div>

    </div>

{% endblock %}

{% block modals %}
    {% include '@rapport/modal/agenda/agenda.html.twig' %}
{% endblock %}

{% block javascripts %}

    <!-- Custom Scripts -->
    <script src="{{ asset('dist/js/rapport.min.js') }}"></script>
    <script src="{{ asset('dist/js/calendrier.min.js') }}"></script>

{% endblock javascripts %}